<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Kategori Bencana</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Kategori Bencana</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Bencana</label>
					<input
						class="form-control"
						id="bencana"
						type="text"
						placeholder="Nama Bencana"
						[(ngModel)]="bencana.nama_jenis_bencana"
						#namaBencana="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaBencana.invalid }"
						name="nama_bencana"
						required
					/>
					<div *ngIf="f.submitted && namaBencana.invalid" class="invalid-feedback">
						<div *ngIf="namaBencana.errors.required">Nama Bencana Wajib DiIsi</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Status</label>
					<select
						class="form-control digits"
						name="status_bencana"
						[(ngModel)]="bencana.status_bencana"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option [ngValue]="undefined" disabled>Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="0">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib DiIsi</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<label>Catatan</label>
				<textarea
					class="form-control"
					id="catatan_bencana"
					type="text"
					name="catatan"
					placeholder="Catatan..."
					[(ngModel)]="bencana.catatan"
				></textarea>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
