<app-breadcrumb [title]="'Kelulusan Berbelanja Kumpulan Wang Amanah Bantuan Bencana Negara (KWABBN)'" 
        [items]="['Pengurusan Tabung']" [active_item]="['Kelulusan']"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <button class="btn btn-primary mr-3" type="button" [routerLink]="['/main/approval-add']"><i
                            class="fa fa-plus mr-2"></i>Tambah</button>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="filter-ngx form-control" placeholder='Carian...' />
                        </div>
                    </div>
                    <div class="row mt-2 ml-1">
                        <div class="col-lg-12">
                            <div class="row">
                                <button type="button" class="btn btn-xs btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                    Carian Lanjut
                                </button>
                            </div>
                            <div class="row" [ngbCollapse]="!isCollapsed">
                                <div class="col-lg-12">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Katakunci</label>
                                                            <input class="form-control" type="text" placeholder="Katakunci">
                                                        </div>
                                                    </div>
    
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Kategori Carian</label>
                                                            <select class="form-control digits">
                                                                <option>Pilih</option>
                                                                <option>No Rujukan</option>
                                                                <option>Tarikh Surat</option>
                                                                <option>Kategori</option>
                                                                <option>Tarikh Kelulusan</option>
                                                                <option>Status</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Tarikh Mula</label>
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [displayMonths]="displayMonths"
                                                                    [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                                                                    ngbDatepicker #k1="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <button class="btn calendar" (click)="k1.toggle()" type="button"><i class="fa fa-calendar"></i></button> 
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Tarikh Tamat</label>
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [displayMonths]="displayMonths"
                                                                    [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                                                                    ngbDatepicker #k2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <button class="btn calendar" (click)="k2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <button class="btn btn-outline-primary mr-3" type="button" (click)="isCollapsed = !isCollapsed"
                                                        [attr.aria-expanded]="!isCollapsed">Cari</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Tabung</label>
                                <select class="form-control digits">
                                    <option>Pilih</option>
                                    <option>KWABBN</option>
                                    <option>Covid-19</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="custom-datatable">
                        <ngx-datatable class="bootstrap" [rows]="rows" [sortType]="SortType.multi" 
                            [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="100" [limit]="">

                            <ngx-datatable-column name="Tindakan" prop="action" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span>
                                        <div class="row">
                                            <a class="col-sm-6 col-md-4 col-xl-3" [routerLink]="['/main/approval-edit']"><i class="fa fa-edit">Kemaskini</i></a>
                                        </div>
                                        <div class="row">
                                            <a class="col-sm-6 col-md-4 col-xl-3"><i class="fa fa-trash"></i>Buang</a>
                                        </div>
                                        <div class="row">
                                            <a class="col-sm-6 col-md-4 col-xl-3" [routerLink]="['/main/edit-skb']"><i class="fa fa-archive"></i>SKB</a>
                                        </div>
                                        <div class="row">
                                            <a class="col-sm-6 col-md-4 col-xl-3" [routerLink]="['/main/direct-payment']"><i class="fa fa-money"></i>Bayaran Terus</a>
                                        </div>
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="No Rujukan" prop="refNo" [flexGrow]="0.5">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tabung" prop="funds" [flexGrow]="0.5">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Kategori" prop="category" [flexGrow]="0.5">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tarikh Surat" prop="letterDate" [flexGrow]="0.5">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Rujukan Surat" prop="letterRef" [flexGrow]="0.5">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tarikh Mula Kelulusan" prop="startDate" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tarikh Tamat Kelulusan" prop="lastDate" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Jumlah Belanja (Terbaru)" prop="total" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Baki Peruntukan (Terbaru)" prop="balance" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status" prop="status" [flexGrow]="0.5">
                                <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template
                                    ngx-datatable-footer-template
                                    let-rowCount="rowCount">
                                    <div style="padding: 5px 5px">
                                        Jumlah: {{ rowCount }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
