<app-breadcrumb [title]="'Medan'" [items]="['Main']" [active_item]="'Medan'"></app-breadcrumb>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2 btn-middle xl-20">
        <button class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3" type="button" [routerLink]="['/main/list-disaster']"><i
            class="fa fa-exclamation-triangle mr-2"></i> BENCANA</button>
      </div>

      <div class="col-lg-2 btn-middle xl-20">
        <button class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3" type="button" [routerLink]="['/main/list-ministry']"><i
            class="fa fa-th-large mr-2"></i> KEMENTERIAN</button>
      </div>
    </div>
  </div>
</div>
