<app-breadcrumb [title]="'Medan'" [items]="['Main']" [active_item]="'Medan'"></app-breadcrumb>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2">
        <button class="btn btn-light btn-lg" [routerLink]="['/main/list-disaster']">
          <div class="row justify-content-center">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
          <div class="row">
            Bencana
          </div>
        </button>
      </div>
    </div>

  </div>
</div>
