<app-breadcrumb [title]="'Medan'" [items]="['Main']" [active_item]="'Medan'"></app-breadcrumb>

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-disaster']"
				>
					<i class="fa fa-exclamation-triangle mr-2"></i>
					BENCANA
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-ministry']"
				>
					<i class="fa fa-th-large mr-2"></i>
					KEMENTERIAN
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/agency']"
				>
					<i class="fa fa-th-large mr-2"></i>
					AGENSI
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/executor']"
				>
					<i class="fa fa-th-large mr-2"></i>
					PELAKSANA
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-project-owner']"
				>
					<i class="fa fa-th-large mr-2"></i>
					PEMILIK PROJEK
				</button>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-district']"
				>
					<i class="fa fa-exclamation-triangle mr-2"></i>
					DAERAH
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-parliament']"
				>
					<i class="fa fa-th-large mr-2"></i>
					PARLIMEN
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-dun']"
				>
					<i class="fa fa-th-large mr-2"></i>
					DUN
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-state']"
				>
					<i class="fa fa-th-large mr-2"></i>
					NEGERI
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-damage']"
				>
					<i class="fa fa-th-large mr-2"></i>
					KEROSAKAN RUMAH
				</button>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-funds']"
				>
					<i class="fa fa-exclamation-triangle mr-2"></i>
					SUMBER DANA
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/list-victim']"
				>
					<i class="fa fa-th-large mr-2"></i>
					STATUS BERPINDAH
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/entrepreneur-loan']"
				>
					<i class="fa fa-th-large mr-2"></i>
					PINJAMAN USAHAWAN
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/announcement']"
				>
					<i class="fa fa-th-large mr-2"></i>
					SENARAI PENGUMUMAN
				</button>
			</div>

			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/house-project-owner']"
				>
					<i class="fa fa-th-large mr-2"></i>
					PEMILIK PROJEK RUMAH
				</button>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-lg-2 btn-middle xl-20">
				<button
					class="btn btn-outline-light border-1 btn-block btn-mail text-center p-3"
					type="button"
					[routerLink]="['/main/menu-setting/help-donation']"
				>
					<i class="fa fa-exclamation-triangle mr-2"></i>
					JENIS BANTUAN
				</button>
			</div>
		</div>
	</div>
</div>
