<app-breadcrumb [title]="'Pengurusan Pengguna'" [active_item]="['Pengurusan Pengguna']"></app-breadcrumb>
<div class="content d-flex flex-column flex-column-fluid">
	<div class="container-fluid">
		<div class="card card-custom gutter-b">
			<div class="card-body">
        <div class="row mb-1">
          <div class="col-6 justify-content-start pl-0">
            <div class="faq-form">
              <input
                class="form-control"
                type="text"
                placeholder="Carian..."
                [(ngModel)]="filter"
                (keyup.enter)="getUser()"
                [ngModelOptions]="{standalone: true}"
              />
              <i class="search-icon" data-feather="search"></i>
            </div>
          </div>

          <div class="col-2 justify-content-between pl-0">
            <button
              type="button"
              class="btn btn-primary"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
              title="Carian Lanjut"
              style="font-weight: 500"
            >
              <i class="fa fa-filter"></i>
            </button>
          </div>

          <div class="col-4 justify-content-end pr-0">
            <button
                [routerLink]="['/app/pengguna/tambah-edit-pengurusan-pengguna']"
                class="btn btn-primary pull-right"
              >
                <i class="fa fa-plus mr-2"></i>
                <b>Tambah</b>
              </button>
          </div>
        </div>

				<div class="row mb-2">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                  <form>
                    <div class="row mt-2">
                      <div class="col-lg-5">
                        <div class="form-group">
                          <label>Agensi</label>
                          <ng-select
                            [items]="agencies"
                            bindLabel="nama_agensi"
                            bindValue="nama_agensi"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="namaAgensi"
                            [(ngModel)]="filterAgensi"
                            [ngModelOptions]="{standalone: true}"
                          ></ng-select>
                        </div>
                      </div>

                      <div class="col-lg-5">
                        <div class="form-group">
                          <label>Peranan</label>
                          <ng-select
                            [items]="roles"
                            bindLabel="peranan"
                            bindValue="peranan"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="namaPeranan"
                            [(ngModel)]="filterPeranan"
                            [ngModelOptions]="{standalone: true}"
                          ></ng-select>
                        </div>
                      </div>

                      <div class="col-lg-2 mt-4 pl-0">
                        <button
                          class="btn btn-primary pull-right mt-1"
                          type="button"
                          (click)="isCollapsed = !isCollapsed"
                          [attr.aria-expanded]="!isCollapsed"
                          (click)="getUser()"
                        >
                        <i class="fa fa-search mr-2"></i>
                          <b>Cari</b>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

				<div class="row align-items-center">
					<!--<Primeng-TurboTable-Start>-->
					<div class="primeng-datatable-container">
						<p-table
							#dataTable
							styleClass="p-datatable-striped"
							[resizableColumns]="true"
							(onLazyLoad)="getUser($event)"
							[value]="primengTableHelper.records"
							rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
							[paginator]="false"
							[lazy]="true"
              [loading]="primengTableHelper.isLoading"
							[scrollable]="true"
							ScrollWidth="100%"
							[responsive]="primengTableHelper.isResponsive"
							[resizableColumns]="primengTableHelper.resizableColumns"
						>
							<ng-template pTemplate="header">
								<tr>
									<th style="width: 130px">Tindakan</th>
									<th style="width: 100px" pSortableColumn="nama">
										Nama
										<p-sortIcon field="nama"></p-sortIcon>
									</th>
									<th style="width: 130px" pSortableColumn="nama_agensi">
										Agensi
										<p-sortIcon field="nama_agensi"></p-sortIcon>
									</th>
									<th style="width: 130px" pSortableColumn="peranan">
										Peranan
										<p-sortIcon field="peranan"></p-sortIcon>
									</th>
									<th style="width: 130px" pSortableColumn="status_pengguna">
										Status
										<p-sortIcon field="jawatan_pengguna"></p-sortIcon>
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-record="$implicit">
								<tr>
									<td style="width: 130px">
										<div ngbDropdown class="btn-group" role="group" container="body">
											<button
												type="button"
												class="btn btn-primary btn-primeng dropdown-toggle"
												id="action"
												ngbDropdownToggle
											>
												<i class="fa fa-cog"></i>
												<span class="caret"></span>
												Tindakan
											</button>
											<div ngbDropdownMenu aria-labelledby="action">
												<button
													class="dropdown-item"
													[routerLink]="['/app/pengguna/tambah-edit-pengurusan-pengguna']"
                          [queryParams]="{id: record.id}"
												>
													Kemaskini
												</button>
                        <button
                          *ngIf="record.status_pengguna == 1"
													class="dropdown-item"
													(click)="approveConfirmation(record.id)"
												>
													Sahkan
												</button>
												<button class="dropdown-item">Padam</button>
											</div>
										</div>
									</td>
									<td style="width: 100px">
										<span class="p-column-title">Nama</span>
										{{record.nama}}
									</td>
									<td style="width: 130px">
										<span class="p-column-title">Agensi</span>
										{{record.nama_agensi}}
									</td>
									<td style="width: 130px">
										<span class="p-column-title">Peranan</span>
										{{record.peranan}}
									</td>
									<td style="width: 130px">
										<span class="p-column-title">Status</span>
										<div *ngIf="record.status_pengguna == 1">
                      <label>Permohonan</label>
                    </div>
                    <div *ngIf="record.status_pengguna == 2">
                      <label>Berdaftar</label>
                    </div>
                    <div *ngIf="record.status_pengguna == 3">
                      <label>Tidak Aktif</label>
                    </div>
                    <div *ngIf="record.status_pengguna == 4">
                      <label>Ditolak</label>
                    </div>
									</td>
								</tr>
							</ng-template>
						</p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
						<div class="primeng-paging-container justify-content-between">
							<p-paginator
								[rows]="primengTableHelper.defaultRecordsCountPerPage"
								#paginator
								(onPageChange)="getUser($event)"
								[totalRecords]="primengTableHelper.totalRecordsCount"
								[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
							></p-paginator>
							<span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
						</div>
					</div>
					<!--<Primeng-TurboTable-End>-->
				</div>
			</div>
		</div>
	</div>
</div>
