<app-breadcrumb [title]="'Senarai Pengguna'" [items]="['Pengurusan Pengguna']" [active_item]="['Senarai']"></app-breadcrumb>
<div class="content d-flex flex-column flex-column-fluid">
	<div class="container-fluid">
		<div class="card card-custom gutter-b">
			<div class="card-body">
        <div class="row mb-1">
          <div class="col-6 justify-content-start pl-0">
            <div class="faq-form">
              <input
                class="form-control"
                type="text"
                name="searchUser"
                placeholder="Carian..."
                (keyup)="applyFilter($event.target.value)"
              />
              <i class="search-icon" data-feather="search"></i>
            </div>
          </div>

          <div class="col-2 justify-content-between pl-0">
            <button
              type="button"
              class="btn btn-primary"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
              title="Carian Lanjut"
              style="font-weight: 500"
            >
              <i class="fa fa-filter"></i>
            </button>
          </div>

          <div class="col-4 justify-content-end pr-0">
            <button
              *ngIf="_appSession.isGranted('Halaman.Pengguna.Tambah')"
              [routerLink]="['/app/pengguna/tambah-edit']"
              class="btn btn-primary pull-right ml-2"
            >
              <i class="fa fa-plus mr-2"></i>
              <b>Tambah</b>
            </button>
            <button
              type="button"
              (click)="exportToExcel()"
              class="btn btn-outline-success pull-right"
            >
              <i class="fa fa-file-excel-o fa-lg mr-2"></i>
              <b>Excel</b>
            </button>
          </div>
        </div>

				<div class="row mb-2">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                  <form>
                    <div class="row mt-2">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Agensi</label>
                          <ng-select
                            [items]="agencies"
                            bindLabel="nama_agensi"
                            bindValue="id"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="namaAgensi"
                            [(ngModel)]="filterAgensi"
                          ></ng-select>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Peranan</label>
                          <ng-select
                            [items]="roles"
                            bindLabel="peranan"
                            bindValue="id"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="namaPeranan"
                            [(ngModel)]="filterPeranan"
                          ></ng-select>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Status</label>
                          <ng-select
                            [items]="statusPengguna"
                            bindLabel="nama"
                            bindValue="id"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="userStatus"
                            [(ngModel)]="filterStatus"
                          ></ng-select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-2 pr-1">
                        <div class="form-group custom-datepicker custom-datepicker-dropdown">
                          <label>Tarikh Daftar</label>
                          <div class="input-group">
                            <input
                              class="form-control"
                              placeholder="DD/MM/YYYY"
                              name="dp1"
                              [(ngModel)]="tarikhMula"
                              ngbDatepicker
                              #b="ngbDatepicker"
                              style="border: 1px solid #efefef !important;"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-light pr-2 pl-2" (click)="b.toggle()" type="button"><i
                                class="fa fa-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 pl-1">
                        <div class="form-group custom-datepicker custom-datepicker-dropdown">
                          <div class="input-group pt-4 mt-1">
                            <input
                              class="form-control"
                              placeholder="DD/MM/YYYY"
                              name="dp2"
                              [(ngModel)]="tarikhTamat"
                              ngbDatepicker
                              #c="ngbDatepicker"
                              style="border: 1px solid #efefef !important;"
                              [disabled]="tarikhMula == undefined"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-light pr-2 pl-2" (click)="c.toggle()" type="button" [disabled]="tarikhMula == undefined"><i
                                class="fa fa-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row no-gutters justify-content-end mb-2">
                      <button
                        class="btn btn-light mr-2"
                        type="reset"
                        (click)="resetFilter()"
                      >
                      <i class="fa fa-refresh mr-2"></i>
                        <b>Reset</b>
                      </button>

                      <button
                        class="btn btn-primary pull-right"
                        type="button"
                        (click)="getUser()"
                      >
                      <i class="fa fa-search mr-2"></i>
                        <b>Cari</b>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

				<div class="row align-items-center">
					<div class="primeng-datatable-container">
						<p-table
							#dataTable
							styleClass="p-datatable-striped"
							[resizableColumns]="true"
							(onLazyLoad)="getUser($event)"
							[value]="primengTableHelper.records"
							rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
							[paginator]="false"
							[lazy]="true"
              [loading]="primengTableHelper.isLoading"
							[scrollable]="true"
							ScrollWidth="100%"
							[responsive]="primengTableHelper.isResponsive"
							[resizableColumns]="primengTableHelper.resizableColumns"
						>
							<ng-template pTemplate="header">
								<tr>
									<th style="width: 220px; flex: none;" pSortableColumn="nama">
										Nama
										<p-sortIcon field="nama"></p-sortIcon>
									</th>
									<th style="width: 220px; flex: none;" pSortableColumn="emel">
										Emel
										<p-sortIcon field="emel"></p-sortIcon>
									</th>
									<th style="width: 160px; flex: none;" pSortableColumn="nama_agensi">
										Agensi
										<p-sortIcon field="nama_agensi"></p-sortIcon>
									</th>
									<th style="width: 100px; flex: none;" pSortableColumn="peranan">
										Peranan
										<p-sortIcon field="peranan"></p-sortIcon>
									</th>
                  <th style="width: 130px; flex: none;" pSortableColumn="tarikh_daftar">
										Tarikh Daftar
										<p-sortIcon field="tarikh_daftar"></p-sortIcon>
									</th>
									<th style="width: 100px; flex: none;" pSortableColumn="status_pengguna">
										Status
										<p-sortIcon field="jawatan_pengguna"></p-sortIcon>
									</th>
									<th *ngIf="_appSession.isGranted('Halaman.Pengguna.Edit')" style="width: 130px">Tindakan</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-record="$implicit">
								<tr>
									<td style="width: 220px; flex: none;">
										<span class="p-column-title">Nama</span>
										{{record.nama}}
									</td>
									<td style="width: 220px; flex: none;">
										<span class="p-column-title">Emel</span>
										{{record.emel}}
									</td>
									<td style="width: 160px; flex: none;">
										<span class="p-column-title">Agensi</span>
										{{record.nama_agensi}}
									</td>
									<td style="width: 100px; flex: none;">
										<span class="p-column-title">Peranan</span>
										{{record.peranan}}
									</td>
                  <td style="width: 130px; flex: none;">
										<span class="p-column-title">Tarikh Daftar</span>
										{{record.tarikh_daftar | date:'dd-MM-yyyy'}}
									</td>
									<td style="width: 100px; flex: none;">
										<span class="p-column-title">Status</span>
										{{getStatus(record.status_pengguna)}}
									</td>
									<td style="width: 130px; flex: none;" *ngIf="_appSession.isGranted('Halaman.Pengguna.Edit')">
										<div ngbDropdown class="btn-group" role="group" container="body">
											<button
												type="button"
												class="btn btn-primary btn-primeng dropdown-toggle"
												id="action"
												ngbDropdownToggle
											>
												<i class="fa fa-cog"></i>
												<span class="caret"></span>
												Tindakan
											</button>
											<div ngbDropdownMenu aria-labelledby="action">
												<button
													class="dropdown-item"
													[routerLink]="['/app/pengguna/tambah-edit']"
                          [queryParams]="{id: record.id}"
                          *ngIf="_appSession.isGranted('Halaman.Pengguna.Edit')"
												>
													Lihat
												</button>
                        <button
                          class="dropdown-item"
                          (click)="deleteUser(record.id)"
                          *ngIf="_appSession.isGranted('Halaman.Pengguna.Hapus')"
                        >
                          Padam
                        </button>
											</div>
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
						<div class="primeng-paging-container justify-content-between">
							<p-paginator
								[rows]="primengTableHelper.defaultRecordsCountPerPage"
								#paginator
								(onPageChange)="getUser($event)"
								[totalRecords]="primengTableHelper.totalRecordsCount"
								[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
							></p-paginator>
							<span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
