<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Ahli Isi Rumah</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Ahli Isi Rumah</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="modal-body">
		<div class="row">
      <div class="col-lg-6">
				<div class="form-group">
					<label>Nama</label>
					<input
						class="form-control"
            id="nama_mangsa"
						type="text"
						name="nama"
						[(ngModel)]="addAhli.nama"
						placeholder="Nama Ahli Isi Rumah"
						#namaMangsa="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaMangsa.invalid }"
						required
					/>
					<div *ngIf="f.submitted && namaMangsa.invalid" class="invalid-feedback">
						<div *ngIf="namaMangsa.errors.required">Nama Ahli Isi Rumah Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>No. Kad Pengenalan</label>
          <input
            class="form-control"
            id="noKP"
            type="text"
            name="no_kp"
            [(ngModel)]="addAhli.no_kp"
            placeholder="No. Kad Pengenalan"
            #noKp="ngModel"
            [class.is-invalid]="((noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid) || f.submitted && noKp.invalid"
            maxlength="12"
            onlyNumbers
            kpValidator
            required
          />
          <div *ngIf="f.submitted && noKp.invalid" class="invalid-feedback">
            <div *ngIf="noKp.errors.required">No. Kad Pengenalan Wajib Diisi</div>
          </div>
          <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
            No. Kad Pengenalan Kurang Daripada 12
          </div>
          <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
            Kod Negeri Tidak Sah
          </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Hubungan</label>
					<ng-select
						[items]="relationships"
						bindLabel="nama_hubungan"
						bindValue="id"
						placeholder="Sila Pilih"
						class="js-example-placeholder-multiple"
						name="id_hubungan"
						[(ngModel)]="addAhli.id_hubungan"
						#hubungan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && hubungan.invalid }"
						required
					></ng-select>
					<div *ngIf="f.submitted && hubungan.invalid" class="invalid-feedback">
						<div *ngIf="hubungan.errors.required">Kementerian Wajib Dipilih</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Umur</label>
					<input
						class="form-control"
            id="umur_ahli"
						type="text"
						name="umur"
						[(ngModel)]="addAhli.umur"
						placeholder="Umur"
						#umurAhli="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && umurAhli.invalid }"
						required
					/>
					<div *ngIf="f.submitted && umurAhli.invalid" class="invalid-feedback">
						<div *ngIf="umurAhli.errors.required">Umur Ahli Isi Rumah Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
  </div>
</form>
