<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Ahli Isi Rumah</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Ahli Isi Rumah</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="modal-body">
		<div class="row">
      <div class="col-lg-6">
				<div class="form-group">
					<label>Nama*</label>
					<input
						class="form-control"
						type="text"
						name="nama"
						[(ngModel)]="addAhli.nama"
						placeholder="Nama Ahli Isi Rumah"
						#namaMangsa="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaMangsa.invalid }"
						required
					/>
					<div *ngIf="f.submitted && namaMangsa.invalid" class="invalid-feedback">
						<div *ngIf="namaMangsa.errors.required">Nama Ahli Isi Rumah Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>No. Kad Pengenalan</label>
          <input
            class="form-control"
            type="text"
            name="no_kp"
            [(ngModel)]="addAhli.no_kp"
            placeholder="No. Kad Pengenalan"
            #noKp="ngModel"
            [class.is-invalid]="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid"
            maxlength="12"
            onlyNumbers
            kpValidator
          />
          <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
            No. Kad Pengenalan Kurang Daripada 12
          </div>
          <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
            Kod Negeri Tidak Sah
          </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Hubungan*</label>
					<ng-select
						[items]="relationships"
						bindLabel="nama_hubungan"
						bindValue="id"
						placeholder="Sila Pilih"
						class="js-example-placeholder-multiple"
						name="id_hubungan"
						[(ngModel)]="addAhli.id_hubungan"
						#hubungan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && hubungan.invalid }"
						required
					></ng-select>
					<div *ngIf="f.submitted && hubungan.invalid" class="invalid-feedback">
						<div *ngIf="hubungan.errors.required">Kementerian Wajib Dipilih</div>
					</div>
				</div>
			</div>

			<div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
        <label>Tarikh Lahir*</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="DD/MM/YYYY"
            name="dp"
            [(ngModel)]="modelBirthdate"
            (ngModelChange)="calculateAge()"
            ngbDatepicker
            [footerTemplate]="footerTemplate"
            #d="ngbDatepicker"
            style="border: 1px solid #efefef !important;"
            #tarikhLahir="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && tarikhLahir.invalid }"
            [minDate]="{year: 1900, month:1, day: 1}" [maxDate]="{year: 2038, month:1, day: 19}"
            required
          >
          <div class="input-group-append">
            <button class="btn btn-light" (click)="d.toggle()" type="button"><i
              class="fa fa-calendar"></i></button>
          </div>
					<div *ngIf="f.submitted && tarikhLahir.invalid" class="invalid-feedback">
						<div *ngIf="tarikhLahir.errors.required">Tarikh Lahir Wajib Dipilih</div>
					</div>
        </div>
      </div>
      <ng-template #footerTemplate>
        <hr class="my-0">
        <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelBirthdate = today; d.close()">Hari Ini</button>
        <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Tutup</button>
      </ng-template>
		</div>

    <div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Umur</label>
					<input
						class="form-control"
						name="umurAIR"
						[(ngModel)]="umur"
						placeholder="Umur"
            disabled
					/>
				</div>
			</div>
    </div>
	</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
  </div>
</form>
