<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Kementerian</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Kementerian</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Kementerian*</label>
					<input
						class="form-control"
						id="ministry"
						type="text"
						placeholder="Nama Kementerian"
						[(ngModel)]="kementerian.nama_kementerian"
						#namaKementerian="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaKementerian.invalid }"
						name="nama_kementerian"
						required
					/>
					<div *ngIf="f.submitted && namaKementerian.invalid" class="invalid-feedback">
						<div *ngIf="namaKementerian.errors.required">Nama Kementerian Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Kod Kementerian*</label>
					<input
						class="form-control"
						id="ministry_code"
						type="text"
						placeholder="Kod Kementerian"
						[(ngModel)]="kementerian.kod_kementerian"
						#kodKementerian="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kodKementerian.invalid }"
						name="kod_kementerian"
						required
					/>
					<div *ngIf="f.submitted && kodKementerian.invalid" class="invalid-feedback">
						<div *ngIf="kodKementerian.errors.required">Kod Kementerian Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Status*</label>
					<select
						class="form-control digits"
						name="status_kementerian"
						[(ngModel)]="kementerian.status_kementerian"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="0">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
