<div class="login-main">
	<form class="theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && userlogin()" novalidate>
		<h4>Log Masuk</h4>
		<div class="form-group">
			<label class="col-form-label">No Kad Pengenalan</label>
			<input
				class="form-control"
				autocomplete="no_kp"
				name="no_kp"
				[(ngModel)]="login.no_kp"
				type="text"
				required
				#no_kp="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted && no_kp.invalid }"
			/>
			<div *ngIf="f.submitted && no_kp.invalid" class="invalid-feedback">
				<div *ngIf="no_kp.errors.required">No Kad Pengenalan Wajib Di Isi</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-form-label">Kata Laluan</label>
			<input
				class="form-control"
				autocomplete="current-password"
				type="password"
				name="login[password]"
				[(ngModel)]="login.kata_laluan"
				required
				[type]="show ? 'text' : 'password'"
				#password="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
			/>
			<div class="show-hide" (click)="showPassword()" *ngIf="!show">
				<div style="margin-top: 4px; margin-right: -10px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
			</div>
			<div class="show-hide" (click)="showPassword()" *ngIf="show">
				<div style="margin-top: 4px; margin-right: -10px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
			</div>
			<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
				<div *ngIf="password.errors.required">Kata Laluan Di Isi</div>
			</div>
		</div>
		<div class="form-group mb-0">
			<div class="checkbox p-0">
				<input id="checkbox1" type="checkbox" />
				<label class="text-muted" for="checkbox1">Ingatkan Kata Laluan?</label>
			</div>
			<a class="link" [routerLink]="'/akaun/lupa-katalaluan'">Lupa Kata Laluan?</a>
			<button class="btn btn-primary btn-block" type="submit" [buttonBusy]="loading">Log Masuk</button>
		</div>
    <p class="mt-4 mb-0">
			Tiada Akaun?
			<a class="ml-2" [routerLink]="'/akaun/daftar'">Daftar</a>
		</p>
	</form>
</div>
