<div class="container-fluid">
	<div class="row">
		<div
			class="col-xl-5"
			[ngStyle]="{'background-image': 'url(assets/images/login/3.jpg)',
                                      'background-size': 'cover',
                                      'background-position': 'center center',
                                      'display': 'block'}"
		>
			<img class="bg-img-cover bg-center d-none" src="assets/images/login/3.jpg" alt="looginpage" />
		</div>
		<div class="col-xl-7 p-0">
			<div class="login-card">
				<div>
					<div>
						<a class="logo text-left" href="#">
							<img class="img-fluid for-light" src="assets/images/logo/login.png" alt="looginpage" />
							<img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage" />
						</a>
					</div>
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
