<app-breadcrumb [title]="'Medan Daerah'" [items]="['Medan']" [active_item]="['Medan Daerah']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Negeri</label>
                <select class="form-control digits" id="exampleFormControlSelect9">
                    <option>Pilih</option>
                    <option>Pahang</option>
                    <option>Wilayah Persekutuan</option>
                    <option>Selangor</option>
                    <option>Perak</option>
                    <option>Johor</option>
                    <option>Melaka</option>
                    <option>Negeri Sembilan</option>
                    <option>Kedah</option>
                    <option>Pulau Pinang</option>
                    <option>Perlis</option>
                    <option>Kelantan</option>
                    <option>Terengganu</option>
                    <option>Sabah</option>
                    <option>Sarawak</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-lg-2">
                <button class="btn btn-primary" type="button" (click)="addDistrictModal()"><i class="fa fa-plus mr-2"></i>Tambah</button>
            </div>
          </div>
          &nbsp;
          <div class="col-12 custom-datatable">
              <ngx-datatable class="bootstrap" [rows]="rows" [sortType]="SortType.multi" 
                      [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="">

                  <ngx-datatable-column name="Tindakan" prop="action" [flexGrow]="2">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                          <span>
                            <a class="col-sm-6 col-md-4 col-xl-3" (click)="addDistrictModal()"><i class="fa fa-edit"></i></a>
                          </span>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Daerah" prop="district" [flexGrow]="2">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Negeri" prop="state" [flexGrow]="2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Status" prop="status" [flexGrow]="2">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
          </div>
          <button class="btn btn-primary pull-right" type="submit" [routerLink]="['/main/menu-setting']">Kembali</button>
        </div>
      </div>
    </div>
  </div>
</div>
