<app-breadcrumb [title]="'Tetapan'" [active_item]="['Tetapan']"></app-breadcrumb>
<div class="container-fluid">
	<div class="email-wrap bookmark-wrap">
		<div class="row">
			<div class="col-xl-3 col-lg-5 col-md-12">
				<div class="card">
          <div class="card-body p-3">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Kementerian')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'kementerian'}}]"><span class="title"><i class="icofont icofont-bank-alt"></i>Kementerian</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Agensi')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'agensi'}}]"><span class="title"><i class="icofont icofont-building-alt"></i>Agensi</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Pelaksana')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'pelaksana'}}]"><span class="title"><i class="icofont icofont-briefcase-alt-2"></i>Pelaksana</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.PemilikProjek')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'pemilik-projek'}}]"><span class="title"><i class="icofont icofont-architecture-alt"></i>Pemilik Projek</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.PemilikProjekRumah')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'pemilik-projek-rumah'}}]"><span class="title"><i class="icofont icofont-ui-home"></i>Pemilik Projek Rumah</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Daerah')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'daerah'}}]"><span class="title"><i class="icofont icofont-location-pin"></i>Daerah</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Parlimen')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'parlimen'}}]"><span class="title"><i class="icofont icofont-location-pin"></i>Parlimen</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Dun')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'dun'}}]"><span class="title"><i class="icofont icofont-location-pin"></i>Dun</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Negeri')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'negeri'}}]"><span class="title"><i class="icofont icofont-location-pin"></i>Negeri</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.KerosakanRumah')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'kerosakan-rumah'}}]"><span class="title"><i class="icofont icofont-mining"></i>Jenis Kerosakan Rumah</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.SumberDana')"class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'sumber-dana'}}]"><span class="title"><i class="icofont icofont-cube"></i>Sumber Dana</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.StatusBerpindah')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'status-berpindah'}}]"><span class="title"><i class="icofont icofont-label"></i>Status Berpindah</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Pinjaman')"class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'pinjaman'}}]"><span class="title"><i class="icofont icofont-people"></i>Pinjaman Usahawan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Hubungan')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'hubungan'}}]"><span class="title"><i class="icofont icofont-site-map"></i>Hubungan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.JenisBantuan')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'jenis-bantuan'}}]"><span class="title"><i class="icofont icofont-school-bus"></i>Jenis Bantuan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Rujukan')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'rujukan'}}]"><span class="title"><i class="icofont icofont-list"></i>Rujukan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Pengumuman')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'pengumuman'}}]"><span class="title"><i class="icofont icofont-support"></i>Pengumuman</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.Peranan')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'peranan'}}]"><span class="title"><i class="icofont icofont-gears"></i>Peranan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.KategoriBencana')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'bencana'}}]"><span class="title"><i class="icofont icofont-barricade"></i>Kategori Bencana</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.KadarBwi')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'kadar-bwi'}}]"><span class="title"><i class="icofont icofont-money-bag"></i>Kadar Bantuan Wang Ihsan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.JenisBwi')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'jenis-bwi'}}]"><span class="title"><i class="icofont icofont-coins"></i>Jenis Bantuan Wang Ihsan</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.JenisBayaran')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'jenis-bayaran'}}]"><span class="title"><i class="icofont icofont-mathematical-alt-1"></i>Jenis Bayaran</span></a>
              <a *ngIf="_appSession.isGranted('Halaman.Tetapan.KategoriKelulusan')" class="nav-link" routerLinkActive="active" [routerLink]="['/app/tetapan', { outlets: { 'menu': 'kategori-kelulusan'}}]"><span class="title"><i class="icofont icofont-law-document"></i>Kategori Kelulusan</span></a>
            </div>
          </div>
        </div>
			</div>
			<div class="col-xl-9 col-lg-7 col-md-12">
				<div class="row">
					<div class="col-xl-12">
						<router-outlet name="menu"></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
