<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Rujukan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Rujukan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" [formGroup]="formGroup" (ngSubmit)="nama_rujukan.valid && save()">
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Nama Rujukan</label>
          <input
            class="form-control"
            [(ngModel)]="rujukan.nama_rujukan"
            [ngModelOptions]="{standalone: true}"
            #nama_rujukan="ngModel"
            [ngClass]="{ 'is-invalid': nama_rujukan.invalid && (nama_rujukan.dirty || nama_rujukan.touched) }"
            name="nama_rujukan"
            minlength="0"
            maxlength="250"
            required
          />
          <div *ngIf="nama_rujukan.invalid && (nama_rujukan.dirty || nama_rujukan.touched)" class="invalid-feedback">
            <div *ngIf="nama_rujukan.errors.required">Peranan Wajib Di isi</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Muat Naik Fail</label>
          <input (change)="onSelect($event)" class="form-control" type="file" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
    <button type="submit" class="btn btn-primary">Simpan</button>
  </div>
</form>
