<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Kadar Bantuan Wang Ihsan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Kadar Bantuan Wang Ihsan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">

			<div class="col-6">
				<div class="form-group">
					<label>Kadar*</label>
					<input
						class="form-control"
						id="kadar"
						type="text"
						name="jumlah_kadar"
						placeholder="Kadar (RM)"
						[(ngModel)]="kadar_bwi.nilai"
						#kadarBwi="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kadarBwi.invalid }"
						currencyMask
						[options]="{ prefix: 'RM ', align: 'left' }"
						required
					/>
					<div *ngIf="f.submitted && kadarBwi.invalid" class="invalid-feedback">
						<div *ngIf="kadarBwi.errors.required">Kadar Wajib Diisi</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label>Status*</label>
					<select
						class="form-control digits"
						name="status_kadar"
						[(ngModel)]="kadar_bwi.status_bencana_bwi"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="2">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
