<app-breadcrumb [title]="'Tambah Profil Mangsa'" [items]="['Mangsa', 'Profil Mangsa']" [active_item]="'Tambah Profil Mangsa'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
<!--        <div class="card-header">-->
<!--          <h5>Basic form control</h5>-->
<!--        </div>-->
        <form class="form theme-form">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">No KP</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Kad Pengenalan">
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nama</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Nama">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Alamat 1</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Alamat 1">
                </div>

              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Alamat 2</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Alamat 2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">DUN</label>
                  <select class="form-control digits" id="exampleFormControlSelect9">
                    <option *ngFor="let adun of dun">{{adun.data}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Parlimen</label>
                  <select class="form-control digits" id="exampleFormControlSelect9">
                    <option *ngFor="let p of parliaments">{{p.data}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Daerah</label>
                  <select class="form-control digits" id="exampleFormControlSelect9">
                    <option *ngFor="let district of districts">{{district.data}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Negeri</label>
                  <select class="form-control digits" >
                    <option *ngFor="let s of states">{{s.data}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Poskod</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Poskod">
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Telefon</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Telefon">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="exampleFormControlTextarea4">Catatan</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="exampleFormControlTextarea4">Verifikasi Urusetia</label>
                <div class="form-group m-checkbox-inline mb-5 ml-1">
                  <div class="checkbox checkbox-dark">
                    <input id="inline-4" type="checkbox">
                    <label for="inline-4">Sudah</label>
                  </div>
                  <div class="checkbox checkbox-dark">
                    <input id="inline-5" type="checkbox">
                    <label for="inline-5">Belum</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <h6 for="exampleFormControlTextarea4">Maklumat Bencana</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Tahun</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Tahun">
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Nama Bencana</label>
                  <select class="form-control digits" id="exampleFormControlSelect9">
                    <option>Banjir</option>
                    <option>Covid-19</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Status Berpindah</label>
                  <select class="form-control digits" id="exampleFormControlSelect9">
                    <option>Sudah indah</option>
                    <option>Belum Berpindah</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6 col-xs-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect9">Nama Pusat</label>
                  <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Nama Pusat">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlTextarea4">Masalah Dihadap</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="exampleFormControlTextarea4">Example textarea</label>
                <div class="form-group m-checkbox-inline mb-0 ml-1">
                  <div class="checkbox checkbox-dark">
                    <input id="inline-1" type="checkbox">
                    <label for="inline-1">Dengan ini saya mengesahkan bahawa maklumat mangsa yang dimasukkan di atas adalah tepat dan benar
                      <br/><span><b>Nama</b>: </span>
                      <br/><span><b>Agensi</b>: </span>
                      <br/><span><b>Tarikh Semasa</b>: </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-light ml-1" type="reset" value="Cancel"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
