<div class="container-fluid">
	<div class="row">
		<div
			class="col-xl-7"
			[ngStyle]="{'background-image': 'url(assets/images/login/2.jpg)',
                                     'background-size': 'cover',
                                     'background-position': 'center center',
                                     'display': 'block'}"
		>
			<img class="bg-img-cover bg-center d-none" src="assets/images/login/2.jpg" alt="looginpage" />
		</div>
		<div class="col-xl-5 p-0">
			<div class="login-card">
				<div>
					<div class="login-main">
						<form class="theme-form">
							<h4>Log Masuk</h4>
							<p>Sila isi alamat e-mel dan katalaluan anda.</p>
							<div class="form-group">
								<label class="col-form-label">Email:</label>
								<input class="form-control" type="email" required="" />
							</div>
							<div class="form-group">
								<label class="col-form-label">Kata laluan:</label>
								<input
									class="form-control"
									[type]="show ? 'text' : 'password'"
									name="login[password]"
									required=""
								/>
								<div class="show-hide" (click)="showPassword()" *ngIf="!show">
									<span class="show"></span>
								</div>
								<div class="show-hide" (click)="showPassword()" *ngIf="show">
									<span class="Hide"></span>
								</div>

								<div class="form-group mb-0">
									<div class="checkbox p-0">
										<input id="checkbox1" type="checkbox" />
										<label class="text-muted" for="checkbox1">Ingat katalaluan</label>
									</div>
									<a [routerLink]="['/forgot-password']" class="link">Terlupa katalaluan?</a>
									<button class="btn btn-primary btn-block" type="submit" [routerLink]="'/main'">
										Log Masuk
									</button>
								</div>
							</div>
							<p class="mt-4 mb-0">
								Tiada akaun?
								<a [routerLink]="'/register-page'" class="ml-2">Pendaftaran baru</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
