<app-breadcrumb *ngIf="idPengguna"
	[title]="'Kemaskini Maklumat Pengguna'"
	[items]="['Pengurusan Pengguna']"
	[active_item]="['Kemaskini Pengguna']"
></app-breadcrumb>
<app-breadcrumb *ngIf="!idPengguna"
	[title]="'Tambah Maklumat Pengguna'"
	[items]="['Pengurusan Pengguna']"
	[active_item]="['Tambah Pengguna']"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid && save()" novalidate>
						<h6>Maklumat Pengguna</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Nama Pemohon*</label>
                  <input
                    class="form-control"
                    id="namaPemohon"
                    type="text"
                    name="nama"
                    [(ngModel)]="edit.pengguna.nama"
                    placeholder="Nama Pemohon"
                    #namaPemohon="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && namaPemohon.invalid }"
                    autocomplete="name"
                    required
                  />
                  <div *ngIf="f.submitted && namaPemohon.invalid" class="invalid-feedback">
                    <div *ngIf="namaPemohon.errors.required">Nama Pemohon Wajib Diisi</div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">No Kad Pengenalan*</label>
                  <input
                    class="form-control"
                    id="noKadPengenalan"
                    type="text"
                    name="no_kp"
                    [(ngModel)]="edit.pengguna.no_kp"
                    placeholder="No Kad Pengenalan"
                    #noKp="ngModel"
                    [class.is-invalid]="((noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid) || f.submitted && noKp.invalid"
                    maxlength="12"
                    onlyNumbers
                    kpValidator
                    required
                  />
                  <div *ngIf="f.submitted && noKp.invalid" class="invalid-feedback">
                    <div *ngIf="noKp.errors.required">No Kad Pengenalan Wajib Diisi</div>
                  </div>
                  <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                    No. Kad Pengenalan Kurang Daripada 12
                  </div>
                  <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                    Kod Negeri Tidak Sah
                  </div>
                </div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Jawatan*</label>
                  <input
                    class="form-control"
                    id="jawatanPemohon"
                    type="text"
                    name="jawatan"
                    [(ngModel)]="edit.pengguna.jawatan"
                    placeholder="Jawatan"
                    #jawatanPemohon="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && jawatanPemohon.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && jawatanPemohon.invalid" class="invalid-feedback">
                    <div *ngIf="jawatanPemohon.errors.required">Jawatan Wajib Diisi</div>
                  </div>
                </div>
							</div>


						</div>
						<hr />
						<h6>Maklumat Berhubung</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">No Telefon Pejabat*</label>
                  <input
                    class="form-control"
                    id="noTelefonPejabat"
                    type="text"
                    name="telefon_pejabat"
                    [(ngModel)]="edit.pengguna.telefon_pejabat"
                    placeholder="No Telefon Pejabat"
                    #noTelefonPejabat="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && noTelefonPejabat.invalid }"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    minlength="9"
                    maxlength="12"
                    required
                  />
                  <div *ngIf="f.submitted && noTelefonPejabat.invalid" class="invalid-feedback">
                    <div *ngIf="noTelefonPejabat.errors.required">No Telefon Pejabat Wajib Diisi</div>
                    <div *ngIf="noTelefonPejabat.errors.minlength">No. Telefon Pejabat Mesti Melebihi 9 Digit</div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Telefon Bimbit*</label>
                  <input
                    class="form-control"
                    id="telefonBimbit"
                    type="text"
                    name="telefon_bimbit"
                    [(ngModel)]="edit.pengguna.telefon_bimbit"
                    placeholder="Telefon Bimbit"
                    #telefonBimbit="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && telefonBimbit.invalid }"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    minlength="9"
                    maxlength="15"
                    autocomplete="mobile"
                    required
                  />
                  <div *ngIf="f.submitted && telefonBimbit.invalid" class="invalid-feedback">
                    <div *ngIf="telefonBimbit.errors.required">Telefon Bimbit Wajib Diisi</div>
                  </div>
                </div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Fax*</label>
                  <input
                    class="form-control"
                    id="noFax"
                    type="text"
                    name="fax"
                    [(ngModel)]="edit.pengguna.fax"
                    placeholder="Fax"
                    #noFax="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && noFax.invalid }"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    minlength="8"
                    maxlength="15"
                    required
                  />
                  <div *ngIf="f.submitted && noFax.invalid" class="invalid-feedback">
                    <div *ngIf="noFax.errors.required">Fax Wajib Diisi</div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Emel*</label>
                  <input
                    class="form-control"
                    id="emelPemohon"
                    type="text"
                    name="emel"
                    [(ngModel)]="edit.pengguna.emel"
                    placeholder="Emel"
                    #emelPemohon="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && emelPemohon.invalid }"
                    required
                    email
                  />
                  <div *ngIf="f.submitted && emelPemohon.invalid" class="invalid-feedback">
                    <div *ngIf="emelPemohon.errors.required">Emel Wajib Diisi</div>
                    <div *ngIf="emelPemohon.errors.email">Format Emel Tidak Sah</div>
                  </div>
                </div>
							</div>
						</div>
						<hr />
						<h6>Maklumat Agensi</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Nama Agensi*</label>
                  <div>
                    <ng-select
                      [items]="agency"
                      bindLabel="nama_agensi"
                      placeholder="Sila Pilih"
                      class="js-example-placeholder-multiple"
                      name="namaAgensi"
                      (change)="setAgensi()"
                      [(ngModel)]="agensi"
                      #namaAgensi="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && namaAgensi.invalid }"
                      required
                    ></ng-select>
                    <div
                      *ngIf="f.submitted && namaAgensi.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="namaAgensi.errors.required">
                        Nama Agensi Wajib Dipilih
                      </div>
                    </div>
                  </div>
                </div>
							</div>

              <div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Nama Kementerian*</label>
                  <select
                    class="form-control"
                    name="id_kementerian"
                    [(ngModel)]="edit.pengguna.id_kementerian"
                    #kementerian="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && kementerian.invalid }"
                    required
                    disabled
                  >
                    <option [ngValue]="undefined" disabled>Sila Pilih</option>
                    <option *ngFor="let ministry of ministries" value="{{ministry.id}}">
                      {{ministry.nama_kementerian}}
                    </option>
                  </select>
                  <div *ngIf="f.submitted && kementerian.invalid" class="invalid-feedback">
                    <div *ngIf="kementerian.errors.required">Kementerian Wajib Dipilih</div>
                  </div>
                </div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Alamat 1*</label>
                  <input
                    class="form-control"
                    id="alamat1Agensi"
                    type="text"
                    name="alamat1"
                    [(ngModel)]="edit.pengguna.alamat_1"
                    placeholder="Alamat 1"
                    #alamat1Agensi="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && alamat1Agensi.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && alamat1Agensi.invalid" class="invalid-feedback">
                    <div *ngIf="alamat1Agensi.errors.required">Alamat 1 Agensi Wajib Diisi</div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Alamat 2*</label>
                  <input
                    class="form-control"
                    id="alamat2Agensi"
                    type="text"
                    name="alamat2"
                    [(ngModel)]="edit.pengguna.alamat_2"
                    placeholder="Alamat 2"
                    #alamat2Agensi="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && alamat2Agensi.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && alamat2Agensi.invalid" class="invalid-feedback">
                    <div *ngIf="alamat2Agensi.errors.required">Alamat 2 Agensi Wajib Diisi</div>
                  </div>
                </div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label>Poskod*</label>
                  <input
                    class="form-control"
                    id="poskodAgensi"
                    type="text"
                    name="poskod"
                    [(ngModel)]="edit.pengguna.poskod"
                    placeholder="Poskod"
                    #poskodAgensi="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && poskodAgensi.invalid }"
                    minlength="5"
                    maxlength="5"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    required
                  />
                  <div *ngIf="f.submitted && poskodAgensi.invalid" class="invalid-feedback">
                    <div *ngIf="poskodAgensi.errors.required">Poskod Wajib Diisi</div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label>Daerah*</label>
                  <div>
                    <ng-select
                      [items]="districts"
                      bindLabel="nama_daerah"
                      placeholder="Sila Pilih"
                      class="js-example-placeholder-multiple"
                      name="daerahAgensi"
                      (change)="setDaerah()"
                      [(ngModel)]="daerah"
                      #namaDaerah="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && namaDaerah.invalid }"
                      required
                    ></ng-select>
                    <div *ngIf="f.submitted && namaDaerah.invalid" class="invalid-feedback">
                      <div *ngIf="namaDaerah.errors.required">Daerah Wajib Diisi</div>
                    </div>
                  </div>
                </div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label>Negeri*</label>
                  <div>
                    <select
                      class="form-control"
                      name="id_negeri"
                      [(ngModel)]="edit.pengguna.id_negeri"
                      #negeri="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && negeri.invalid }"
                      required
                      disabled
                    >
                      <option [ngValue]="undefined" disabled>Sila Pilih</option>
                      <option *ngFor="let state of states" value="{{state.id}}">
                        {{state.nama_negeri}}
                      </option>
                    </select>
                    <div *ngIf="f.submitted && negeri.invalid" class="invalid-feedback">
                      <div *ngIf="negeri.errors.required">Negeri Wajib Diisi</div>
                    </div>
                  </div>
                </div>
							</div>
						</div>

            <div *ngIf="idPengguna">
              <hr>
              <h6>Tetap Semula Kata Laluan</h6>
            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Kata Laluan Baru*</label>
                  <input
                    class="form-control"
                    [type]="show ? 'text' : 'password'"
                    name="kata_laluan"
                    [(ngModel)]="edit.pengguna.kata_laluan"
                  />
                  <div class="show-hide" (click)="showPassword()" *ngIf="!show">
                    <div style="margin-top: 5px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
                  </div>
                  <div class="show-hide" (click)="showPassword()" *ngIf="show">
                    <div style="margin-top: 5px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
                  </div>
                </div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
                  <label class="col-form-label">Ulang Kata Laluan*</label>
                  <input
                    class="form-control"
                    [type]="showNew ? 'text' : 'password'"
                    name="ulang_kata_laluan"
                    [(ngModel)]="ulang_kata_laluan"
                  />
                  <div class="show-hide" (click)="showNewPassword()" *ngIf="!showNew">
                    <div style="margin-top: 5px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
                  </div>
                  <div class="show-hide" (click)="showNewPassword()" *ngIf="showNew">
                    <div style="margin-top: 5px; color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
                  </div>
                </div>
							</div>
						</div>
            </div>
            <hr>
						<button
							class="btn btn-primary pull-right"
							type="submit"
						>
							Simpan
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/pengguna/senarai-pengurusan-pengguna']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
