<form class="form theme-form">
  <div class="row">
    <div class="col-lg-4 col-xs-12 mb-2">
      <img class="img-fluid for-light" src="assets/images/dashboard/bg.jpg" alt="looginpage">
      <input class="form-control col-lg-10 col-xs-4" type="file">
    </div>
    <div class="col-lg-8 col-xs-12">
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">No KP</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlSelect9">Negeri</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nama</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlSelect9">Daerah</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Alamat 1</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlSelect9">Parlimen1</label>
            <select class="form-control digits" id="exampleFormControlSelect9">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Alamat 2</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlSelect9">DUN</label>
            <select class="form-control digits" id="exampleFormControlSelect9">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Poskod</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlSelect9">Telefon</label>
            <input class="form-control" id="exampleFormControlInput1" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group mb-3">
            <label for="exampleFormControlTextarea4">Catatan</label>
            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlTextarea4">Verifikasi Urusetia</label>
          <div class="form-group m-checkbox-inline mb-5 ml-1">
            <div class="checkbox checkbox-dark">
              <input id="inline-4" type="checkbox">
              <label for="inline-4">Sudah</label>
            </div>
            <div class="checkbox checkbox-dark">
              <input id="inline-5" type="checkbox">
              <label for="inline-5">Belum</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
