<form class="form theme-form">
  <div class="row">
    <div class="col-lg-4 col-xs-12 mb-2">
      <img class="img-fluid for-light" src="assets/images/dashboard/bg.jpg" alt="looginpage">
      <input class="form-control col-lg-10 col-xs-4" type="file">
    </div>
    <div class="col-lg-8 col-xs-12">
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">No KP</label>
            <input class="form-control" placeholder="Kad Pengenalan" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nama</label>
            <input class="form-control" placeholder="Nama" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Alamat 1</label>
            <input class="form-control" placeholder="Alamat 1" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Alamat 2</label>
            <input class="form-control" placeholder="Alamat 2" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Alamat 3</label>
            <input class="form-control" placeholder="Alamat 3" type="text">
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label>Telefon</label>
            <input class="form-control" placeholder="telefon" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label>DUN</label>
            <select class="form-control digits" >
              <option *ngFor="let adun of dun">{{adun.data}}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label>Daerah</label>
            <select class="form-control digits" >
              <option *ngFor="let district of districts">{{district.data}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label>Parlimen</label>
            <select class="form-control digits">
              <option *ngFor="let p of parliaments">{{p.data}}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label>Negeri</label>
            <select class="form-control digits">
              <option *ngFor="let s of states">{{s.data}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-xs-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Poskod</label>
            <input class="form-control" id="exampleFormControlInput1" placeholder="Poskod" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group mb-3">
            <label for="exampleFormControlTextarea4">Catatan</label>
            <textarea class="form-control" id="exampleFormControlTextarea4" placeholder="Catatan" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlTextarea4">Verifikasi Urusetia</label>
          <div class="form-group m-checkbox-inline mb-5 ml-1">
            <div class="checkbox checkbox-dark">
              <input id="inline-4" type="checkbox">
              <label for="inline-4">Sudah</label>
            </div>
            <div class="checkbox checkbox-dark">
              <input id="inline-5" type="checkbox">
              <label for="inline-5">Belum</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
