<app-breadcrumb
  *ngIf="filterBantuan == 2"
	[title]="'Laporan Penerima Bantuan Bina Rumah Kekal'"
	[items]="['Laporan', 'Bantuan']"
	[active_item]="'Bina Rumah'"
></app-breadcrumb>
<app-breadcrumb
  *ngIf="filterBantuan == 3"
	[title]="'Laporan Penerima Bantuan Baik Pulih Rumah'"
	[items]="['Laporan', 'Bantuan']"
	[active_item]="'Baik Pulih'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row mb-1">
            <div class="col-lg-6 col-sm-10 justify-content-start pl-0">
              <div class="faq-form">
                <input
                  class="form-control"
                  type="text"
                  name="searchRumah"
                  placeholder="Carian..."
                  (keyup)="applyFilter($event.target.value)"
                  [(ngModel)]="filterString"
                />
                <i class="search-icon" data-feather="search"></i>
              </div>
            </div>

            <div class="col-lg-2 col-sm-2 justify-content-between pl-0">
              <button
                type="button"
                class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
                ngbTooltip="Carian Lanjut"
                style="font-weight: 500"
              >
                <i class="fa fa-filter"></i>
              </button>
            </div>

            <div class="col-lg-4 col-sm-12 justify-content-end p-0">
              <button type="button" (click)="exportToExcel()" class="btn btn-outline-success pull-right">
                <i class="fa fa-file-excel-o fa-lg mr-2"></i>
                <b>Excel</b>
              </button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                    <form>
                      <div class="row mt-2">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Negeri</label>
                            <ng-select
                              [items]="states"
                              bindLabel="nama_negeri"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="namaNegeri"
                              [(ngModel)]="filterNegeri"
                              (ngModelChange)="getDaerah()"
                            ></ng-select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Daerah</label>
                            <ng-select
                              [items]="districts"
                              bindLabel="nama_daerah"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="namaDaerah"
                              [(ngModel)]="filterDaerah"
                            ></ng-select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Tahun Cipta</label>
                            <ng-select
                              [items]="arrayYear"
                              bindLabel="years"
                              bindValue="years"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="tahunBayaran"
                              [(ngModel)]="filterYear"
                            ></ng-select>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-end mb-3 pr-2">
                        <button
                          class="btn btn-light mr-2"
                          type="reset"
                          (click)="resetFilter()"
                        >
                        <i class="fa fa-refresh mr-2"></i>
                          <b>Reset</b>
                        </button>

                        <button
                          class="btn btn-primary pull-right mr-2"
                          type="button"
                          (click)="getRumahReport()"
                        >
                        <i class="fa fa-search mr-2"></i>
                          <b>Cari</b>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

					<div class="row align-items-center">
						<div class="primeng-datatable-container">
							<p-table
								#dataTable
								styleClass="p-datatable-striped"
								[resizableColumns]="true"
								(onLazyLoad)="getRumahReport($event)"
								[value]="primengTableHelper.records"
								rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
								[paginator]="false"
								[lazy]="true"
                [loading]="primengTableHelper.isLoading"
								[scrollable]="true"
								ScrollWidth="100%"
								[responsive]="primengTableHelper.isResponsive"
								[resizableColumns]="primengTableHelper.resizableColumns"
							>
								<ng-template pTemplate="header">
									<tr>
										<th style="width: 184px" pSortableColumn="nama">
											Nama Mangsa (KIR)
											<p-sortIcon field="nama"></p-sortIcon>
										</th>
										<th style="width: 159px" pSortableColumn="no_kp">
											Kad Pengenalan
											<p-sortIcon field="no_kp"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="alamat_1">
											Alamat 1
											<p-sortIcon field="alamat_1"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="alamat_2">
											Alamat 2
											<p-sortIcon field="alamat_2"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_daerah">
											Daerah
											<p-sortIcon field="nama_daerah"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_negeri">
											Negeri
											<p-sortIcon field="nama_negeri"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_pemilik">
											Pemilik
											<p-sortIcon field="nama_pemilik"></p-sortIcon>
										</th>
										<th style="width: 141px" pSortableColumn="nama_sumber_dana">
											Sumber Dana
											<p-sortIcon field="nama_sumber_dana"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_pelaksana">
											Pelaksana
											<p-sortIcon field="nama_pelaksana"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="tarikh_mula">
											Tarikh Mula
											<p-sortIcon field="tarikh_mula"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="tarikh_siap">
											Tarikh Siap
											<p-sortIcon field="tarikh_siap"></p-sortIcon>
										</th>
										<th style="width: 189px" pSortableColumn="peratus_kemajuan">
											Peratusan Kemajuan
											<p-sortIcon field="peratus_kemajuan"></p-sortIcon>
										</th>
										<th style="width: 163px" pSortableColumn="status_kemajuan">
											Status Kemajuan
											<p-sortIcon field="status_kemajuan"></p-sortIcon>
										</th>
										<th style="width: 145px" pSortableColumn="kos_anggaran">
											Kos Anggaran
											<p-sortIcon field="kos_anggaran"></p-sortIcon>
										</th>
										<th style="width: 133px" pSortableColumn="kos_sebenar">
											Kos Sebenar
											<p-sortIcon field="kos_sebenar"></p-sortIcon>
										</th>
                    <th style="width: 150px" pSortableColumn="tarikh_cipta">
											Tarikh Cipta
											<p-sortIcon field="tarikh_cipta"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-record="$implicit">
									<tr>
										<td style="width: 184px">
											<span class="p-column-title">Nama Mangsa (KIR)</span>
											{{record.nama | titlecase}}
										</td>
										<td style="width: 159px">
											<span class="p-column-title">Kad Pengenalan</span>
											{{record.no_kp}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Alamat 1</span>
											{{record.alamat_1}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Alamat 2</span>
                      {{record.alamat_2? record.alamat_2: '-'}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Daerah</span>
											{{record.nama_daerah}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Negeri</span>
											{{record.nama_negeri}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Pemilik</span>
											{{record.nama_pemilik}}
										</td>
										<td style="width: 141px">
											<span class="p-column-title">Sumber Dana</span>
											{{record.nama_sumber_dana}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Pelaksana</span>
											{{record.nama_pelaksana}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Tarikh Mula</span>
											{{record.tarikh_mula | date:'dd-MM-yyyy'}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Tarikh Siap</span>
											{{record.tarikh_siap | date:'dd-MM-yyyy'}}
										</td>
										<td style="width: 189px">
											<span class="p-column-title">Peratusan Kemajuan</span>
                      {{record.peratus_kemajuan? record.peratus_kemajuan: '-'}} %
										</td>
										<td style="width: 163px">
											<span class="p-column-title">Status Kemajuan</span>
											{{record.status_kemajuan}}
										</td>
										<td style="width: 145px">
											<span class="p-column-title">Kos Anggaran</span>
                      <label *ngIf="record.kos_anggaran">RM {{record.kos_anggaran | number: '1.2-2'}}</label>
                      <label *ngIf="!record.kos_anggaran">RM 0.00</label>
										</td>
										<td style="width: 133px">
											<span class="p-column-title">Kos Sebenar</span>
                      <label *ngIf="record.kos_sebenar">RM {{record.kos_sebenar | number: '1.2-2'}}</label>
                      <label *ngIf="!record.kos_sebenar">RM 0.00</label>
										</td>
                    <td style="width: 150px">
											<span class="p-column-title">Tarikh Cipta</span>
											{{record.tarikh_cipta | date:'dd-MM-yyyy'}}
										</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">Tiada Data</div>
							<div class="primeng-paging-container justify-content-between">
								<p-paginator
									[rows]="primengTableHelper.defaultRecordsCountPerPage"
									#paginator
									(onPageChange)="getRumahReport($event)"
									[totalRecords]="primengTableHelper.totalRecordsCount"
									[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
								></p-paginator>
								<span class="total-records-count">
									Jumlah: {{ primengTableHelper.totalRecordsCount}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
