<app-breadcrumb [title]="'Maklumat Pengguna'" [items]="['Pengurusan Pengguna']" [active_item]="['Tambah Pengguna']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form>
            <h6>Maklumat Pengguna</h6>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Nama Pengguna</label>
                  <input class="form-control" type="text" placeholder="Nama Pengguna">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>No Kad Pengenalan</label>
                  <input class="form-control" type="number" placeholder="No Kad Pengenalan">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Jawatan</label>
                  <input class="form-control" type="text" placeholder="Jawatan">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Kementerian</label>
                  <input class="form-control" type="text" placeholder="Kementerian">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Kata Laluan Baru</label>
                  <input class="form-control" id="newPassword" type="password" placeholder="Kata Laluan Baru">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Ulang Kata Laluan Baru</label>
                  <input class="form-control" id="repeat" type="password" placeholder="Ulang Kata Laluan Baru">
                </div>
              </div>
            </div>
            <hr>
            <h6>Maklumat Berhubung</h6>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Telefon Pejabat</label>
                  <input class="form-control" type="number" placeholder="Telefon Pejabat">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Telefon Bimbit</label>
                  <input class="form-control" type="number" placeholder="Telefon Bimbit">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Fax</label>
                  <input class="form-control" type="number" placeholder="Fax">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" placeholder="Email">
                </div>
              </div>
            </div>
            <hr>
            <h6>Maklumat Agensi</h6>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Nama Agensi</label>
                  <input class="form-control" type="text" placeholder="Nama Agensi">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Peranan</label>
                  <select class="form-control digits">
                      <option>Pilih</option>
                      <option>Admin</option>
                      <option>Penyelia</option>
                      <option>Pengguna Biasa</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Alamat 1</label>
                  <input class="form-control" type="text" placeholder="Alamat 1">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Alamat 2</label>
                  <input class="form-control" type="text" placeholder="Alamat 2">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Poskod</label>
                  <input class="form-control" type="number" placeholder="Poskod">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Daerah</label>
                  <input class="form-control" type="text" placeholder="Daerah">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Negeri</label>
                  <input class="form-control" type="text" placeholder="Negeri">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Status Pengguna</label>
                  <select class="form-control digits">
                      <option>Pilih</option>
                      <option>Aktif</option>
                      <option>Tidak Aktif</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <h6>Capaian</h6>
            <div class="row align-items-center">
              <!--<Primeng-TurboTable-Start>-->
              <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                  <p-table #dataTable
                      styleClass="p-datatable-striped"
                      sortMode="multiple"
                      [resizableColumns]="true"
                      (onLazyLoad)="getApplication($event)"
                      [value]="primengTableHelper.records"
                      rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                      [paginator]="false"
                      [lazy]="true"
                      [scrollable]="true"
                      ScrollWidth="100%"
                      [responsive]="primengTableHelper.isResponsive"
                      [resizableColumns]="primengTableHelper.resizableColumns">
                      <ng-template pTemplate="header">
                          <tr>
                              <th style="width: 120px">
                              </th>
                              <th style="width: 100px">
                                Lihat
                              </th>
                              <th style="width: 100px">
                                Tambah
                              </th>
                              <th style="width: 100px">
                                Kemaskini
                              </th>
                              <th style="width: 100px">
                                Hapus
                              </th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit">
                          <tr>
                              <td style="width: 130px;">
                                <span class="p-column-title"> Kategori</span>
                                {{record.category}}
                              </td>
                              <td style="width: 100px">
                                <span class="p-column-title"> Lihat</span>
                                <input class="checkbox_animated" type="checkbox">
                              </td>
                              <td style="width: 100px">
                                <span class="p-column-title"> Tambah</span>
                                <input class="checkbox_animated" type="checkbox">
                              </td>
                              <td style="width: 100px">
                                <span class="p-column-title"> Kemaskini</span>
                                <input class="checkbox_animated" type="checkbox">
                              </td>
                              <td style="width: 100px">
                                <span class="p-column-title"> Hapus</span>
                                <input class="checkbox_animated" type="checkbox">
                              </td>
                          </tr>
                      </ng-template>
                  </p-table>
                  <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    No Data
                  </div>
                  <div class="primeng-paging-container justify-content-between">
                      <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                          (onPageChange)="getApplication($event)"
                          [totalRecords]="primengTableHelper.totalRecordsCount"
                          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                      </p-paginator>
                      <span class="total-records-count">
                        Jumlah: {{ primengTableHelper.totalRecordsCount}}
                      </span>
                  </div>
              </div>
              <!--<Primeng-TurboTable-End>-->
          </div>

            <button class="btn btn-primary pull-right" [routerLink]="['/main/list-user']" type="button">Simpan</button>
            <button class="btn btn-light pull-right mr-1" [routerLink]="['/main/list-user']" type="button">Kembali</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
