<div class="row mb-2">
  <div class="col-6 justify-content-start">
    <div class="faq-form">
      <input
        class="form-control"
        type="text"
        name="filterText"
        placeholder="Carian..."
      />
      <i class="search-icon" data-feather="search"></i>
    </div>
  </div>

  <div class="col-2 justify-content-between pl-0">
    <button
      type="button"
      class="btn btn-primary"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      title="Carian Lanjut"
      style="font-weight: 500"
    >
      <i class="fa fa-filter"></i>
    </button>
  </div>

  <div class="col-4 justify-content-end">
    <button
      type="button"
      class="btn btn-primary pull-right"
      (click)="addBantuan()"
    >
      <i class="fa fa-plus mr-2"></i>
      <b>Tambah</b>
    </button>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div id="collapseExample" [ngbCollapse]="!isCollapsed">
          <form>
            <div class="row mt-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Negeri</label>
                  <ng-select
                    [items]="states"
                    bindLabel="nama_negeri"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="negeri"
                  ></ng-select>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Daerah</label>
                  <ng-select
                    [items]="districts"
                    bindLabel="nama_daerah"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="daerah"
                  ></ng-select>
                </div>
              </div>
            </div>

            <div class="row no-gutters justify-content-end mb-2">
              <button
                class="btn btn-light mr-2"
                type="reset"
              >
              <i class="fa fa-refresh mr-2"></i>
                <b>Reset</b>
              </button>

              <button
                class="btn btn-primary pull-right"
                type="button"
              >
              <i class="fa fa-search mr-2"></i>
                <b>Cari</b>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters align-items-center mt-3">
  <div class="primeng-datatable-container">
    <p-table
      #dataTable
      styleClass="p-datatable-striped"
      [resizableColumns]="true"
      [loading]="primengTableHelper.isLoading"
      (onLazyLoad)="getBantuan($event)"
      [value]="primengTableHelper.records"
      rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
      [paginator]="false"
      [lazy]="true"
      [scrollable]="true"
      ScrollWidth="100%"
      [responsive]="primengTableHelper.isResponsive"
      [resizableColumns]="primengTableHelper.resizableColumns"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px" pSortableColumn="nama_negeri">
            Negeri
            <p-sortIcon field="nama_negeri"></p-sortIcon>
          </th>
          <th style="width: 100px" pSortableColumn="nama_daerah">
            Daerah
            <p-sortIcon field="nama_daerah"></p-sortIcon>
          </th>
          <th style="width: 130px" pSortableColumn="jumlah_bwi">
            Jumlah Diberikan
            <p-sortIcon field="jumlah_bwi"></p-sortIcon>
          </th>
          <th style="width: 145px" pSortableColumn="jumlah_pulangan">
            Jumlah Dipulangkan
            <p-sortIcon field="jumlah_pulangan"></p-sortIcon>
          </th>
          <th style="width: 100px" pSortableColumn="jumlah_kir">
            Bil. KIR
            <p-sortIcon field="jumlah_kir"></p-sortIcon>
          </th>
          <th style="width: 150px">Tindakan</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record="$implicit">
        <tr>
          <td style="width: 100px">
            <span class="p-column-title">Negeri</span>
            {{record.nama_negeri}}
          </td>
          <td style="width: 100px">
            <span class="p-column-title">Daerah</span>
            {{record.nama_daerah}}
          </td>
          <td style="width: 130px">
            <span class="p-column-title">Jumlah Diberikan</span>
            RM {{record.jumlah_bwi}}
          </td>
          <td style="width: 145px">
            <span class="p-column-title">Jumlah Dipulangkan</span>
            <label *ngIf="record.jumlah_kembali">RM {{record.jumlah_kembali}}</label>
            <label *ngIf="!record.jumlah_kembali">RM 0.00</label>
          </td>
          <td style="width: 100px">
            <span class="p-column-title">Bil. KIR</span>
            <label *ngIf="record.jumlah_kir">{{record.jumlah_kir}}</label>
            <label *ngIf="!record.jumlah_kir">0</label>
          </td>
          <td style="width: 150px">
            <div ngbDropdown class="btn-group" role="group" container="body">
              <button
                type="button"
                class="btn btn-primary btn-primeng dropdown-toggle"
                id="action"
                ngbDropdownToggle
              >
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
                Tindakan
              </button>
              <div ngbDropdownMenu aria-labelledby="action">
                <a
                  class="dropdown-item"
                  [routerLink]="['/app/tabung/edit-wang-ihsan/kir']"
                  [queryParams]="{idKawasan: record.id, idBencana: idBencana, idJenisBwi: idJenisBwi, idBwi: idBwi, idDaerah: record.id_daerah}"
                >
                  Lihat
                </a>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
    <div class="primeng-paging-container justify-content-between">
      <p-paginator
        [rows]="primengTableHelper.defaultRecordsCountPerPage"
        #paginator
        (onPageChange)="getBantuan($event)"
        [totalRecords]="primengTableHelper.totalRecordsCount"
        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
      ></p-paginator>
      <span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
    </div>
  </div>
</div>
