<div class="modal-header">
	<h5 class="modal-title">Tambah Agensi</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form class="form theme-form">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Kementerian</label>
					<div>
						<select class="form-control" name="ministry">
							<option *ngFor="let ministry of ministry" value="{{ministry['name']}}">
								{{ministry['name']}}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Nama Agensi</label>
					<input class="form-control" name="name" type="text" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Kod Agensi</label>
					<input class="form-control" name="code" type="text" />
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
	<button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Simpan</button>
</div>
