<div class="row no-gutters justify-content-end">
  <button
    type="button"
    class="btn btn-primary pull-right"
    (click)="pilihPembayaran()"
  >
    <i class="fa fa-plus mr-2"></i>
    <b>Pembayaran</b>
  </button>
</div>

<div class="row no-gutters align-items-center mt-3" [hidden]="primengTableHelperTerus.totalRecordsCount == 0">
  <div class="primeng-datatable-container">
    <p-table
      #dataTable
      styleClass="p-datatable-striped"
      [resizableColumns]="true"
      [loading]="primengTableHelperTerus.isLoading"
      (onLazyLoad)="getBayaranTerus($event)"
      [value]="primengTableHelperTerus.records"
      rows="{{primengTableHelperTerus.defaultRecordsCountPerPage}}"
      [paginator]="false"
      [lazy]="true"
      [scrollable]="true"
      ScrollWidth="100%"
      [responsive]="primengTableHelperTerus.isResponsive"
      [resizableColumns]="primengTableHelperTerus.resizableColumns"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 150px" pSortableColumn="no_rujukan_terus">
            No. Bayaran
            <p-sortIcon field="no_rujukan_terus"></p-sortIcon>
          </th>
          <th style="width: 130px" pSortableColumn="perihal">
            Perihal
            <p-sortIcon field="perihal"></p-sortIcon>
          </th>
          <th style="width: 150px" pSortableColumn="no_rujukan_kelulusan">
            No. Kelulusan
            <p-sortIcon field="no_rujukan_kelulusan"></p-sortIcon>
          </th>
          <th style="width: 110px" pSortableColumn="jumlah">
            Jumlah
            <p-sortIcon field="jumlah"></p-sortIcon>
          </th>
          <th style="width: 150px">Tindakan</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record="$implicit">
        <tr>
          <td style="width: 150px">
            <span class="p-column-title">No. Bayaran</span>
            {{record.no_rujukan_terus}}
          </td>
          <td style="width: 130px">
            <span class="p-column-title">Perihal</span>
            <label *ngIf="record.perihal">{{record.perihal}}</label>
            <label *ngIf="!record.perihal">-</label>
          </td>
          <td style="width: 150px">
            <span class="p-column-title">No. Kelulusan</span>
            {{record.no_rujukan_kelulusan}}
          </td>
          <td style="width: 110px">
            <span class="p-column-title">Jumlah</span>
            {{record.jumlah}}
          </td>
          <td style="width: 150px">
            <div ngbDropdown class="btn-group" role="group" container="body">
              <button
                type="button"
                class="btn btn-primary btn-primeng dropdown-toggle"
                id="action"
                ngbDropdownToggle
              >
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
                Tindakan
              </button>
              <div ngbDropdownMenu aria-labelledby="action">
                <button
                  class="dropdown-item"
                >
                  Padam
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="primeng-no-data" *ngIf="primengTableHelperTerus.totalRecordsCount == 0">No Data</div>
    <div class="primeng-paging-container justify-content-between">
      <p-paginator
        [rows]="primengTableHelperTerus.defaultRecordsCountPerPage"
        #paginator
        (onPageChange)="getBayaranTerus($event)"
        [totalRecords]="primengTableHelperTerus.totalRecordsCount"
        [rowsPerPageOptions]="primengTableHelperTerus.predefinedRecordsCountPerPage"
      ></p-paginator>
      <span class="total-records-count">Jumlah: {{ primengTableHelperTerus.totalRecordsCount}}</span>
    </div>
  </div>
</div>

<div class="row no-gutters align-items-center mt-3" [hidden]="primengTableHelperSkb.totalRecordsCount == 0">
  <div class="primeng-datatable-container">
    <p-table
      #dataTable
      styleClass="p-datatable-striped"
      [resizableColumns]="true"
      [loading]="primengTableHelperSkb.isLoading"
      (onLazyLoad)="getBayaranSkb($event)"
      [value]="primengTableHelperSkb.records"
      rows="{{primengTableHelperSkb.defaultRecordsCountPerPage}}"
      [paginator]="false"
      [lazy]="true"
      [scrollable]="true"
      ScrollWidth="100%"
      [responsive]="primengTableHelperSkb.isResponsive"
      [resizableColumns]="primengTableHelperSkb.resizableColumns"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 150px" pSortableColumn="no_rujukan_skb">
            No. Bayaran
            <p-sortIcon field="no_rujukan_skb"></p-sortIcon>
          </th>
          <th style="width: 130px" pSortableColumn="perihal">
            Perihal
            <p-sortIcon field="perihal"></p-sortIcon>
          </th>
          <th style="width: 150px" pSortableColumn="no_rujukan_kelulusan">
            No. Kelulusan
            <p-sortIcon field="no_rujukan_kelulusan"></p-sortIcon>
          </th>
          <th style="width: 110px" pSortableColumn="jumlah">
            Jumlah
            <p-sortIcon field="jumlah"></p-sortIcon>
          </th>
          <th style="width: 150px">Tindakan</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record="$implicit">
        <tr>
          <td style="width: 150px">
            <span class="p-column-title">No. Bayaran</span>
            {{record.no_rujukan_skb}}
          </td>
          <td style="width: 130px">
            <span class="p-column-title">Perihal</span>
            <label *ngIf="record.perihal">{{record.perihal}}</label>
            <label *ngIf="!record.perihal">-</label>
          </td>
          <td style="width: 150px">
            <span class="p-column-title">No. Kelulusan</span>
            {{record.no_rujukan_kelulusan}}
          </td>
          <td style="width: 110px">
            <span class="p-column-title">Jumlah</span>
            {{record.jumlah}}
          </td>
          <td style="width: 150px">
            <div ngbDropdown class="btn-group" role="group" container="body">
              <button
                type="button"
                class="btn btn-primary btn-primeng dropdown-toggle"
                id="action"
                ngbDropdownToggle
              >
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
                Tindakan
              </button>
              <div ngbDropdownMenu aria-labelledby="action">
                <button
                  class="dropdown-item"
                >
                  Padam
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="primeng-no-data" *ngIf="primengTableHelperSkb.totalRecordsCount == 0">No Data</div>
    <div class="primeng-paging-container justify-content-between">
      <p-paginator
        [rows]="primengTableHelperSkb.defaultRecordsCountPerPage"
        #paginator
        (onPageChange)="getBayaranSkb($event)"
        [totalRecords]="primengTableHelperSkb.totalRecordsCount"
        [rowsPerPageOptions]="primengTableHelperSkb.predefinedRecordsCountPerPage"
      ></p-paginator>
      <span class="total-records-count">Jumlah: {{ primengTableHelperSkb.totalRecordsCount}}</span>
    </div>
  </div>
</div>
