
<form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid" novalidate>
  <div class="row justify-content-end">
    <div class="col-lg-2">
      <div class="form-group">
        <ng-select
          [items]="arrayYear"
          bindLabel="years"
          bindValue="years"
          placeholder="Carian Tahun"
          class="js-example-placeholder-multiple"
          name="tahunBayaran"
          [(ngModel)]="filterTahun"
          (ngModelChange)="getTahun()"
        ></ng-select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Belanja Tahun Semasa (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Belanja Tahun Semasa"
          name="belanja_semasa"
          value="{{belanja.belanjaSemasa | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Belanja Tahun Terdahulu (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Belanja Tahun Terdahulu"
          name="belanja_dahulu"
          value="{{belanja.belanjaSebelum | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Kesuluruhan Perbelanjaan (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Kesuluruhan Perbelanjaan"
          name="jumlah_belanja"
          value="{{belanja.jumlahBelanja | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>
  </div>
  <hr/>

  <div class="row no-gutters">
    <div class="mt-3 col-12">
      <ul ngbNav #nav="ngbNav" [(activeId)]="tabId" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Secara Terus</a>
          <ng-template ngbNavContent>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Jenis Bayaran</h6>
            <app-jenis-bayaran-terus></app-jenis-bayaran-terus>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Kategori</h6>
            <app-kategori-terus></app-kategori-terus>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>SKB</a>
          <ng-template ngbNavContent>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Jenis Bayaran</h6>
            <app-jenis-bayaran-skb></app-jenis-bayaran-skb>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Kategori</h6>
            <app-kategori-skb></app-kategori-skb>
          </ng-template>
        </li>

        <li [ngbNavItem]="3" *ngIf="kategori_tabung === 2">
          <a ngbNavLink>Waran</a>
          <ng-template ngbNavContent>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Jenis Bayaran</h6>
            <app-jenis-bayaran-waran></app-jenis-bayaran-waran>
            <h6 class="mt-3 mb-4">Perbelanjaan Mengikut Kategori</h6>
            <app-kategori-waran></app-kategori-waran>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</form>
