
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="row justify-content-end">
    <div class="col-lg-2">
      <div class="form-group">
        <ng-select
          [items]="arrayYear"
          bindLabel="years"
          bindValue="years"
          placeholder="Carian Tahun"
          class="js-example-placeholder-multiple"
          name="tahunBayaran"
          [(ngModel)]="filterTahun"
          (ngModelChange)="getTahun()"
        ></ng-select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Siling Peruntukan (RM)*</label>
        <input
          class="form-control"
          type="number"
          placeholder="Jumlah Siling Peruntukan"
          name="jumlah_siling"
          [(ngModel)]="kelulusan.jumlah_siling"
          #jumlahSiling="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && jumlahSiling.invalid }"
          required
        />
        <div *ngIf="f.submitted && jumlahSiling.invalid" class="invalid-feedback">
          <div *ngIf="jumlahSiling.errors.required">Jumlah Siling Wajib Dipilih</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Baki Peruntukan (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Baki Peruntukan"
          name="baki_siling"
          value="{{kelulusan.baki_jumlah_siling | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Belanja Tahun Semasa (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Belanja Tahun Semasa"
          name="belanja_semasa"
          value="{{belanja.belanjaSemasa | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Belanja Tahun Terdahulu (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Belanja Tahun Terdahulu"
          name="belanja_dahulu"
          value="{{belanja.belanjaSebelum | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Jumlah Kesuluruhan Perbelanjaan (RM)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Jumlah Kesuluruhan Perbelanjaan"
          name="jumlah_belanja"
          value="{{belanja.jumlahBelanja | number: '1.2-2'}}"
          disabled
        />
      </div>
    </div>
  </div>
  <hr/>

  <div class="row no-gutters">
    <h6 class="mt-3">Perbelanjaan Mengikut Jenis Bayaran</h6>
    <div class="mt-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="tabId" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>SKB</a>
          <ng-template ngbNavContent>
            <app-jenis-bayaran-skb></app-jenis-bayaran-skb>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Secara Terus</a>
          <ng-template ngbNavContent>
            <app-jenis-bayaran-terus></app-jenis-bayaran-terus>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink>Waran</a>
          <ng-template ngbNavContent>
            <app-jenis-bayaran-waran></app-jenis-bayaran-waran>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <div class="row no-gutters">
    <h6 class="mt-3">Perbelanjaan Mengikut Kategori</h6>
    <div class="mt-3">
      <ul ngbNav #navKategori="ngbNav" [(activeId)]="tabIdKategori" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>SKB</a>
          <ng-template ngbNavContent>
            <app-kategori-skb></app-kategori-skb>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Secara Terus</a>
          <ng-template ngbNavContent>
            <app-kategori-terus></app-kategori-terus>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink>Waran</a>
          <ng-template ngbNavContent>
            <app-kategori-waran></app-kategori-waran>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="navKategori" class="mt-2"></div>
    </div>
  </div>

  <div class="row no-gutters justify-content-end mt-3">
    <button type="button" class="btn btn-light mr-2" [routerLink]="['/app/tabung/senarai-kelulusan']">
      Kembali
    </button>
    <button class="btn btn-primary pull-right" type="submit">
      Simpan
    </button>
  </div>
</form>
