<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Maklumat Tabung</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Maklumat Tabung</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Tabung</label>
					<input
            class="form-control"
            name="nama_tabung"
            type="text"
            [(ngModel)]="createTabung.nama_tabung"
            placeholder="Nama Tabung"
          />
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Tarikh Baki</label>
					<input
            class="form-control"
            type="date"
            placeholder="Tarikh baki"
            name="tarikh_baki"
            [(ngModel)]="tarikhBaki"
          />
				</div>
			</div>
		</div>

		<div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-form-label">Jumlah</label>
          <input
            class="form-control"
            type="text"
            name="jumlah_baki_semasa"
            [(ngModel)]="createTabung.jumlah_baki_semasa"
            placeholder="Jumlah Baki"
            #jumlahBakiSemasa="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && jumlahBakiSemasa.invalid }"
            required
            onlyNumbers
          />
          <div *ngIf="f.submitted && jumlahBakiSemasa.invalid" class="invalid-feedback">
            <div *ngIf="jumlahBakiSemasa.errors.required">Jumlah Baki Semasa Wajib Diisi</div>
          </div>
        </div>
      </div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<label for="exampleFormControlInput1">Catatan</label>
				<textarea class="form-control" name="catatan" [(ngModel)]="createTabung.catatan" required="" placeholder="Catatan..." rows="3"></textarea>
			</div>
		</div>

    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </div>
</form>


