<app-breadcrumb
	[title]="'Mangsa Bencana Mengikut Negeri'"
	[items]="['Muka Halaman']"
	[active_item]="''"
></app-breadcrumb>
<div class="container-fluid">
	<div class="card">
		<div class="card-body pl-2 pr-2 pt-4 pb-4">
			<form>
				<div class="row">
					<div class="col-lg-3 m-auto">
						<div class="form-group">
							<label for="exampleFormControlInput1">Tahun</label>
							<select class="form-control digits" id="exampleFormControlSelect9">
								<option>Sila Pilih</option>
								<option>2021</option>
								<option>2020</option>
								<option>2019</option>
							</select>
						</div>
					</div>

					<div class="col-lg-3">
						<form class="form custom-datepicker custom-datepicker-dropdown">
							<div class="form-group mb-0">
								<label for="exampleFormControlInput1">Tarikh</label>
								<div class="input-group">
									<input
										class="form-control"
										placeholder="yyyy-mm-dd"
										name="dp"
										[(ngModel)]="modelFooter"
										ngbDatepicker
										[footerTemplate]="footerTemplate"
										#f="ngbDatepicker"
									/>
									<div class="input-group-append">
										<button class="btn calendar" (click)="f.toggle()" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</div>
								</div>
							</div>
						</form>
						<ng-template #footerTemplate>
							<hr class="my-0" />
							<button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; f.close()">
								Today
							</button>
							<button class="btn btn-secondary btn-sm m-2 float-right" (click)="f.close()">Close</button>
						</ng-template>
					</div>

					<div class="col-lg-3 m-auto">
						<div class="form-group">
							<label for="exampleFormControlInput1">Bencana</label>
							<select class="form-control digits" id="exampleFormControlSelect9">
								<option>Sila Pilih</option>
								<option>Banjir</option>
								<option>Covid-19</option>
							</select>
						</div>
					</div>

					<div class="col-lg-1 mt-4 mr-5">
						<button class="btn btn-primary justify-content-end mr-3" style="margin-top:5px" type="button">Cari</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div id="chartdiv" style="width: 100%; height: 500px"></div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div id="chartdiv2" style="width: 100%; height: 400px"></div>
		</div>
	</div>

<!--  here-->

	<div class="row">
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="user"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Keseluruhan Mangsa</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahMangsa.penerima}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Kos Bantuan Keseluruhan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahMangsa.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="dollar-sign"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Penerima Wang Ihsan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahIhsan.penerima}} orang</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bantuan Wang Ihsan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahIhsan.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="box"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Pinjaman Khas</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahPinjaman.penerima}} orang</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bantuan Pinjaman Khas</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahPinjaman.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="send"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bantuan Antarabangsa</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahAntarabangsa.penerima}} orang</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bantuan Antarabangsa</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahAntarabangsa.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="triangle"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Rumah Dibaik Pulih</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahRumahBaikPulih.penerima}} buah</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Kos Baik Pulih Rumah</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahRumahBaikPulih.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="home"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bina Rumah Kekal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahRumahKekal.penerima}} buah</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Kos Bina Rumah Kekal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahRumahKekal.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="droplet"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Bantuan Pertanian</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahPertanian.penerima}} bantuan</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Kos Bantuan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahPertanian.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-primary">
        <div class="media static-top-widget">
          <div class="media-body">
            <i class="icon-bg" data-feather="file-text"></i>
          </div>
        </div>
        <div class="card-body" style="background-color:#145DB7;text-align:start; padding:20px; border-radius:8px">
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Jumlah Lain-Lain Bantuan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">{{jumlahLain.penerima}} bantuan</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="color:#BBD9FF;">Kos Bantuan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 style="font-weight:500">RM {{jumlahLain.jumlah}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
