<app-breadcrumb [title]="'Profil Pengguna'" [items]="['Akaun']" [active_item]="'Pengguna'"></app-breadcrumb>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate autocomplete="off">
					<div class="row">
						<div class="col-lg-4">
              <label>Gambar Profil<span class="text-danger"> * <i class="flaticon-exclamation-2" placement="right" ngbTooltip="Image size 700 x 234 pixels"></i></span></label>
              <div></div>
              <img class="mw-100 mb-2" [src]="getProfile.pengguna.gambar ? getProfile.pengguna.gambar : defaultImageUrl" (error)="getProfile.pengguna.gambar = defaultImageUrl"/>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="gambar" (change)="fileChangeEvent($event)" accept=".png, .jpg, .jpeg">
                <label class="custom-file-label">{{ profilImageTempName ? profilImageTempName : '.png, .jpg, .jpeg sahaja. Max 5MB' }}</label>
              </div>
              <image-uploader [imageChangedEvent]="profilImageChangedEvent" [aspectRatio]="1 / 1" [maintainAspectRatio]="true" (change)="assignImage($event)" [apiEndpoint]="endpoint" (success)="refreshProfil($event)"></image-uploader>
						</div>

						<div class="col-lg-8">
							<div class="row mb-3">
                <div class="col-lg-6">
                  <h6>Maklumat Pengguna</h6>
                </div>

								<div class="col-lg-6" *ngFor="let item of getProfile.peranan | keyvalue">
									<label>Peranan Pengguna : {{item.value | uppercase}}</label>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Nama*</label>
										<input
											class="form-control"
											name="nama"
											type="text"
											placeholder="Nama"
											[(ngModel)]="getProfile.pengguna.nama"
                      #name="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                      required
										/>
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                      <div *ngIf="name.errors.required">Nama Wajib Diisi</div>
                    </div>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
										<label>No. Kad Pengenalan*</label>
										<input
											class="form-control"
											name="no_kp"
											type="text"
											placeholder="No. Kad Pengenalan"
											[(ngModel)]="getProfile.pengguna.no_kp"
                      #noKp="ngModel"
                      [class.is-invalid]="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid"
                      maxlength="12"
                      onlyNumbers
                      kpValidator
										/>
                    <div *ngIf="f.submitted && noKp.invalid" class="invalid-feedback">
                      <div *ngIf="noKp.errors.required">No. Kad Pengenalan Wajib Diisi</div>
                    </div>
                    <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                      No. Kad Pengenalan Kurang Daripada 12
                    </div>
                    <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                      Kod Negeri Tidak Sah
                    </div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Emel*</label>
										<input
											class="form-control"
											name="emel"
											type="text"
											placeholder="Emel"
											[(ngModel)]="getProfile.pengguna.emel"
                      disabled
										/>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
										<label>Telefon Bimbit*</label>
										<input
											class="form-control"
											name="telefon_bimbit"
											type="text"
											placeholder="Telefon Bimbit"
											[(ngModel)]="getProfile.pengguna.telefon_bimbit"
                      #mobile="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                      minlength="9"
                      maxlength="12"
                      onlyNumbers
                      required
										/>
                    <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                      <div *ngIf="mobile.errors.required">Telefon Bimbit Wajib Diisi</div>
                      <div *ngIf="mobile.errors.minlength">No. Telefon (Bimbit) Mesti Melebihi 9 Digit</div>
                    </div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Jawatan*</label>
										<input
											class="form-control"
											name="jawatan"
											type="text"
											placeholder="Jawatan"
											[(ngModel)]="getProfile.pengguna.jawatan"
                      #position="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && position.invalid }"
                      required
										/>
                    <div *ngIf="f.submitted && position.invalid" class="invalid-feedback">
                      <div *ngIf="position.errors.required">Jawatan Wajib Diisi</div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
          <hr />

          <h6>Maklumat Agensi</h6>
					<div class="row">
            <div class="col-lg-6">
							<div class="form-group">
								<label>Agensi*</label>
								<div *ngIf="showAddress == false" [@fadeVerticalAnimation]>
                  <ng-select
                    [items]="agencies"
                    bindLabel="nama_agensi"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="nama_agensi"
                    (change)="setKementerian()"
                    [(ngModel)]="agensi"
                    disabled
                  ></ng-select>
                </div>
                <div *ngIf="showAddress == true" [@fadeVerticalAnimation]>
                  <ng-select
                    [items]="agencies"
                    bindLabel="nama_agensi"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="nama_agensi"
                    (change)="setKementerian()"
                    [(ngModel)]="agensi"
                    #namaAgensi="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && namaAgensi.invalid }"
                    required
                  ></ng-select>
                  <div *ngIf="f.submitted && namaAgensi.invalid" class="invalid-feedback">
                    <div *ngIf="namaAgensi.errors.required">Agensi Wajib Diisi</div>
                  </div>
                </div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label>Kementerian*</label>
                <ng-select
                  [items]="ministries"
                  bindLabel="nama_kementerian"
                  bindValue="id"
                  placeholder="Sila Pilih"
                  class="js-example-placeholder-multiple"
                  name="id_kementerian"
                  [(ngModel)]="getProfile.pengguna.id_kementerian"
                  disabled
                ></ng-select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
							  <label>Telefon Pejabat*</label>
								<input
									class="form-control"
									name="telefon_pejabat"
									type="text"
									placeholder="Telefon Pejabat"
									[(ngModel)]="getProfile.pengguna.telefon_pejabat"
                  #noTel="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && noTel.invalid }"
                  minlength="9"
                  maxlength="15"
                  onlyNumbers
                  required
								/>
                <div *ngIf="f.submitted && noTel.invalid" class="invalid-feedback">
                  <div *ngIf="noTel.errors.required">Telefon Pejabat Wajib Diisi</div>
                </div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label>Fax</label>
								<input
									class="form-control"
									name="fax"
									type="text"
									placeholder="Fax"
									[(ngModel)]="getProfile.pengguna.fax"
                  minlength="9"
                  maxlength="15"
                  onlyNumbers
								/>
							</div>
						</div>
					</div>

          <div class="row" *ngIf="showAddress == true" [@fadeVerticalAnimation]>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Alamat 1*</label>
                <input
									class="form-control"
									name="alamat_1"
									type="text"
									placeholder="Alamat 1"
									[(ngModel)]="getProfile.pengguna.alamat_1"
                  #add1="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && add1.invalid }"
                  required
								/>
                <div *ngIf="f.submitted && add1.invalid" class="invalid-feedback">
                  <div *ngIf="add1.errors.required">Alamat 1 Agensi Wajib Diisi</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label>Alamat 2</label>
                <input
									class="form-control"
									name="alamat_2"
									type="text"
									placeholder="Alamat 2"
									[(ngModel)]="getProfile.pengguna.alamat_2"
							  />
              </div>
            </div>
          </div>

          <div class="row" *ngIf="showAddress == true" [@fadeVerticalAnimation]>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Poskod*</label>
                <input
									class="form-control"
									name="poskod"
									type="text"
									placeholder="Poskod"
									[(ngModel)]="getProfile.pengguna.poskod"
                  #postcode="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && postcode.invalid }"
                  minlength="5"
                  maxlength="5"
                  onlyNumbers
                  required
								/>
                <div *ngIf="f.submitted && postcode.invalid" class="invalid-feedback">
                  <div *ngIf="postcode.errors.required">Poskod Wajib Diisi</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label>Daerah*</label>
                <ng-select
                  [items]="districts"
                  bindLabel="nama_daerah"
                  placeholder="Sila Pilih"
                  class="js-example-placeholder-multiple"
                  name="nama_daerah"
                  (change)="setNegeri()"
                  [(ngModel)]="daerahAgensi"
                  #namaDaerah="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && namaDaerah.invalid }"
                  required
                ></ng-select>
                <div *ngIf="f.submitted && namaDaerah.invalid" class="invalid-feedback">
                  <div *ngIf="namaDaerah.errors.required">Daerah Wajib Diisi</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="showAddress == true" [@fadeVerticalAnimation]>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Negeri*</label>
                <ng-select
                  [items]="states"
                  bindLabel="nama_negeri"
                  bindValue="id"
                  placeholder="Sila Pilih"
                  class="js-example-placeholder-multiple"
                  name="id_negeri"
                  [(ngModel)]="getProfile.pengguna.id_negeri"
                  disabled
                ></ng-select>
              </div>
            </div>
          </div>

					<div class="row justify-content-end mr-2">
						<button class="btn btn-light mr-2" type="button" [routerLink]="['/app/muka-halaman']">
							Kembali
						</button>
						<button class="btn btn-primary" type="submit">Simpan</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
