<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Hubungan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Hubungan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()">
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Hubungan</label>
					<input
						class="form-control"
						id="nama_sumber_dana"
						type="text"
						placeholder="Nama Hubungan"
						[(ngModel)]="hubungan.nama_hubungan"
						#nama_hubungan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && nama_hubungan.invalid }"
						name="dana.nama_sumber_dana"
						minlength="0"
						maxlength="250"
						required
					/>
					<div *ngIf="f.submitted && nama_hubungan.invalid" class="invalid-feedback">
						<div *ngIf="nama_hubungan.errors.required">Nama Hubungan Wajib DiIsi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status</label>
					<select
						id="status"
						class="form-control digits"
						name="dana.status_sumber_dana"
						[(ngModel)]="hubungan.status_hubungan"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						minlength="0"
						maxlength="250"
						required
					>
						<option [ngValue]="undefined" disabled>Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="0">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib DiIsi</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
