<app-breadcrumb
	[title]="'Tambah Maklumat Mangsa'"
	[items]="['Pengurusan Mangsa']"
	[active_item]="'Tambah'"
></app-breadcrumb>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid && save()" novalidate>
					<div class="card-body">
            <h6>Maklumat Diri Mangsa</h6>
						<div class="row">
              <div class="col-lg-12">
								<div class="form-group">
									<label>Nama*</label>
									<input
										class="form-control"
										type="text"
                    name="nama"
                    [(ngModel)]="addMangsa.mangsa.nama"
										placeholder="Nama"
                    #namaMangsa="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && namaMangsa.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && namaMangsa.invalid" class="invalid-feedback">
                    <div *ngIf="namaMangsa.errors.required">Nama Mangsa Wajib Diisi</div>
                  </div>
								</div>
							</div>
            </div>

            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>No. Kad Pengenalan*</label>
									<input
										class="form-control"
										type="text"
                    name="no_kp"
                    [(ngModel)]="addMangsa.mangsa.no_kp"
										placeholder="No. Kad Pengenalan"
                    #noKp="ngModel"
                    [class.is-invalid]="((noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid) || f.submitted && noKp.invalid"
                    maxlength="12"
                    onlyNumbers
                    kpValidator
                    required
                  />
                  <div *ngIf="f.submitted && noKp.invalid" class="invalid-feedback">
                    <div *ngIf="noKp.errors.required">No. Kad Pengenalan Wajib Diisi</div>
                  </div>
                  <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                    No. Kad Pengenalan Kurang Daripada 12
                  </div>
                  <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                    Kod Negeri Tidak Sah
                  </div>
								</div>
							</div>

              <div class="col-lg-6">
								<div class="form-group">
									<label>No. Telefon*</label>
									<input
										class="form-control"
										type="text"
                    name="telefon"
                    [(ngModel)]="addMangsa.mangsa.telefon"
										placeholder="No. Telefon"
                    #noTel="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && noTel.invalid }"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    minlength="9"
                    maxlength="15"
                    required
                  />
                  <div *ngIf="f.submitted && noTel.invalid" class="invalid-feedback">
                    <div *ngIf="noTel.errors.required">No. Telefon Wajib Diisi</div>
                  </div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Catatan</label>
									<textarea
                    class="form-control"
                    rows="3"
                    name="catatan"
                    [(ngModel)]="addMangsa.mangsa.catatan"
                    placeholder="Catatan..."
                  ></textarea>
								</div>
							</div>
						</div>
            <hr />

            <h6>Maklumat Alamat</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Alamat 1*</label>
									<input
										class="form-control"
										type="text"
                    name="alamat_1"
                    [(ngModel)]="addMangsa.mangsa.alamat_1"
										placeholder="Alamat 1"
                    #alamat1="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && alamat1.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && alamat1.invalid" class="invalid-feedback">
                    <div *ngIf="alamat1.errors.required">Alamat 1 Mangsa Wajib Diisi</div>
                  </div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Alamat 2</label>
									<input
										class="form-control"
										type="text"
                    name="alamat_2"
                    [(ngModel)]="addMangsa.mangsa.alamat_2"
										placeholder="Alamat 2"
                  />
								</div>
							</div>
						</div>

						<div class="row">
              <div class="col-lg-6">
								<div class="form-group">
									<label>Poskod*</label>
									<input
										class="form-control"
										type="text"
                    name="poskod"
                    [(ngModel)]="addMangsa.mangsa.poskod"
										placeholder="Poskod"
                    #postcode="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && postcode.invalid }"
                    oninput="this.value=this.value.replace(/\D+/g, '');"
                    minlength="5"
                    maxlength="5"
                    required
                  />
                  <div *ngIf="f.submitted && postcode.invalid" class="invalid-feedback">
                    <div *ngIf="postcode.errors.required">Poskod Wajib Diisi</div>
                  </div>
								</div>
							</div>

              <div class="col-lg-6">
								<div class="form-group">
									<label>Daerah*</label>
									<ng-select
                    [items]="districts"
                    bindLabel="nama_daerah"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="namaDaerah"
                    (change)="setNegeri()"
                    [(ngModel)]="setDaerah"
                    #daerah="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && daerah.invalid }"
                    required
                  ></ng-select>
                  <div *ngIf="f.submitted && daerah.invalid" class="invalid-feedback">
                    <div *ngIf="daerah.errors.required">Daerah Wajib Dipilih</div>
                  </div>
								</div>
							</div>
						</div>

            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Negeri*</label>
                  <ng-select
                    [items]="states"
                    bindLabel="nama_negeri"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="id_negeri"
                    [(ngModel)]="addMangsa.mangsa.id_negeri"
                    disabled
                  ></ng-select>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Dun</label>
									<ng-select
                    [items]="dun"
                    bindLabel="nama_dun"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="namaDun"
                    (change)="setParlimen()"
                    [(ngModel)]="setDun"
                  ></ng-select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Parlimen</label>
                  <ng-select
                    [items]="parliaments"
                    bindLabel="nama_parlimen"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="id_parlimen"
                    [(ngModel)]="addMangsa.mangsa.id_parlimen"
                    disabled
                  ></ng-select>
								</div>
							</div>
						</div>
            <hr />

            <h6>Maklumat Bencana</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Nama Bencana</label>
									<div class="input-group">
										<input
                      class="form-control"
                      placeholder="Nama Bencana"
                      name="bencana"
                      [(ngModel)]="nama_bencana"
                      readonly
										/>
										<div class="input-group-append">
											<button class="btn btn-primary" (click)="pilihBencana()" type="button">
												<i class="fa fa-search text-white"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                <label>Tarikh Bencana</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="DD/MM/YYYY"
                    name="dp3"
                    [(ngModel)]="modelBencana"
                    ngbDatepicker
                    #d3="ngbDatepicker"
                    style="border-color: #efefef;"
                    readonly
                  >
                </div>
              </div>
            </div>

            <div class="row" *ngIf="viewStatus == true" [@fadeVerticalAnimation]>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Status Berpindah</label>
									<ng-select
                    [items]="evacuates"
                    bindLabel="pindah"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="id_pindah"
                    [(ngModel)]="addMangsa.bencana.id_pindah"
                    #pindah="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && pindah.invalid }"
                    required
                  ></ng-select>
                  <div *ngIf="f.submitted && pindah.invalid" class="invalid-feedback">
                    <div *ngIf="pindah.errors.required">Status Berpindah Wajib Dipilih</div>
                  </div>
								</div>
							</div>
            </div>

            <div class="row" *ngIf="addMangsa.bencana.id_pindah == 2" [@fadeVerticalAnimation]>
							<div class="col-lg-12">
								<div class="form-group">
									<label>Nama Pusat*</label>
									<input
										class="form-control"
										type="text"
                    name="nama_pusat_pemindahan"
                    [(ngModel)]="addMangsa.bencana.nama_pusat_pemindahan"
										placeholder="Nama Pusat Pemindahan"
                    #pusatPindah="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && pusatPindah.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && pusatPindah.invalid" class="invalid-feedback">
                    <div *ngIf="pusatPindah.errors.required">Nama Pusat Pemindahan Wajib Diisi</div>
                  </div>
								</div>
							</div>

              <div class="col-lg-6">
								<div class="form-group">
									<label>Masalah Dihadapi</label>
									<textarea
										class="form-control"
                    rows="3"
                    name="masalah"
                    [(ngModel)]="addMangsa.bencana.masalah"
										placeholder="Masalah Dihadapi"
                  ></textarea>
								</div>
							</div>
						</div>
            <hr />

            <h6>Varifikasi Urusetia</h6>
						<div class="row mt-1">
							<div class="col-lg-12">
								<div class="row form-group custom-radio-ml ml-2">
                  <div class="radio radio-primary mr-4">
                    <input
                      id="radio44"
                      type="radio"
                      name="status_verifikasi"
                      [value]="1"
                      [(ngModel)]="addMangsa.mangsa.status_verifikasi"
                    />
                    <label for="radio44">Sudah</label>
                  </div>

                  <div class="radio radio-primary">
                    <input
                      id="radio55"
                      type="radio"
                      name="status_verifikasi"
                      [value]="0"
                      [(ngModel)]="addMangsa.mangsa.status_verifikasi"
                    />
                    <label for="radio55">Belum</label>
                  </div>
                </div>
							</div>
						</div>

            <h6>Perakuan</h6>
            <div class="row no-gutters">
              <div class="form-group m-checkbox-inline mb-0">
                <div class="checkbox checkbox-dark mb-2">
                  <input
                    id="inline-1"
                    type="checkbox"
                    (change)="perakuan($event.target.checked)"
                  />
                  <label for="inline-1">Dengan ini saya mengesahkan bahawa maklumat mangsa yang dimasukkan di atas adalah tepat dan benar.</label>
                </div>

                <div class="row no-gutters">
                  <div class="form-group mb-2">
                    <label><b>Nama :</b></label>
                    <a>{{getProfile?.pengguna?.nama}}</a>
                  </div>
                </div>
                <div class="row no-gutters" *ngFor="let item of getProfile.agensi | keyvalue">
                  <div class="form-group mb-2">
                    <label><b>Agensi :</b></label>
                    <a>{{item?.value}}</a>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="form-group">
                    <label><b>Tarikh Semasa :</b></label>
                    <a>{{latest_date}}</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row no-gutters justify-content-end">
              <button type="button" class="btn btn-light pull-right mr-2" [routerLink]="['/app/mangsa/senarai']">
                Kembali
              </button>
              <button class="btn btn-primary pull-right" type="submit">
                Simpan
              </button>
            </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
