<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Kerosakan Rumah</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Kerosakan Rumah</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()">
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Jenis Kerosakan</label>
					<input
						class="form-control"
						id="kerosakan"
						type="text"
						placeholder="Jenis Kerosakan"
						[(ngModel)]="kerosakan.nama_kerosakan"
						#nama_kerosakan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && nama_kerosakan.invalid }"
						name="kerosakan.nama_kerosakan"
						minlength="0"
						maxlength="250"
						required
					/>
					<div *ngIf="f.submitted && nama_kerosakan.invalid" class="invalid-feedback">
						<div *ngIf="nama_kerosakan.errors.required">Jenis Kerosakan Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status</label>
					<select
						id="status"
						class="form-control digits"
						name="kerosakan.status_kerosakan"
						[(ngModel)]="kerosakan.status_kerosakan"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option [ngValue]="undefined" disabled>Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="0">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
