<app-breadcrumb
  [title]="'Tambah Bantuan Wang Ihsan'"
  [items]="['Bantuan Wang Ihsan']"
  [active_item]="'Tambah'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
						<h6>Maklumat Pembayaran</h6>
            <div class="row no-gutters justify-content-end">
              <button
                type="button"
                class="btn btn-primary pull-right"
                (click)="pilihPembayaran()"
              >
                <i class="fa fa-plus mr-2"></i>
                <b>Pembayaran</b>
              </button>
            </div>

            <div class="row no-gutters align-items-center mt-3">
              <div class="primeng-datatable-container">
                <p-table
                  #dataTable
                  styleClass="p-datatable-striped"
                  [resizableColumns]="true"
                  [loading]="primengTableHelper.isLoading"
                  (onLazyLoad)="getPembayaran($event)"
                  [value]="primengTableHelper.records"
                  rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                  [paginator]="false"
                  [lazy]="true"
                  [scrollable]="true"
                  ScrollWidth="100%"
                  [responsive]="primengTableHelper.isResponsive"
                  [resizableColumns]="primengTableHelper.resizableColumns"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 150px" pSortableColumn="no_rujukan_bayaran">
                        No. Rujukan Bayaran
                        <p-sortIcon field="no_rujukan_bayaran"></p-sortIcon>
                      </th>
                      <th style="width: 130px" pSortableColumn="perihal">
                        Perihal
                        <p-sortIcon field="perihal"></p-sortIcon>
                      </th>
                      <th style="width: 150px" pSortableColumn="no_rujukan_kelulusan">
                        No. Kelulusan
                        <p-sortIcon field="no_rujukan_kelulusan"></p-sortIcon>
                      </th>
                      <th style="width: 110px" pSortableColumn="jumlah">
                        Jumlah
                        <p-sortIcon field="jumlah"></p-sortIcon>
                      </th>
                      <th style="width: 150px">Tindakan</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                      <td style="width: 150px">
                        <span class="p-column-title">No. Rujukan Bayaran</span>
                        {{record.no_rujukan_bayaran}}
                      </td>
                      <td style="width: 130px">
                        <span class="p-column-title">Perihal</span>
                        {{record.perihal}}
                      </td>
                      <td style="width: 150px">
                        <span class="p-column-title">No. Kelulusan</span>
                        {{record.no_rujukan_kelulusan}}
                      </td>
                      <td style="width: 110px">
                        <span class="p-column-title">Jumlah</span>
                        {{record.jumlah}}
                      </td>
                      <td style="width: 150px">
                        <div ngbDropdown class="btn-group" role="group" container="body">
                          <button
                            type="button"
                            class="btn btn-primary btn-primeng dropdown-toggle"
                            id="action"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                            Tindakan
                          </button>
                          <div ngbDropdownMenu aria-labelledby="action">
                            <button
                              class="dropdown-item"
                            >
                              Padam
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
                <div class="primeng-paging-container justify-content-between">
                  <p-paginator
                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                    #paginator
                    (onPageChange)="getPembayaran($event)"
                    [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                  ></p-paginator>
                  <span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Jenis BWI</label>
                    <ng-select
                      [items]="jenisBwi"
                      bindLabel="nama_jenis_bwi"
                      bindValue="id"
                      placeholder="Sila Pilih"
                      class="js-example-placeholder-multiple"
                      name="jenis_bwi"
                      [(ngModel)]="bwi.id_jenis_bwi"
                      #namaJenisBwi="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && namaJenisBwi.invalid }"
                      required
                    ></ng-select>
                    <div *ngIf="f.submitted && namaJenisBwi.invalid" class="invalid-feedback">
                      <div *ngIf="namaJenisBwi.errors.required">Jenis BWI Wajib Dipilih</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Bencana</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Nama Bencana"
                        name="bencana"
                        [(ngModel)]="nama_bencana"
                        #namaBencana="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && namaBencana.invalid }"
                        required
                        readonly
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="pilihJenisBencana()" type="button">
                          <i class="fa fa-search text-white"></i>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="f.submitted && namaBencana.invalid" class="invalid-feedback">
                      <div *ngIf="namaBencana.errors.required">Bencana Wajib Dipilih</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                  <label>Tarikh Bencana</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp"
                      [(ngModel)]="modelBencana"
                      readonly
                    >
                  </div>
                </div>
              </div>
            <hr />

						<h6>Maklumat Bantuan</h6>
            <div class="row no-gutters justify-content-end">
              <button
                type="button"
                class="btn btn-primary pull-right"
                (click)="addBantuan()"
              >
                <i class="fa fa-plus mr-2"></i>
                <b>Tambah</b>
              </button>
            </div>

            <div class="row no-gutters align-items-center mt-3">
              <div class="primeng-datatable-container">
                <p-table
                  #dataTable
                  styleClass="p-datatable-striped"
                  [resizableColumns]="true"
                  [loading]="primengTableHelperBantuan.isLoading"
                  (onLazyLoad)="getBantuan($event)"
                  [value]="primengTableHelperBantuan.records"
                  rows="{{primengTableHelperBantuan.defaultRecordsCountPerPage}}"
                  [paginator]="false"
                  [lazy]="true"
                  [scrollable]="true"
                  ScrollWidth="100%"
                  [responsive]="primengTableHelperBantuan.isResponsive"
                  [resizableColumns]="primengTableHelperBantuan.resizableColumns"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 100px" pSortableColumn="nama_negeri">
                        Negeri
                        <p-sortIcon field="nama_negeri"></p-sortIcon>
                      </th>
                      <th style="width: 100px" pSortableColumn="nama_daerah">
                        Daerah
                        <p-sortIcon field="nama_daerah"></p-sortIcon>
                      </th>
                      <th style="width: 120px" pSortableColumn="jumlah_bantuan">
                        Jumlah Diberikan
                        <p-sortIcon field="jumlah_bantuan"></p-sortIcon>
                      </th>
                      <th style="width: 150px">Tindakan</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                      <td style="width: 100px">
                        <span class="p-column-title">Negeri</span>
                        {{record.nama_negeri}}
                      </td>
                      <td style="width: 100px">
                        <span class="p-column-title">Daerah</span>
                        {{record.nama_daerah}}
                      </td>
                      <td style="width: 120px">
                        <span class="p-column-title">Jumlah Diberikan</span>
                        {{record.jumlah_bayaran}}
                      </td>
                      <td style="width: 150px">
                        <div ngbDropdown class="btn-group" role="group" container="body">
                          <button
                            type="button"
                            class="btn btn-primary btn-primeng dropdown-toggle"
                            id="action"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                            Tindakan
                          </button>
                          <div ngbDropdownMenu aria-labelledby="action">
                            <button
                              class="dropdown-item"
                            >
                              Padam
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <div class="primeng-paging-container justify-content-between">
                  <p-paginator
                    [rows]="primengTableHelperBantuan.defaultRecordsCountPerPage"
                    #paginator
                    (onPageChange)="getBantuan($event)"
                    [totalRecords]="primengTableHelperBantuan.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelperBantuan.predefinedRecordsCountPerPage"
                  ></p-paginator>
                  <span class="total-records-count">Jumlah: {{ primengTableHelperBantuan.totalRecordsCount}}</span>
                </div>
              </div>
            </div>

            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Keseluruhan Bayaran (RM)</label>
									<input
                    class="form-control"
                    type="text"
                    name="jumlah_bayaran"
                    placeholder="Jumlah Pembayaran"
                    [(ngModel)]="totalBayaran"
                    onlyNumbers
                    disabled
                  />
								</div>
							</div>
            </div>

						<button
              class="btn btn-primary pull-right"
              type="submit"
            >
              Hantar
            </button>
						<button
							class="btn btn-light pull-right mr-2"
							[routerLink]="['/app/tabung/senarai-wang-ihsan']"
							type="button"
						>
							Kembali
						</button>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
