<app-breadcrumb [title]="'Tambah Maklumat Bantuan Wang Ihsan'" [items]="['Pengurusan Tabung']"
  [active_item]="'Bantuan Wang Ihsan'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form class="form theme-form">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Maklumat Kelulusan</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan Kelulusan</label>
                        <div class="input-group">
                        <input class="form-control" name="approvalRefNo" type="text"
                          placeholder="No Rujukan Kelulusan" />
                          <div class="input-group-append">
                            <button class="btn btn-primary" (click)="addNoReference()" type="button">
                              <i class="fa fa-search text-white"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Kategori</label>
                        <input class="form-control" name="agency" type="text" placeholder="Kategori" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Rujukan Surat</label>
                        <input class="form-control" name="fund" type="text" placeholder="Rujukan Surat" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tabung</label>
                        <input class="form-control" name="category" type="text" placeholder="Tabung" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Perihal Surat</label>
                        <textarea class="form-control" name="letterDetail" type="textarea"
                          placeholder="Perihal Surat"></textarea>
                      </div>
                    </div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Negeri</label>
                        <div>
                          <select class="form-control" name="state">
                            <option *ngFor="let state of state" value="{{state['state']}}">
                              {{state['state']}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Daerah</label>
                        <div>
                          <select class="form-control" name="area">
                            <option *ngFor="let area of area" value="{{area['area']}}">
                              {{area['area']}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Bencana</label>
                        <div>
                          <select class="form-control" name="area">
                            <option *ngFor="let disaster of disaster" value="{{disaster['disaster']}}">
                              {{disaster['disaster']}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tahun</label>
                        <input class="form-control" name="year" type="text" placeholder="Tahun" />
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Jumlah Bayaran (WI/KIR)</label>
                        <input class="form-control" name="wiKir" type="text" placeholder="Jumlah Bayaran (WI/KIR)" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Jumlah KIR</label>
                        <input class="form-control" name="totalKir" type="text" placeholder="Jumlah KIR" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh EFT/Pengeluaran</label>
                        <input class="form-control" name="year" type="date" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Due Report (21hr)</label>
                        <input class="form-control" name="year" type="date" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Catatan</label>
                        <textarea class="form-control" name="year" type="textarea" placeholder="Catatan"></textarea>
                      </div>
                    </div>
                  </div>
                  <hr/>

                  <div class="row justify-content-end mb-2">
                    <button class="btn btn-primary" type="button" (click)="addDisasterModal()">
                      <i class="fa fa-plus mr-2"></i>
                      Pilih Ketua Isi Rumah
                    </button>
                  </div>
                  <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                      <p-table
                        #dataTable
                        styleClass="p-datatable-striped"
                        sortMode="multiple"
                        [resizableColumns]="true"
                        (onLazyLoad)="getDisaster($event)"
                        [value]="primengTableHelper.records"
                        rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                        [paginator]="false"
                        [lazy]="true"
                        [scrollable]="true"
                        ScrollWidth="100%"
                        [responsive]="primengTableHelper.isResponsive"
                        [resizableColumns]="primengTableHelper.resizableColumns"
                      >
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 130px">Tindakan</th>
                            <th style="width: 150px" pSortableColumn="tarih_bencana">
                              Nama (KIR)
                              <p-sortIcon field="tarih_bencana"></p-sortIcon>
                            </th>
                            <th style="width: 130px" pSortableColumn="jenis_bencana">
                              Jumlah Bantuan (BWI)
                              <p-sortIcon field="jenis_bencana"></p-sortIcon>
                            </th>
                            <th style="width: 130px" pSortableColumn="catatan">
                              Negeri
                              <p-sortIcon field="catatan"></p-sortIcon>
                            </th>
                            <th style="width: 130px" pSortableColumn="catatan">
                              Daerah
                              <p-sortIcon field="catatan"></p-sortIcon>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                          <tr>
                            <td style="width: 130px">
                              <div ngbDropdown class="btn-group" role="group" container="body">
                                <button
                                  type="button"
                                  class="btn btn-primary btn-primeng dropdown-toggle"
                                  id="action"
                                  ngbDropdownToggle
                                >
                                  <i class="fa fa-cog"></i>
                                  <span class="caret"></span>
                                  Tindakan
                                </button>
                                <div ngbDropdownMenu aria-labelledby="action">
                                  <button class="dropdown-item">Padam</button>
                                </div>
                              </div>
                            </td>
                            <td style="width: 150px">
                              <span class="p-column-title">Nama (KIR)</span>
                              {{record.name}}
                            </td>
                            <td style="width: 130px">
                              <span class="p-column-title"> Jumlah Bantuan (BWI)</span>
                              {{record.total}}
                            </td>
                            <td style="width: 130px">
                              <span class="p-column-title">Negeri</span>
                              {{record.state}}
                            </td>
                            <td style="width: 130px">
                              <span class="p-column-title">Daerah</span>
                              {{record.area}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
                      <div class="primeng-paging-container justify-content-between">
                        <p-paginator
                          [rows]="primengTableHelper.defaultRecordsCountPerPage"
                          #paginator
                          (onPageChange)="getDisaster($event)"
                          [totalRecords]="primengTableHelper.totalRecordsCount"
                          [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                        ></p-paginator>
                        <span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
                      </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Memo</a>
                <ng-template ngbNavContent>
                  <h6>Memo Perakuan KP</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan</label>
                        <input class="form-control" name="certRefNo" type="text" placeholder="No Rujukan" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh Perakuan</label>
                        <input class="form-control" name="certDate" type="date" />
                      </div>
                    </div>
                  </div>
                  <hr />

                  <h6>Memo Penyaluran KPD BKP</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan</label>
                        <input class="form-control" name="distRefNo" type="text" placeholder="No Rujukan" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh Penyaluran</label>
                        <input class="form-control" name="distDate" type="date" />
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h6>Memo Laporan KPD BKP</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan</label>
                        <input class="form-control" name="kpdRefNo" type="text" placeholder="No Rujukan" />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh Laporan</label>
                        <input class="form-control" name="kpdReportDate" type="date" />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Surat</a>
                <ng-template ngbNavContent>
                  <h6>Surat Makluman Tarikh Majlis</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan</label>
                        <input class="form-control" name="councilRefNo" type="text" placeholder="No Rujukan"/>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh Majlis</label>
                        <input class="form-control" name="councilDate" type="date" />
                      </div>
                    </div>
                  </div>
                  <hr />

                  <h6>Surat Laporan Majlis DRP APM</h6>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">No Rujukan</label>
                        <input class="form-control" name="councilRefNo" type="text" placeholder="No Rujukan"/>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Tarikh Laporan</label>
                        <input class="form-control" name="drpReportDate" type="date" />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <button class="btn btn-primary pull-right" [routerLink]="['/app/tabung/senarai-wang-ihsan']" type="button">
              Simpan
            </button>
            <button class="btn btn-light pull-right mr-1" [routerLink]="['/app/tabung/senarai-wang-ihsan']"
              type="button">
              Kembali
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
