<app-breadcrumb [title]="'Ringkasan Laporan'" [items]="['Laporan']" [active_item]="'Ringkasan'"></app-breadcrumb>

<div class="container-fluid">

  <div class="row">
		<div class="col-lg-12">
      <div class="card">
        <div class="card-body p-0">
          <div id="bantuanKeseluruhan" style="width: 100%; height: 250px"></div>
        </div>
        <div class="card-footer p-3">
          <h6 class="mb-0" style="text-align: center;">Kos Bantuan Keseluruhan</h6>
        </div>
      </div>
    </div>
	</div>

  <div class="row">
		<div class="col-lg-12">
      <div class="card">
        <div class="card-body p-0">
          <div id="sumberDanaRumah" style="width: 100%; height: 250px"></div>
        </div>
        <div class="card-footer p-3">
          <h6 class="mb-0" style="text-align: center;">Sumber Dana Bina Rumah Kekal/Baik Pulih Rumah</h6>
        </div>
      </div>
    </div>
	</div>

  <div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
          <div class="header-top">
            <h6 class="m-0">Jumlah Mangsa Terima Bantuan Mengikut Negeri</h6>
          </div>
				</div>
				<div class="card-body p-0">
					<div id="jumlahMangsa" style="width: 100%; height: 450px"></div>
				</div>
			</div>
		</div>
	</div>

  <div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
          <div class="header-top">
            <h6 class="m-0">Status Kemajuan Bina Rumah Kekal Mengikut Negeri</h6>
          </div>
				</div>
				<div class="card-body p-0">
					<div id="bilBinaRumah" style="width: 100%; height: 450px"></div>
				</div>
			</div>
		</div>
	</div>

  <div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
          <div class="header-top">
            <h6 class="m-0">Status Kemajuan Baik Pulih Rumah Mengikut Negeri</h6>
          </div>
				</div>
				<div class="card-body p-0">
					<div id="bilBaikiRumah" style="width: 100%; height: 450px"></div>
				</div>
			</div>
		</div>
	</div>
</div>
