<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Jumlah</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Jumlah</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save(jumlahBwi.id, jumlahBwi.nilai)" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Jumlah BWI (RM)</label>
					<input
						class="form-control"
						type="number"
						placeholder="Jumlah BWI"
						name="jumlah_bwi"
						[(ngModel)]="jumlahBwi.nilai"
						#jumlahBwi="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && jumlahBwi.invalid }"
						required
					/>
					<div *ngIf="f.submitted && jumlahBwi.invalid" class="invalid-feedback">
						<div *ngIf="jumlahBwi.errors.required">Jumlah BWI Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
