<app-breadcrumb [title]="'Medan Sektor Pinjaman Usahawan'" [items]="['Pentadbiran','Medan']" [active_item]="'Medan Sektor Pinjaman Usahawan'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-end mr-2">
          </div><br>
          <div class="col-12 custom-datatable">
            <ngx-datatable class="bootstrap"
                           [rows]="rows" [sortType]="SortType.multi"
                           [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10">

              <ngx-datatable-column name="Tindakan" prop="action" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span>
                    <a class="col-sm-6 col-md-4 col-xl-3" [queryParams]="{id: 1}" (click)="editEntrepreneurModal()"><i class="fa fa-edit"></i></a>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Nama Sektor" prop="name" [flexGrow]="2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status" [flexGrow]="1.5">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
            <div class="row justify-content-end">
              <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
