<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Agensi</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Agensi</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label>Nama Agensi</label>
					<input
						class="form-control"
						id="agency"
						type="text"
						placeholder="Nama Agensi"
						[(ngModel)]="agensi.nama_agensi"
						#namaAgensi="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaAgensi.invalid }"
						name="nama_agensi"
						required
					/>
					<div *ngIf="f.submitted && namaAgensi.invalid" class="invalid-feedback">
						<div *ngIf="namaAgensi.errors.required">Nama Agensi Wajib DiIsi</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="form-group">
					<label>Kod Agensi</label>
					<input
						class="form-control"
						id="agency_code"
						type="text"
						placeholder="Kod Agensi"
						[(ngModel)]="agensi.kod_agensi"
						#kodAgensi="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kodAgensi.invalid }"
						name="kod_agensi"
						required
					/>
					<div *ngIf="f.submitted && kodAgensi.invalid" class="invalid-feedback">
						<div *ngIf="kodAgensi.errors.required">Kod Agensi Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label>Kementerian</label>
          <ng-select
            [items]="ministries"
            bindLabel="nama_kementerian"
            bindValue="id"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="agensi.id_kementerian"
            [(ngModel)]="agensi.id_kementerian"
            #kementerian="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && kementerian.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && kementerian.invalid" class="invalid-feedback">
            <div *ngIf="kementerian.errors.required">Kementerian Wajib Dipilih</div>
          </div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status</label>
					<select
						class="form-control digits"
						name="status_agensi"
						[(ngModel)]="agensi.status_agensi"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="0">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
