<app-breadcrumb
	[title]="'Senarai Laporan'"
	[items]="['Laporan']"
	[active_item]="'Senarai'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row icon-lists feather-icons">
            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/ringkasan'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Ringkasan Laporan</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/kelulusan'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Tabung Kelulusan</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bayaran/skb'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Surat Kuasa Belanja</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bayaran/terus'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bayaran Terus</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Wang Ihsan</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi/bencana-kir'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan BWI (Bencana - KIR)</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi/bencana-kelulusan'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan BWI (Bencana - Kelulusan</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi/negeri'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan BWI (Negeri)</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi/kematian'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan BWI (Pengurusan Kematian)</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/mangsa/pendaftaran'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Mangsa Berdaftar</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/mangsa/tiada-bantuan'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Mangsa (Belum Terima Bantuan)</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/lain-lain'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Lain-lain</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/antarabangsa'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Antarabangsa</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/pinjaman'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Pinjaman Khas</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/pertanian'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Pertanian</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/rumah/bina-baru'" [queryParams]="{id: 2}">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Bina Rumah Baru</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bantuan/rumah/baik-pulih'" [queryParams]="{id: 3}">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Bantuan Baik Pulih Rumah</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-2" [routerLink]="'/app/laporan/bwi/penerima'">
              <div class="media"><i data-feather="tag"></i>
                <div class="media-body align-self-center">
                  <h6 class="mt-0">Laporan Penerima BWI</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
