<app-breadcrumb
	[title]="'Laporan Bayaran Secara Terus'"
	[items]="['Laporan', 'Bayaran']"
	[active_item]="'Terus'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row mb-1">
            <div class="col-lg-6 col-sm-10 justify-content-start pl-0">
              <div class="faq-form">
                <input
                  class="form-control"
                  type="text"
                  name="searchReportTerus"
                  placeholder="Carian..."
                  (keyup)="applyFilter($event.target.value)"
                  [(ngModel)]="filterString"
                />
                <i class="search-icon" data-feather="search"></i>
              </div>
            </div>

            <div class="col-lg-2 col-sm-2 justify-content-between pl-0">
              <button
                type="button"
                class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
                ngbTooltip="Carian Lanjut"
                style="font-weight: 500"
              >
                <i class="fa fa-filter"></i>
              </button>
            </div>

            <div class="col-lg-4 col-sm-12 justify-content-end p-0">
              <button type="button" (click)="exportToExcel()" class="btn btn-outline-success pull-right">
                <i class="fa fa-file-excel-o fa-lg mr-2"></i>
                <b>Excel</b>
              </button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                    <form>
                      <div class="row mt-2">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Kategori Bayaran</label>
                            <ng-select
                              [items]="categories"
                              bindLabel="nama_kategori_bayaran"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="kategoriBayaran"
                              [(ngModel)]="filterKategori"
                            ></ng-select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Tahun</label>
                            <ng-select
                              [items]="arrayYear"
                              bindLabel="years"
                              bindValue="years"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="tahunBayaran"
                              [(ngModel)]="filterYear"
                            ></ng-select>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-end mb-3 pr-2">
                        <button
                          class="btn btn-light mr-2"
                          type="button"
                          (click)="resetFilter()"
                        >
                        <i class="fa fa-refresh mr-2"></i>
                          <b>Reset</b>
                        </button>

                        <button
                          class="btn btn-primary pull-right mr-2"
                          type="button"
                          (click)="getTerusReport()"
                        >
                        <i class="fa fa-search mr-2"></i>
                          <b>Cari</b>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

					<div class="row align-items-center">
						<div class="primeng-datatable-container">
							<p-table
								#dataTable
								styleClass="p-datatable-striped"
								[resizableColumns]="true"
								(onLazyLoad)="getTerusReport($event)"
								[value]="primengTableHelper.records"
								rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
								[paginator]="false"
								[lazy]="true"
                [loading]="primengTableHelper.isLoading"
								[scrollable]="true"
								ScrollWidth="100%"
								[responsive]="primengTableHelper.isResponsive"
								[resizableColumns]="primengTableHelper.resizableColumns"
							>
								<ng-template pTemplate="header">
									<tr>
										<th style="width: 132px" pSortableColumn="no_rujukan_terus">
											No. Bayaran
											<p-sortIcon field="no_rujukan_terus"></p-sortIcon>
										</th>
										<th style="width: 143px" pSortableColumn="no_rujukan_kelulusan">
											No. Kelulusan
											<p-sortIcon field="no_rujukan_kelulusan"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="no_baucar">
											No. Baucer
											<p-sortIcon field="no_baucar"></p-sortIcon>
										</th>
										<th style="width: 150px" pSortableColumn="nama_tabung">
											Tabung
											<p-sortIcon field="nama_tabung"></p-sortIcon>
										</th>
										<th style="width: 149px" pSortableColumn="tarikh">
											Tarikh Bayaran
											<p-sortIcon field="tarikh"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="perihal">
											Perihal
											<p-sortIcon field="perihal"></p-sortIcon>
										</th>
										<th style="width: 175px" pSortableColumn="kategori_penerima">
											Kategori Penerima
											<p-sortIcon field="kategori_penerima"></p-sortIcon>
										</th>
										<th style="width: 150px" pSortableColumn="nama_negeri">
											Negeri
											<p-sortIcon field="nama_negeri"></p-sortIcon>
										</th>
										<th style="width: 150px" pSortableColumn="penerima">
											Penerima
											<p-sortIcon field="penerima"></p-sortIcon>
										</th>
										<th style="width: 166px" pSortableColumn="nama_kategori_bayaran">
											Kategori Bayaran
											<p-sortIcon field="nama_kategori_bayaran"></p-sortIcon>
										</th>
										<th style="width: 153px" pSortableColumn="jumlah">
											Jumlah Belanja
											<p-sortIcon field="jumlah"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-record="$implicit">
									<tr>
										<td style="width: 132px">
											<span class="p-column-title">No. Bayaran</span>
											{{record.no_rujukan_terus}}
										</td>
										<td style="width: 143px">
											<span class="p-column-title">No. Kelulusan</span>
											{{record.no_rujukan_kelulusan}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">No. Baucer</span>
											{{record.no_baucar? record.no_baucar: '-'}}
										</td>
										<td style="width: 150px">
											<span class="p-column-title">Tabung</span>
											{{record.nama_tabung}}
										</td>
										<td style="width: 149px">
											<span class="p-column-title">Tarikh Bayaran</span>
											{{record.tarikh | date:'dd-MM-yyyy'}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Perihal</span>
                      {{record.perihal? record.perihal: '-'}}
										</td>
										<td style="width: 175px">
											<span class="p-column-title">Kategori Penerima</span>
											<label *ngIf="record.nama_negeri">{{kategori_negeri}}</label>
											<label *ngIf="record.nama_agensi">{{kategori_agensi}}</label>
											<label *ngIf="record.nama_kementerian">{{kategori_kementerian}}</label>
										</td>
										<td style="width: 150px">
											<span class="p-column-title">Negeri</span>
											{{record.nama_negeri? record.nama_negeri: '-'}}
										</td>
										<td style="width: 150px">
											<span class="p-column-title">Penerima</span>
											{{record.penerima}}
										</td>
										<td style="width: 166px">
											<span class="p-column-title">Kategori Bayaran</span>
											{{record.nama_kategori_bayaran}}
										</td>
										<td style="width: 153px">
											<span class="p-column-title">Jumlah Belanja</span>
                      <label *ngIf="record.jumlah">RM {{record.jumlah | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah">RM 0.00</label>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer">
									<tr>
										<td style="width: 132px; background-color: #f9f9f9;"></td>
										<td style="width: 143px; background-color: #f9f9f9;"></td>
										<td style="width: 130px; background-color: #f9f9f9;"></td>
										<td style="width: 150px; background-color: #f9f9f9;"></td>
										<td style="width: 149px; background-color: #f9f9f9;"></td>
										<td style="width: 130px; background-color: #f9f9f9;"></td>
										<td style="width: 175px; background-color: #f9f9f9;"></td>
										<td style="width: 150px; background-color: #f9f9f9;"></td>
										<td style="width: 150px; background-color: #f9f9f9;"></td>
										<td style="width: 166px; background-color: #f9f9f9;"></td>
										<td style="width: 153px">RM {{jumlah_bayaran_terus | number: '1.2-2'}}</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
							<div class="primeng-paging-container justify-content-between">
								<p-paginator
									[rows]="primengTableHelper.defaultRecordsCountPerPage"
									#paginator
									(onPageChange)="getTerusReport($event)"
									[totalRecords]="primengTableHelper.totalRecordsCount"
									[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
								></p-paginator>
								<span class="total-records-count">
									Jumlah: {{ primengTableHelper.totalRecordsCount}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
