<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Sektor Pinjaman Usahawan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Sektor Pinjaman Usahawan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()">
<div class="modal-body">

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Nama Sektor</label>
          <input
            class="form-control"
            id="nama_agensi_pinjaman"
            type="text"
            placeholder="Nama Sektor"
            [(ngModel)]="pinjaman.nama_agensi_pinjaman"
            #nama_agensi_pinjaman="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && nama_agensi_pinjaman.invalid }"
            name="pinjaman.nama_agensi_pinjaman"
            minlength="0"
            maxlength="250"
            required
          />
          <div *ngIf="f.submitted && nama_agensi_pinjaman.invalid" class="invalid-feedback">
            <div *ngIf="nama_agensi_pinjaman.errors.required">Nama Sektor Wajib Di Isi</div>
          </div>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label class="col-form-label">Status</label>
					<div>
            <select
              id="status"
              class="form-control digits"
              name="pinjaman.status_agensi_pinjaman"
              [(ngModel)]="pinjaman.status_agensi_pinjaman"
              #status="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
              minlength="0"
              maxlength="250"
              required
            >
              <option selected disabled>Sila Pilih</option>
              <option [value]="1">Aktif</option>
              <option [value]="0">Tidak Aktif</option>
            </select>
            <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
              <div *ngIf="status.errors.required">Status Wajib Di Isi</div>
            </div>
					</div>
				</div>
			</div>
		</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
	<button type="submit" class="btn btn-primary" >Simpan</button>
</div>
</form>
