<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Peranan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Peranan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()">
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Peranan</label>
					<input
						class="form-control"
						id="peranan"
						type="text"
						placeholder="Sumber Dana"
						[(ngModel)]="peranan.peranan"
						#nama_peranan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && nama_peranan.invalid }"
						name="peranan.peranan"
						minlength="0"
						maxlength="250"
						required
					/>
					<div *ngIf="f.submitted && nama_peranan.invalid" class="invalid-feedback">
						<div *ngIf="nama_peranan.errors.required">Peranan Wajib DiIsi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status</label>
					<select class="form-control digits">
						<option>Sila PIlih</option>
						<option>Aktif</option>
						<option>Tidak Aktif</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
