<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Peruntukan</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Peruntukan</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
    <div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Peruntukan</label>
					<input
            class="form-control"
            name="nama_peruntukan"
            type="text"
            [(ngModel)]="peruntukan.nama_peruntukan"
          />
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Tarikh</label>
					<input
            class="form-control"
            name="tarikh_peruntukan"
            type="date"
            [(ngModel)]="tarikhPeruntukan"
          />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>No. Rujukan</label>
					<input
            class="form-control"
            name="no_rujukan"
            type="text"
            [(ngModel)]="peruntukan.no_rujukan"
          />
				</div>
			</div>

			<div class="col-lg-6">
        <div class="form-group">
          <label>Sumber Peruntukan</label>
          <div>
            <ng-select
              [items]="sumberPeruntukan"
              bindLabel="nama_sumber_peruntukan"
              bindValue="id"
              placeholder="Sila Pilih"
              class="js-example-placeholder-multiple"
              name="sumber_peruntukan"
              [(ngModel)]="peruntukan.id_sumber_peruntukan"
            ></ng-select>
          </div>
        </div>
      </div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Sumber Peruntukan lain</label>
					<input
            class="form-control"
            name="sumber_lain"
            type="text"
            [(ngModel)]="peruntukan.sumber_peruntukan_lain"
          />
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Jumlah(RM)</label>
					<input
            class="form-control"
            name="jumlah"
            type="text"
            [(ngModel)]="peruntukan.jumlah"
          />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<label>Catatan</label>
				<textarea
          class="form-control"
          name="catatan"
          [(ngModel)]="peruntukan.catatan"
          placeholder="Catatan..."
          rows="3"
        ></textarea>
			</div>
		</div>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
	</form>


