<app-breadcrumb
  *ngIf="!idBayaranTerus"
	[title]="'Tambah Belanja Secara Bayaran Terus'"
	[items]="['Pengurusan Tabung']"
	[active_item]="'Kelulusan'"
></app-breadcrumb>
<app-breadcrumb
  *ngIf="idBayaranTerus"
	[title]="'Kemaskini Belanja Secara Bayaran Terus'"
	[items]="['Pengurusan Tabung']"
	[active_item]="'Kelulusan'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
						<h6>Maklumat Kelulusan</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>No. Rujukan Kelulusan*</label>
									<div class="input-group">
										<input
                      class="form-control"
                      type="text"
                      placeholder="No. Rujukan Kelulusan"
                      name="no_kelulusan"
                      [(ngModel)]="no_rujukan_kelulusan"
                      #rujukanKelulusan="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && rujukanKelulusan.invalid }"
                      required
                      readonly
                      [disabled]="idBayaranTerus"
										/>
										<div class="input-group-append">
											<button class="btn btn-primary" (click)="addRujukanKelulusan()" type="button" [disabled]="idBayaranTerus">
												<i class="fa fa-search text-white"></i>
											</button>
										</div>
									</div>
                  <div *ngIf="f.submitted && rujukanKelulusan.invalid" class="invalid-feedback">
                    <div *ngIf="rujukanKelulusan.errors.required">No. Rujukan Kelulusan Wajib Dipilih</div>
                  </div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Jenis Bayaran</label>
									<ng-select
                    [items]="jenisBayaran"
                    bindLabel="nama_jenis_bayaran"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="jenisBayaran"
                    [(ngModel)]="bayaranTerus.id_jenis_bayaran"
                  ></ng-select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Kategori</label>
									<ng-select
                    [items]="kategoriBayaran"
                    bindLabel="nama_kategori_bayaran"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="kategori"
                    [(ngModel)]="bayaranTerus.id_kategori_bayaran"
                  ></ng-select>
								</div>
							</div>

							<div class="col-lg-6" *ngIf="bayaranTerus.id_jenis_bayaran == 1">
								<div class="form-group">
									<label>Bencana*</label>
									<div class="input-group">
										<input
                      class="form-control"
                      type="text"
                      placeholder="Bencana"
                      name="bencana"
                      [(ngModel)]="namaBencana"
                      #bencana="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && bencana.invalid }"
                      required
                      readonly
										/>
										<div class="input-group-append">
											<button class="btn btn-primary" (click)="addBencana()" type="button">
												<i class="fa fa-search text-white"></i>
											</button>
										</div>
									</div>
                  <div *ngIf="f.submitted && bencana.invalid" class="invalid-feedback">
                    <div *ngIf="bencana.errors.required">Bencana Wajib Dipilih</div>
                  </div>
								</div>
							</div>
						</div>

            <div class="row" *ngIf="bayaranTerus.id_jenis_bayaran == 1 && namaBencana">
							<div class="col-lg-6 custom-datepicker custom-datepicker-dropdown">
                <div class="form-group">
                <label>Tarikh Bencana</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="tarikhBencana"
                    [(ngModel)]="modelTarikhBencana"
                    ngbDatepicker
                    [footerTemplate]="footerTemplate"
                    #d="ngbDatepicker"
                    style="border: 1px solid #efefef !important;"
                    disabled
                  >
                  <div class="input-group-append">
                    <button class="btn btn-light" (click)="d.toggle()" type="button" disabled><i
                      class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              </div>
              <ng-template #footerTemplate>
                <hr class="my-0">
                <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Hari Ini</button>
                <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Tutup</button>
              </ng-template>
						</div>
						<hr />
						<h6>Maklumat Bayaran</h6>
						<div class="row">
							<div class="col-lg-6">
                <div class="form-group">
                  <label>No. Baucar</label>
                  <input
                    class="form-control"
                    name="noBaucar"
                    type="text"
                    [(ngModel)]="bayaranTerus.no_baucar"
                    placeholder="No. Baucar"
                  />
                </div>
              </div>

							<div class="col-lg-6">
                <div class="form-group">
                  <label>Kepada</label>
                  <input
                    class="form-control"
                    name="penerima"
                    type="text"
                    [(ngModel)]="bayaranTerus.penerima"
                    placeholder="Penerima"
                  />
                </div>
              </div>
						</div>

            <div class="row">
              <div class="col-lg-6 custom-datepicker custom-datepicker-dropdown">
                <div class="form-group">
                <label>Tarikh Baki</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="tarikhBayaran"
                    [(ngModel)]="modelTarikh"
                    ngbDatepicker
                    [footerTemplate]="footerTemplate"
                    #d="ngbDatepicker"
                    style="border: 1px solid #efefef !important;"
                  >
                  <div class="input-group-append">
                    <button class="btn btn-light" (click)="d.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              </div>
              <ng-template #footerTemplate>
                <hr class="my-0">
                <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Hari Ini</button>
                <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Tutup</button>
              </ng-template>

              <div class="col-lg-6">
								<div class="form-group">
									<label>Belanja</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text">RM</span></div>
										<input
                    class="form-control"
                    name="belanja"
                    type="text"
                    [(ngModel)]="bayaranTerus.jumlah"
                    placeholder="Belanja"
                    [disabled]="idBayaranTerus"
                  />
									</div>
								</div>
							</div>
            </div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Perihal</label>
									<textarea
                    name="perihal"
                    class="form-control input-air-primary"
                    rows="3"
                    [(ngModel)]="bayaranTerus.perihal"
                  >
                  </textarea>
								</div>
							</div>
            </div>

						<button
							class="btn btn-primary pull-right"
							type="submit"
						>
							Simpan
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/tabung/bayaran-terus/senarai']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
