<div class="media profile-media" (click)="toggleMessageBox()">
	<div *ngIf="!getProfil.pengguna.gambar">
		<img class="b-r-10" src="/assets/images/other-images/default-image.jpg" style="height: 37px; width: 37px" alt="" />
	</div>
	<div *ngIf="getProfil.pengguna.gambar">
		<img class="img-fluid" [src]="getProfil.pengguna.gambar" style="height: 37px; width: 37px" alt="" />
	</div>
	<div class="media-body">
		<div >
      <span>{{name}}</span>
    </div>
		<div >
      <p class="mb-0 font-roboto">
        {{emel | uppercase}}
        <i class="middle fa fa-angle-down"></i>
      </p>
    </div>
	</div>
</div>
<ul class="profile-dropdown onhover-show-div" [class.active]="openMessageBox">
	<li>
		<a [routerLink]="['/app/maklumat/akaun/pengguna']">
			<app-feather-icons [icon]="'user'"></app-feather-icons>
			<span>Pengguna</span>
		</a>
	</li>
	<li>
		<a (click)="openChangePasswordModal()">
			<app-feather-icons [icon]="'settings'"></app-feather-icons>
			<span>Tukar Kata Laluan</span>
		</a>
	</li>
	<li>
		<a [routerLink]="['/app/maklumat/akaun/rujukan']">
			<app-feather-icons [icon]="'file-text'"></app-feather-icons>
			<span>Rujukan</span>
		</a>
	</li>
	<li>
		<a (click)="logout()">
			<app-feather-icons [icon]="'log-in'"></app-feather-icons>
			<span>Log Keluar</span>
		</a>
	</li>
</ul>
