<div class="media profile-media" (click)="toggleMessageBox()">
	<img class="b-r-10" src="assets/images/dashboard/profile.jpg" alt="" />
	<div class="media-body">
		<span>{{name}}</span>
		<p class="mb-0 font-roboto">
			{{role | uppercase}}
			<i class="middle fa fa-angle-down"></i>
		</p>
	</div>
</div>
<ul class="profile-dropdown onhover-show-div" [class.active]="openMessageBox">
	<li>
		<a [routerLink]="['/maklumat-akaun/pengguna']">
			<app-feather-icons [icon]="'user'"></app-feather-icons>
			<span>Pengguna</span>
		</a>
	</li>
	<li>
		<a (click)="openChangePasswordModal()">
			<app-feather-icons [icon]="'settings'"></app-feather-icons>
			<span>Tukar Kata Laluan</span>
		</a>
	</li>
	<li>
		<a [routerLink]="['/maklumat-akaun/rujukan']">
			<app-feather-icons [icon]="'file-text'"></app-feather-icons>
			<span>Rujukan</span>
		</a>
	</li>
	<li>
		<a (click)="logout()">
			<app-feather-icons [icon]="'log-in'"></app-feather-icons>
			<span>Log Keluar</span>
		</a>
	</li>
</ul>
