<div class="container-fluid">
	<div class="row">
		<div
			class="col-xl-7"
			[ngStyle]="{'background-image': 'url(assets/images/login/2.jpg)',
                                     'background-size': 'cover',
                                     'background-position': 'center center',
                                     'display': 'block'}"
		>
			<img class="bg-img-cover bg-center d-none" src="assets/images/login/2.jpg" alt="looginpage" />
		</div>
		<div class="col-xl-5 p-0">
			<div class="login-card">
				<div>
					<div class="login-main">
						<form class="theme-form">
							<h4>Log Masuk</h4>
							<p>(Pertama kali)</p>
							<div class="form-group">
								<label class="col-form-label">Katalaluan (Lama):</label>
								<input
									class="form-control"
									[type]="showCurrent ? 'text' : 'password'"
									name="login[password]"
									required=""
								/>
								<div class="show-hide" (click)="showPasswordCurrent()" *ngIf="!showCurrent">
									<span class="show"></span>
								</div>
								<div class="show-hide" (click)="showPasswordCurrent()" *ngIf="showCurrent">
									<span class="Hide"></span>
								</div>
							</div>
							<br />
							<div class="form-group">
								<label class="col-form-label">Katalaluan (Baru):</label>
								<input
									class="form-control"
									[type]="showNew ? 'text' : 'password'"
									name="login[password]"
									required=""
								/>
								<div class="show-hide" (click)="showPasswordNew()" *ngIf="!showNew">
									<span class="show"></span>
								</div>
								<div class="show-hide" (click)="showPasswordNew()" *ngIf="showNew">
									<span class="Hide"></span>
								</div>
							</div>
							<br />
							<div class="form-group">
								<label class="col-form-label">Ulang Katalaluan (Baru):</label>
								<input
									class="form-control"
									[type]="showNewRepeat ? 'text' : 'password'"
									name="login[password]"
									required=""
								/>
								<div class="show-hide" (click)="showPasswordNewRepeat()" *ngIf="!showNewRepeat">
									<span class="show"></span>
								</div>
								<div class="show-hide" (click)="showPasswordNewRepeat()" *ngIf="showNewRepeat">
									<span class="Hide"></span>
								</div>
							</div>
							<br />
							<div class="form-group">
								<button
									class="btn btn-primary btn-block"
									type="submit"
									[routerLink]="['/main/dashboard']"
								>
									Log Masuk
								</button>
							</div>
							<br />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
