<app-breadcrumb
	[title]="'Kemaskini Tabung'"
	[items]="['Pengurusan Tabung']"
	[active_item]="['Kemaskini Tabung']"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Nama Tabung*</label>
									<input
                    class="form-control"
                    type="text"
                    name="nama_tabung"
                    [(ngModel)]="getTabung.tabung.nama_tabung"
                    placeholder="Nama Tabung"
                    #namaTabung="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && namaTabung.invalid }"
                    required
                  />
                  <div *ngIf="f.submitted && namaTabung.invalid" class="invalid-feedback">
                    <div *ngIf="namaTabung.errors.required">Nama Tabung Wajib Diisi</div>
                  </div>
								</div>
							</div>
						</div>
            <hr />

            <div class="row">
              <div class="col form-group">
              <label><u>Maklumat Semasa (Terbaru)</u></label>
            </div>
            </div>

            <div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Dana Awal:&nbsp;</label>
									<label *ngIf="getTabung.tabung.dana_awal">RM {{getTabung.tabung.dana_awal}}</label>
                  <label *ngIf="!getTabung.tabung.dana_awal">RM 0.00</label>
								</div>
							</div>

              <div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Dana Tambahan:&nbsp;</label>
                  <label>RM 0.00</label>
								</div>
							</div>

              <div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Baki Bawaan:&nbsp;</label>
                  <label *ngIf="getTabung.tabung.baki_bawaan">RM {{getTabung.tabung.baki_bawaan}}</label>
                  <label *ngIf="!getTabung.tabung.baki_bawaan">RM 0.00</label>
								</div>
							</div>
            </div>

						<div class="row">
              <div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Perbelanjaan:&nbsp;</label>
                  <label *ngIf="getTabung.tabung.jumlah_perbelanjaan_semasa">RM {{getTabung.tabung.jumlah_perbelanjaan_semasa}}</label>
                  <label *ngIf="!getTabung.tabung.jumlah_perbelanjaan_semasa">RM 0.00</label>
								</div>
							</div>

              <div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Baki Semasa:&nbsp;</label>
                  <label *ngIf="getTabung.tabung.jumlah_baki_semasa">RM {{getTabung.tabung.jumlah_baki_semasa}}</label>
                  <label *ngIf="!getTabung.tabung.jumlah_baki_semasa">RM 0.00</label>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Keseluruhan:&nbsp;</label>
									<label *ngIf="getTabung.tabung.jumlah_keseluruhan">RM {{getTabung.tabung.jumlah_keseluruhan}}</label>
                  <label *ngIf="!getTabung.tabung.jumlah_keseluruhan">RM 0.00</label>
								</div>
							</div>
            </div>

            <div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Kelulusan:&nbsp;</label>
                  <label>RM 0.00</label>
								</div>
							</div>

              <div class="col-lg-4">
								<div class="form-group">
									<label>Jumlah Siling Diambil:&nbsp;</label>
                  <label>RM 0.00</label>
								</div>
							</div>
            </div>


						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									<label>Catatan</label>
									<textarea class="form-control" name="catatan" [(ngModel)]="getTabung.tabung.catatan" rows="3"></textarea>
								</div>
							</div>
						</div>
						<hr />
						<h6>Terimaan Tambahan</h6>
						<div class="card-body">
							<div class="row justify-content-end mb-2">
								<button class="btn btn-primary" type="button" (click)="addTabungPeruntukan(idTabung)">
									<i class="fa fa-plus mr-2"></i>
									Tambah
								</button>
							</div>
							<div class="row align-items-center">
								<div class="primeng-datatable-container">
									<p-table
										#dataTable
										styleClass="p-datatable-striped"
										[resizableColumns]="true"
										(onLazyLoad)="getTabungPeruntukan($event)"
                    [loading]="primengTableHelper.isLoading"
										[value]="primengTableHelper.records"
										rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
										[paginator]="false"
										[lazy]="true"
										[scrollable]="true"
										ScrollWidth="100%"
										[responsive]="primengTableHelper.isResponsive"
										[resizableColumns]="primengTableHelper.resizableColumns"
									>
										<ng-template pTemplate="header">
											<tr>
                        <th style="width: 100px" pSortableColumn="tarikh_peruntukan">
                          Tarikh
                          <p-sortIcon field="tarikh_peruntukan"></p-sortIcon>
                        </th>
                        <th style="width: 135px" pSortableColumn="no_rujukan">
                          No. Rujukan
                          <p-sortIcon field="no_rujukan"></p-sortIcon>
                        </th>
                        <th style="width: 130px" pSortableColumn="id_sumber_peruntukan">
                          Sumber
                          <p-sortIcon field="id_sumber_peruntukan"></p-sortIcon>
                        </th>
                        <th style="width: 130px" pSortableColumn="nama_peruntukan">
                          Nama
                          <p-sortIcon field="nama_peruntukan"></p-sortIcon>
                        </th>
                        <th style="width: 130px" pSortableColumn="jumlah">
                          Jumlah
                          <p-sortIcon field="jumlah"></p-sortIcon>
                        </th>
                        <th style="width: 130px" pSortableColumn="catatan">
                          Catatan
                          <p-sortIcon field="catatan"></p-sortIcon>
                        </th>
                        <th style="width: 170px" pSortableColumn="kemaskini">
                          Dikemaskini Oleh
                          <p-sortIcon field="kemaskini"></p-sortIcon>
                        </th>
                        <th style="width: 160px">Tindakan</th>
                      </tr>
										</ng-template>
										<ng-template pTemplate="body" let-record="$implicit">
											<tr>
                        <td style="width: 100px">
                          <span class="p-column-title">tarikh</span>
                          {{record.tarikh_peruntukan | date:'dd-MM-yyyy'}}
                        </td>
                        <td style="width: 135px">
                          <span class="p-column-title">No. Rujukan</span>
                          {{record.no_rujukan}}
                        </td>
                        <td style="width: 130px">
                          <span class="p-column-title">Sumber</span>
                          <label *ngIf="record.id_sumber_peruntukan">{{getStatus(record.id_sumber_peruntukan)}}</label>
                          <label *ngIf="!record.id_sumber_peruntukan">-</label>
                        </td>
                        <td style="width: 130px">
                          <span class="p-column-title">Nama</span>
                          {{record.nama_peruntukan}}
                        </td>
                        <td style="width: 130px">
                          <span class="p-column-title">Jumlah</span>
                          {{record.jumlah}}
                        </td>
                        <td style="width: 130px">
                          <span class="p-column-title">Catatan</span>
                          {{record.catatan}}
                        </td>
                        <td style="width: 170px">
                          <span class="p-column-title">Dikemaskini Oleh</span>
                          Abu
                        </td>
                        <td style="width: 160px">
                          <div ngbDropdown class="btn-group" role="group" container="body">
                            <button
                              *ngIf="record.id_sumber_peruntukan"
                              type="button"
                              class="btn btn-primary btn-primeng dropdown-toggle"
                              id="action"
                              ngbDropdownToggle
                            >
                              <i class="fa fa-cog"></i>
                              <span class="caret"></span>
                              Tindakan
                            </button>
                            <div ngbDropdownMenu aria-labelledby="action">
                              <button
                                class="dropdown-item"
                                (click)="editTabungPeruntukan(record.id)"
                              >
                                Lihat
                              </button>
                              <button class="dropdown-item">Padam</button>
                            </div>
                          </div>
                        </td>
                      </tr>
										</ng-template>
									</p-table>
                  <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
                  <div class="primeng-paging-container justify-content-between">
                    <p-paginator
                      [rows]="primengTableHelper.defaultRecordsCountPerPage"
                      #paginator
                      (onPageChange)="getTabungPeruntukan($event)"
                      [totalRecords]="primengTableHelper.totalRecordsCount"
                      [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    ></p-paginator>
                    <span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
                  </div>
								</div>
							</div>
						</div>

            <h6>Kelulusan</h6>
						<div class="card-body">
              <div class="row justify-content-end mb-2">
								<button class="btn btn-primary" type="button" [routerLink]="'/app/tabung/tambah-kelulusan'" [queryParams]="{idTabung: idTabung}">
									<i class="fa fa-plus mr-2"></i>
									Tambah
								</button>
							</div>
							<div class="row align-items-center">
								<div class="primeng-datatable-container">
									<p-table
										#dataTable
										styleClass="p-datatable-striped"
										[resizableColumns]="true"
										(onLazyLoad)="getKelulusan($event)"
                    [loading]="primengTableHelperKelulusan.isLoading"
										[value]="primengTableHelperKelulusan.records"
										rows="{{primengTableHelperKelulusan.defaultRecordsCountPerPage}}"
										[paginator]="false"
										[lazy]="true"
										[scrollable]="true"
										ScrollWidth="100%"
										[responsive]="primengTableHelperKelulusan.isResponsive"
										[resizableColumns]="primengTableHelperKelulusan.resizableColumns"
									>
										<ng-template pTemplate="header">
											<tr>
                        <th style="width: 144px" pSortableColumn="no_rujukan">
													No. Rujukan
													<p-sortIcon field="no_rujukan"></p-sortIcon>
												</th>
                        <th style="width: 130px" pSortableColumn="tabung">
													Tabung
													<p-sortIcon field="tabung"></p-sortIcon>
												</th>
                        <th style="width: 130px" pSortableColumn="tarikh_surat">
													Tarikh Surat
													<p-sortIcon field="tarikh_surat"></p-sortIcon>
												</th>
												<th style="width: 130px" pSortableColumn="rujukan_surat">
													Rujukan Surat
													<p-sortIcon field="rujukan_surat"></p-sortIcon>
												</th>
												<th style="width: 130px" pSortableColumn="siling_peruntukan">
													Siling Peruntukan
													<p-sortIcon field="siling_peruntukan"></p-sortIcon>
												</th>
                        <th style="width: 186px" pSortableColumn="tarikh_kelulusan_mula">
													Tarikh Mula
													<p-sortIcon field="tarikh_kelulusan_mula"></p-sortIcon>
												</th>
                        <th style="width: 170px" pSortableColumn="tarikh_kelulusan_tamat">
													Tarikh Tamat
													<p-sortIcon field="tarikh_kelulusan_tamat"></p-sortIcon>
												</th>
                        <th style="width: 170px" pSortableColumn="jumlah_belanja">
													Jumlah Belanja
													<p-sortIcon field="jumlah_belanja"></p-sortIcon>
												</th>
                        <th style="width: 170px" pSortableColumn="baki_peruntukan">
													Baki Peruntukan
													<p-sortIcon field="baki_peruntukan"></p-sortIcon>
												</th>
                        <th style="width: 130px" pSortableColumn="status">
													Status
													<p-sortIcon field="status"></p-sortIcon>
												</th>
                        <th style="width: 160px">Tindakan</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-records="$implicit">
											<tr>
                        <td style="width: 144px">
													<span class="p-column-title">No. Rujukan</span>
													{{records.no_rujukan_kelulusan}}
												</td>
                        <td style="width: 130px">
													<span class="p-column-title">Tabung</span>
													{{records.nama_tabung}}
												</td>
                        <td style="width: 130px">
													<span class="p-column-title">Tarikh Surat</span>
													{{records.tarikh_surat | date:'dd-MM-yyyy'}}
												</td>
												<td style="width: 130px">
													<span class="p-column-title">Rujukan Surat</span>
													{{records.rujukan_surat}}
												</td>
												<td style="width: 130px">
													<span class="p-column-title">Siling Peruntukan</span>
                          <label *ngIf="records.peruntukan">{{records.peruntukan}}</label>
													<label *ngIf="!records.peruntukan">RM 0.00</label>
												</td>
                        <td style="width: 186px">
													<span class="p-column-title">Tarikh Mula</span>
													RM {{records.tarikh_mula_kelulusan | date:'dd-MM-yyyy'}}
												</td>
                        <td style="width: 170px">
													<span class="p-column-title">Tarikh Tamat</span>
													RM {{records.tarikh_tamat_kelulusan | date:'dd-MM-yyyy'}}
												</td>
                        <td style="width: 170px">
													<span class="p-column-title">Jumlah Belanja</span>
                          <label *ngIf="records.jumlah_belanja">{{records.jumlah_belanja}}</label>
													<label *ngIf="!records.jumlah_belanja">RM 0.00</label>
												</td>
                        <td style="width: 170px">
													<span class="p-column-title">Baki Peruntukan</span>
                          <label *ngIf="records.baki_jumlah_siling">{{records.baki_jumlah_siling}}</label>
                          <label *ngIf="!records.baki_jumlah_siling">RM 0.00</label>
												</td>
                        <td style="width: 130px">
													<span class="p-column-title">Status</span>
                          <label *ngIf="records.status_tabung == 1">Aktif</label>
                          <label *ngIf="records.status_tabung == 2">Tidak Aktif</label>
												</td>
                        <td style="width: 160px">
                          <div ngbDropdown class="btn-group" role="group" container="body">
                            <button
                              type="button"
                              class="btn btn-primary btn-primeng dropdown-toggle"
                              id="action"
                              ngbDropdownToggle
                            >
                              <i class="fa fa-cog"></i>
                              <span class="caret"></span>
                              Tindakan
                            </button>
                            <div ngbDropdownMenu aria-labelledby="action">
                              <button
                                class="dropdown-item"
                                [routerLink]="'/app/tabung/edit-kelulusan'"
                                [queryParams]="{idKelulusanTabung: idTabung }"
                              >
                                Kemaskini
                              </button>
                              <button class="dropdown-item">Meminda Peruntukan</button>
                              <button class="dropdown-item">Pembayaran SKB</button>
                              <button class="dropdown-item">Pembayaran Secara Terus</button>
                            </div>
                          </div>
                        </td>
											</tr>
										</ng-template>
									</p-table>
                  <div class="primeng-no-data" *ngIf="primengTableHelperKelulusan.totalRecordsCount == 0">No Data</div>
                  <div class="primeng-paging-container justify-content-between">
                    <p-paginator
                      [rows]="primengTableHelperKelulusan.defaultRecordsCountPerPage"
                      #paginator
                      (onPageChange)="getKelulusan($event)"
                      [totalRecords]="primengTableHelperKelulusan.totalRecordsCount"
                      [rowsPerPageOptions]="primengTableHelperKelulusan.predefinedRecordsCountPerPage"
                    ></p-paginator>
                    <span class="total-records-count">Jumlah: {{ primengTableHelperKelulusan.totalRecordsCount}}</span>
                  </div>
								</div>
							</div>
						</div>

						<h6>Sejarah Transaksi</h6>
						<div class="card-body">
							<div class="row align-items-center">
								<div class="primeng-datatable-container">
									<p-table
										#dataTable
										styleClass="p-datatable-striped"
										[resizableColumns]="true"
										(onLazyLoad)="getSejarahKemaskini($event)"
                    [loading]="primengTableHelperSejarah.isLoading"
										[value]="primengTableHelperSejarah.records"
										rows="{{primengTableHelperSejarah.defaultRecordsCountPerPage}}"
										[paginator]="false"
										[lazy]="true"
										[scrollable]="true"
										ScrollWidth="100%"
										[responsive]="primengTableHelperSejarah.isResponsive"
										[resizableColumns]="primengTableHelperSejarah.resizableColumns"
									>
										<ng-template pTemplate="header">
											<tr>
                        <th style="width: 130px" pSortableColumn="tarikh_cipta">
													Tarikh Cipta
													<p-sortIcon field="tarikh_cipta"></p-sortIcon>
												</th>
                        <th style="width: 130px" pSortableColumn="no_rujukan">
													No. Rujukan
													<p-sortIcon field="no_rujukan"></p-sortIcon>
												</th>
                        <th style="width: 130px" pSortableColumn="aktiviti">
													Aktiviti
													<p-sortIcon field="aktiviti"></p-sortIcon>
												</th>
												<th style="width: 130px" pSortableColumn="jumlah">
													Jumlah
													<p-sortIcon field="jumlah"></p-sortIcon>
												</th>
												<th style="width: 170px" pSortableColumn="dikemaskini_oleh">
													Dikemaskini Oleh
													<p-sortIcon field="dikemaskini_oleh"></p-sortIcon>
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-records="$implicit">
											<tr>
                        <td style="width: 130px">
													<span class="p-column-title">Tarikh Cipta</span>
													{{records.tarikh_cipta}}
												</td>
                        <td style="width: 130px">
													<span class="p-column-title">No. Rujukan</span>
													{{records.no_rujukan}}
												</td>
                        <td style="width: 130px">
													<span class="p-column-title">Aktiviti</span>
													{{records.aktiviti}}
												</td>
												<td style="width: 130px">
													<span class="p-column-title">Jumlah</span>
													{{records.jumlah}}
												</td>
												<td style="width: 170px">
													<span class="p-column-title">Dikemaskini Oleh</span>
													{{records.dikemaskini_oleh}}
												</td>
											</tr>
										</ng-template>
									</p-table>
                  <div class="primeng-no-data" *ngIf="primengTableHelperSejarah.totalRecordsCount == 0">No Data</div>
                  <div class="primeng-paging-container justify-content-between">
                    <p-paginator
                      [rows]="primengTableHelperSejarah.defaultRecordsCountPerPage"
                      #paginator
                      (onPageChange)="getSejarahKemaskini($event)"
                      [totalRecords]="primengTableHelperSejarah.totalRecordsCount"
                      [rowsPerPageOptions]="primengTableHelperSejarah.predefinedRecordsCountPerPage"
                    ></p-paginator>
                    <span class="total-records-count">Jumlah: {{ primengTableHelperSejarah.totalRecordsCount}}</span>
                  </div>
								</div>
							</div>
						</div>

						<button
							class="btn btn-primary pull-right"
							type="submit"
						>
							Simpan
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/tabung/senarai-tabung']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
