<div class="modal-header">
	<h4 class="modal-title">Tambah Pemilik Projek</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<form class="form theme-form">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Pelaksana</label>
					<input class="form-control" id="execName" type="text" placeholder="Nama Pelaksana" />
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status</label>
					<select class="form-control digits">
						<option>Pilih</option>
						<option>Aktif</option>
						<option>Tidak Aktif</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
	<button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Simpan</button>
</div>
