<div class="modal-header">
	<h4 class="modal-title">Tukar Kata Laluan</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form class="theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="col-form-label">Kata Laluan Lama</label>
					<input
						class="form-control"
						[type]="show ? 'text' : 'password'"
						name="kata_laluan_lama"
						[(ngModel)]="newPassword.kata_laluan_lama"
						#kataLaluanLama="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kataLaluanLama.invalid }"
						autocomplete="current-password"
						required
					/>
					<div class="show-hide" (click)="showPassword()" *ngIf="!show">
            <div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
          </div>
          <div class="show-hide" (click)="showPassword()" *ngIf="show">
            <div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
          </div>
					<div *ngIf="f.submitted && kataLaluanLama.invalid" class="invalid-feedback">
						<div *ngIf="kataLaluanLama.errors.required">Kata Laluan Lama Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="col-form-label">Kata Laluan Baru</label>
					<input
						class="form-control"
						[type]="showNew ? 'text' : 'password'"
						name="kata_laluan_baru"
						[(ngModel)]="newPassword.kata_laluan_baru"
						#kataLaluanBaru="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kataLaluanBaru.invalid }"
						autocomplete="new-password"
						required
					/>
					<div class="show-hide" (click)="showNewPassword()" *ngIf="!showNew">
            <div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
          </div>
          <div class="show-hide" (click)="showNewPassword()" *ngIf="showNew">
            <div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
          </div>
					<div *ngIf="f.submitted && kataLaluanBaru.invalid" class="invalid-feedback">
						<div *ngIf="kataLaluanBaru.errors.required">Kata Laluan Baru Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="col-form-label">Ulang Kata Laluan</label>
					<input
						class="form-control"
						[type]="showRepeatNew ? 'text' : 'password'"
						name="ulang_kata_laluan"
						[(ngModel)]="newPassword.ulang_kata_laluan_baru"
						#ulangKataLaluan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && ulangKataLaluan.invalid }"
						autocomplete="new-password"
						required
					/>
					<div class="show-hide" (click)="showRepeatNewPassword()" *ngIf="!showRepeatNew">
						<div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-outline fa-lg"></i></div>
					</div>
					<div class="show-hide" (click)="showRepeatNewPassword()" *ngIf="showRepeatNew">
						<div style="color: var(--theme-deafult); cursor: pointer;"><i class="mdi mdi-eye-off-outline fa-lg"></i></div>
					</div>
					<div *ngIf="f.submitted && ulangKataLaluan.invalid" class="invalid-feedback">
						<div *ngIf="ulangKataLaluan.errors.required">Ulang Kata Laluan Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer pr-0">
			<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Kembali</button>
			<button type="submit" class="btn btn-primary">Simpan</button>
		</div>
	</form>
</div>
