<app-breadcrumb
  [title]="'Kemaskini Maklumat Bantuan Wang Ihsan'"
  [items]="['Bantuan Wang Ihsan']"
  [active_item]="'Kemaskini'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">

          <ul ngbNav #nav="ngbNav" animation="true" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" [destroyOnHide]="true">
              <a ngbNavLink>Kelulusan</a>
              <ng-template ngbNavContent>
              <form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
                <h6>Maklumat Pembayaran</h6>
                <app-tambah-edit-pembayaran></app-tambah-edit-pembayaran>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jenis BWI</label>
                      <ng-select
                        [items]="bwiCategory"
                        bindLabel="nama_jenis_bwi"
                        bindValue="id"
                        placeholder="Sila Pilih"
                        class="js-example-placeholder-multiple"
                        name="jenis_bwi"
                        [(ngModel)]="bwiType"
                        #jenisBwi="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && jenisBwi.invalid }"
                        required
                      ></ng-select>
                      <div *ngIf="f.submitted && jenisBwi.invalid" class="invalid-feedback">
                        <div *ngIf="jenisBwi.errors.required">Jenis BWI Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6" *ngIf="bwiType == 1" [@fadeVerticalAnimation]>
                    <div class="form-group">
                      <label>Jenis Bencana</label>
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Nama Bencana"
                          name="bencana"
                          [(ngModel)]="nama_bencana"
                          #namaBencana="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && namaBencana.invalid }"
                          required
                          readonly
                        />
                        <div class="input-group-append">
                          <button class="btn btn-primary" (click)="pilihBencana()" type="button">
                            <i class="fa fa-search text-white"></i>
                          </button>
                        </div>
                      </div>
                      <div *ngIf="f.submitted && namaBencana.invalid" class="invalid-feedback">
                        <div *ngIf="namaBencana.errors.required">Bencana Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown" *ngIf="bwiType == 1" [@fadeVerticalAnimation]>
                    <label>Tarikh Bencana</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="modelBencana"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        readonly
                      >
                    </div>
                  </div>

                  <div class="col-lg-6" *ngIf="bwiType == 3" [@fadeVerticalAnimation]>
                    <div class="form-group">
                      <label>Nama Kejadian</label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Nama Kejadian"
                        name="kejadian"
                        [(ngModel)]="nama_kejadian"
                        #namaKejadian="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && namaKejadian.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && namaKejadian.invalid" class="invalid-feedback">
                        <div *ngIf="namaKejadian.errors.required">Nama Kejadian Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown" *ngIf="bwiType == 3" [@fadeVerticalAnimation]>
                    <label>Tarikh Kejadian</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp1"
                        [(ngModel)]="modelKejadian"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d1="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #eventDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && eventDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d1.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && eventDate.invalid" class="invalid-feedback">
                        <div *ngIf="eventDate.errors.required">Tarikh Kejadian Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelKejadian = today; d1.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d1.close()">Tutup</button>
                  </ng-template>
                </div>
                <hr />

                <h6>Maklumat Bantuan</h6>
                <app-tambah-edit-bantuan></app-tambah-edit-bantuan>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jumlah Keseluruhan Bayaran (RM)</label>
                      <input
                        class="form-control"
                        type="text"
                        name="jumlah_bayaran"
                        placeholder="Jumlah Pembayaran"
                        value="{{bayaran | number: '1.2-2'}}"
                        onlyNumbers
                        disabled
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jumlah Keseluruhan Pulalngan (RM)</label>
                      <input
                        class="form-control"
                        type="text"
                        name="jumlah_pulangan"
                        placeholder="Jumlah Pulangan"
                        value="{{bayaran | number: '1.2-2'}}"
                        onlyNumbers
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <hr />

                <h6>Maklumat Ketua Isi Rumah</h6>
                <app-tambah-edit-kir></app-tambah-edit-kir>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jumlah Bayaran (WI/KIR)</label>
                      <input
                        class="form-control"
                        name="wiKir"
                        type="text"
                        placeholder="Jumlah Bayaran (WI/KIR)"
                        onlyNumbers
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jumlah KIR</label>
                      <input
                        class="form-control"
                        name="totalKir"
                        type="text"
                        placeholder="Jumlah KIR"
                        value="{{primengTableHelper.totalRecordsCount}}"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jumlah Pulangan (RM)</label>
                      <input
                        class="form-control"
                        name="bakiPulangan"
                        type="text"
                        placeholder="Jumlah Pulangan"
                        onlyNumbers
                      />
                    </div>
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh EFT/Pengeluaran</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="modelEft"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #eftDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && eftDate.invalid }"
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && eftDate.invalid" class="invalid-feedback">
                        <div *ngIf="eftDate.errors.required">Tarikh Eft/Pengeluaran Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelEft = today; d.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Tutup</button>
                  </ng-template>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Due Report(21 Jam)</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="modelDueReport"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #e="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #dueReport="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && dueReport.invalid }"
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="e.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && dueReport.invalid" class="invalid-feedback">
                        <div *ngIf="dueReport.errors.required">Tarikh Due Report Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelEft = today; e.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="e.close()">Tutup</button>
                  </ng-template>
                </div>

                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>Catatan</label>
                      <textarea
                        class="form-control input-air-primary"
                        rows="3"
                        placeholder="Catatan"
                        name="catatan"
                        [(ngModel)]="edit.tabung_bwi.catatan"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters justify-content-end">
                  <button
                    class="btn btn-light mr-2"
                    [routerLink]="['/app/tabung/senarai-wang-ihsan']"
                    type="button"
                  >
                    Kembali
                  </button>
                  <button
                    class="btn btn-primary pull-right"
                    type="button"
                  >
                    Simpan
                  </button>
                </div>
              </form>
            </ng-template>
          </li>

          <li [ngbNavItem]="2" [destroyOnHide]="true">
            <a ngbNavLink>Memo</a>
            <ng-template ngbNavContent>
              <form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
                <h6>Memo Perakuan KP</h6>
                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>No. Rujukan</label>
                      <input
                        class="form-control"
                        name="rujukan_akuan_kp"
                        type="text"
                        placeholder="No. Rujukan"
                        [(ngModel)]="edit.tabung_bwi.no_rujukan_akuan_kp"
                        #refAkuanKp="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && refAkuanKp.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && refAkuanKp.invalid" class="invalid-feedback">
                        <div *ngIf="refAkuanKp.errors.required">No. Rujukan Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Perakuan</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp1"
                        [(ngModel)]="modelPerakuan"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d1="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #akuanKpDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && akuanKpDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d1.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && akuanKpDate.invalid" class="invalid-feedback">
                        <div *ngIf="akuanKpDate.errors.required">Tarikh Perakuan Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelPerakuan = today; d1.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d1.close()">Tutup</button>
                  </ng-template>
                </div>
                <hr />

                <h6>Memo Penyaluran KPD BKP</h6>
                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>No. Rujukan</label>
                      <input
                        class="form-control"
                        name="rujukan_saluran"
                        type="text"
                        placeholder="No. Rujukan"
                        [(ngModel)]="edit.tabung_bwi.no_rujukan_saluran_kpd_bkp"
                        #refSaluran="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && refSaluran.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && refSaluran.invalid" class="invalid-feedback">
                        <div *ngIf="refSaluran.errors.required">No. Rujukan Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Penyaluran</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp2"
                        [(ngModel)]="modelPenyaluran"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d2="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #saluranDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && saluranDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d2.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && saluranDate.invalid" class="invalid-feedback">
                        <div *ngIf="saluranDate.errors.required">Tarikh Penyaluran Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelPenyaluran = today; d2.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d2.close()">Tutup</button>
                  </ng-template>
                </div>
                <hr />

                <h6>Memo Laporan KPD BKP</h6>
                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>No. Rujukan</label>
                      <input
                        class="form-control"
                        name="rujukan_laporan"
                        type="text"
                        placeholder="No. Rujukan"
                        [(ngModel)]="edit.tabung_bwi.no_rujukan_laporan_kpd_bkp"
                        #refLaporan="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && refLaporan.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && refLaporan.invalid" class="invalid-feedback">
                        <div *ngIf="refLaporan.errors.required">No. Rujukan Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Laporan</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp3"
                        [(ngModel)]="modelLaporan"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d3="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #laporanDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && laporanDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d3.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && laporanDate.invalid" class="invalid-feedback">
                        <div *ngIf="laporanDate.errors.required">Tarikh Laporan Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelLaporan = today; d3.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d3.close()">Tutup</button>
                  </ng-template>
                </div>

                <div class="row mt-3 no-gutters justify-content-end">
                  <button
                    class="btn btn-light mr-2"
                    [routerLink]="['/app/tabung/senarai-wang-ihsan']"
                    type="button"
                  >
                    Kembali
                  </button>
                  <button
                    class="btn btn-primary pull-right"
                    type="button"
                  >
                    Simpan
                  </button>
                </div>
              </form>
            </ng-template>
          </li>

          <li [ngbNavItem]="3" [destroyOnHide]="true">
            <a ngbNavLink>Surat</a>
            <ng-template ngbNavContent>
              <form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
                <h6>Surat Makluman Tarikh Majlis</h6>
                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>No. Rujukan</label>
                      <input
                        class="form-control"
                        name="rujukan_majlis"
                        type="text"
                        placeholder="No. Rujukan"
                        [(ngModel)]="edit.tabung_bwi.no_rujukan_makluman_majlis"
                        #refMajlis="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && refMajlis.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && refMajlis.invalid" class="invalid-feedback">
                        <div *ngIf="refMajlis.errors.required">No. Rujukan Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Makluman Majlis</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp4"
                        [(ngModel)]="modelMakluman"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d4="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #maklumDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && maklumDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d4.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && maklumDate.invalid" class="invalid-feedback">
                        <div *ngIf="maklumDate.errors.required">Tarikh Makluman Majlis Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelMakluman = today; d4.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d4.close()">Tutup</button>
                  </ng-template>
                </div>

                <div class="row">
                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Majlis</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp5"
                        [(ngModel)]="modelMajlis"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #d5="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                        #majlisDate="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && majlisDate.invalid }"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="d5.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                      <div *ngIf="f.submitted && majlisDate.invalid" class="invalid-feedback">
                        <div *ngIf="majlisDate.errors.required">Tarikh Majlis Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelMajlis = today; d5.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d5.close()">Tutup</button>
                  </ng-template>
                </div><hr />

                <h6>Surat Laporan Majlis DRP APM</h6>
                <div class="row">
                  <div class="col-lg-6 mt-2">
                    <div class="form-group">
                      <label>No. Rujukan</label>
                      <input
                        class="form-control"
                        name="rujukan_surat_laporan_majlis"
                        type="text"
                        placeholder="No. Rujukan"
                      />
                    </div>
                  </div>

                  <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                    <label>Tarikh Surat Laporan</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="tarikhSuratLaporan"
                        [(ngModel)]="modelSuratLaporan"
                        ngbDatepicker
                        [footerTemplate]="footerTemplate"
                        #sl="ngbDatepicker"
                        style="border: 1px solid #efefef !important;"
                      >
                      <div class="input-group-append">
                        <button class="btn btn-light" (click)="sl.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                  </div>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelSuratLaporan = today; sl.close()">Hari Ini</button>
                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="sl.close()">Tutup</button>
                  </ng-template>
                </div>

                <div class="row mt-3 no-gutters justify-content-end">
                  <button
                    class="btn btn-light mr-2"
                    [routerLink]="['/app/tabung/senarai-wang-ihsan']"
                    type="button"
                  >
                    Kembali
                  </button>
                  <button
                    class="btn btn-primary pull-right"
                    type="button"
                  >
                    Simpan
                  </button>
                </div>
              </form>
            </ng-template>
          </li>
        </ul>
        <div class="row no-gutters mt-2" [ngbNavOutlet]="nav"></div>
				</div>
			</div>
		</div>
	</div>
</div>
