<app-breadcrumb
  [title]="'Kemaskini Bantuan Wang Ihsan'"
  [items]="['Bantuan Wang Ihsan']"
  [active_item]="'Kemaskini'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
          <form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="save()" novalidate>
            <h6>Maklumat Pembayaran</h6>
            <app-tambah-edit-pembayaran [idBwi]="idBwi" (idBayaranTerus)="getIdBayaranTerus($event)"></app-tambah-edit-pembayaran>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Jenis BWI</label>
                  <ng-select
                    [items]="jenisBwi"
                    bindLabel="nama_jenis_bwi"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="jenis_bwi"
                    [(ngModel)]="edit.tabung_bwi.id_jenis_bwi"
                    #namaJenisBwi="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && namaJenisBwi.invalid }"
                    required
                    disabled
                  ></ng-select>
                  <div *ngIf="f.submitted && namaJenisBwi.invalid" class="invalid-feedback">
                    <div *ngIf="namaJenisBwi.errors.required">Jenis BWI Wajib Dipilih</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Bencana</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Nama Bencana"
                      name="bencana"
                      [(ngModel)]="edit.tabung_bwi.nama_bencana"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
                <label>Tarikh Bencana</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="tarikh_bencana"
                    disabled
                  >
                </div>
              </div>

            </div>
            <hr />

            <h6>Maklumat Bantuan</h6>
            <app-tambah-edit-bantuan
              [idBwi]="idBwi" [idBencana]="id_bencana" [idJenisBwi]="idJenisBwi" (id_daerah)="getIdDaerah($event)" (id_negeri)="getIdNegeri($event)" (jumlah_diberi)="getJumlahDiberi($event)">
            </app-tambah-edit-bantuan>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Jumlah Keseluruhan Bayaran (RM)</label>
                  <input
                    class="form-control"
                    type="text"
                    name="jumlah_bayaran"
                    placeholder="Jumlah Pembayaran"
                    [(ngModel)]="edit.jumlah_keseluruhan"
                    onlyNumbers
                    disabled
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Jumlah Keseluruhan Pulangan (RM)</label>
                  <input
                    class="form-control"
                    type="text"
                    name="jumlah_pulangan"
                    placeholder="Jumlah Pulangan"
                    [(ngModel)]="edit.jumlah_dipulangkan"
                    onlyNumbers
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row no-gutters justify-content-end">
              <button
                class="btn btn-light mr-2"
                [routerLink]="['/app/tabung/senarai-wang-ihsan']"
                type="button"
              >
                Kembali
              </button>
              <button
                class="btn btn-primary pull-right"
                type="submit"
              >
                Simpan
              </button>
            </div>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
