<app-breadcrumb
	[title]="'Tambah Kelulusan'"
	[items]="['Pengurusan Tabung']"
	[active_item]="'Kelulusan'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
						<h6>Maklumat Kelulusan</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>No. Rujukan Kelulusan</label>
                    <input
                      class="form-control"
                      type="text"
                      name="kelulusan.no_rujukan_kelulusan"
                      [(ngModel)]="kelulusan.no_rujukan_kelulusan"
                      placeholder="No. Rujukan Kelulusan"
                    />
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Komitmen</label>
                  <select [(ngModel)]="kelulusan.id_komitmen" class="form-control digits">
										<option>Pilih</option>
                    <option value='1'>Perolehan Secara Pembelian Terus</option>
                    <option value='2'>Perolehan Secara Darurat</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Mula)</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp2"
                      [(ngModel)]="modelMula"
                      ngbDatepicker
                      [footerTemplate]="footerTemplate"
                      #d2="ngbDatepicker"
                      style="border: 1px solid #efefef !important;"
                    >
                    <div class="input-group-append">
                      <button class="btn btn-light" (click)="d2.toggle()" type="button"><i
                        class="fa fa-calendar"></i></button>
                    </div>
                  </div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Tamat)</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp3"
                    [(ngModel)]="modelTamat"
                    ngbDatepicker
                    [footerTemplate]="footerTemplate"
                    #d3="ngbDatepicker"
                    style="border: 1px solid #efefef !important;"
                  >
                  <div class="input-group-append">
                    <button class="btn btn-light" (click)="d3.toggle()" type="button"><i
                      class="fa fa-calendar"></i></button>
                  </div>
                </div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jenis Bantuan*</label>
                  <ng-select
                    [items]="bantuan"
                    bindLabel="nama_bantuan"
                    bindValue="id"
                    placeholder="Sila Pilih"
                    class="js-example-placeholder-multiple"
                    name="bantuan"
                    [(ngModel)]="kelulusan.id_bantuan"
                    #jenisBantuan="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && jenisBantuan.invalid }"
                    required
                  ></ng-select>
                  <div *ngIf="f.submitted && jenisBantuan.invalid" class="invalid-feedback">
                    <div *ngIf="jenisBantuan.errors.required">Jenis Bantuan wajib Dipilih</div>
                  </div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Siling Peruntukan (RM)</label>
									<input
                    class="form-control"
                    type="number"
                    name="kelulusan.jumlah_siling"
                    [(ngModel)]="kelulusan.jumlah_siling"
                  />
								</div>
							</div>
						</div>
            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tabung*</label>
									<div class="input-group">
										<input
											class="form-control"
											type="text"
											placeholder="Tabung"
											name="tabung"
											[(ngModel)]="namaBencana"
											#bencana="ngModel"
											[ngClass]="{ 'is-invalid': f.submitted && bencana.invalid }"
											required
											readonly
										/>
										<div class="input-group-append">
											<button class="btn btn-primary" (click)="addBencana()" type="button">
												<i class="fa fa-search text-white"></i>
											</button>
										</div>
									</div>
									<div *ngIf="f.submitted && bencana.invalid" class="invalid-feedback">
										<div *ngIf="bencana.errors.required">Tabung Wajib Dipilih</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Status*</label>
									<ng-select
										bindValue="id"
										placeholder="Sila Pilih"
										class="js-example-placeholder-multiple"
										name="status_tabung_kelulusan"
										[(ngModel)]="kelulusan.status_tabung_kelulusan"
										#status="ngModel"
										[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
										required>
										<ng-option [value]='1'>Aktif</ng-option>
										<ng-option [value]='2'>Tidak Aktif</ng-option>
									</ng-select>
									<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
										<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
									</div>
								</div>
							</div>
						</div>
            <hr />

            <div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan Surat</label>
                  <input
                    class="form-control"
                    type="text"
                    name="kelulusan.rujukan_surat"
                    [(ngModel)]="kelulusan.rujukan_surat"
                    placeholder="Rujukan Surat"
                  />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Surat</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp"
                      [(ngModel)]="modelSurat"
                      ngbDatepicker
                      [footerTemplate]="footerTemplate"
                      #d="ngbDatepicker"
                      style="border: 1px solid #efefef !important;"
                    >
                    <div class="input-group-append">
                      <button class="btn btn-light" (click)="d.toggle()" type="button"><i
                        class="fa fa-calendar"></i></button>
                    </div>
                  </div>
								</div>
                <ng-template #footerTemplate>
                  <hr class="my-0">
                  <button class="btn btn-primary btn-sm m-2 float-left" (click)="modelTamat = today; d3.close()">Hari Ini</button>
                  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d3.close()">Tutup</button>
                </ng-template>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Perihal Surat</label>
									<textarea
                    class="form-control input-air-primary"
                    name="kelulusan.perihal_surat"
                    rows="3"
                    [(ngModel)]="kelulusan.perihal_surat"
                  ></textarea>
								</div>
							</div>
						</div>

            <div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Rujukan</label>
									<textarea
                    class="form-control input-air-primary"
                    name="kelulusan.rujukan"
                    rows="3"
                    [(ngModel)]="kelulusan.rujukan"
                  ></textarea>
								</div>
							</div>
						</div>
						<button
							class="btn btn-primary pull-right"
							type="submit"
						>
							Simpan
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/tabung/senarai-kelulusan']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
