<app-breadcrumb
	[title]="'Tambah Kelulusan (KWABBN)'"
	[items]="['Pengurusan Tabung']"
	[active_item]="'Kelulusan'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
						<h6>Maklumat Kelulusan</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tabung*</label>
									<select
                    class="form-control digits"
                    name="kelulusan.id_tabung"
                    [(ngModel)]="kelulusan.id_tabung"
                    #id_tabung="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && id_tabung.invalid }"
                    required
                  >
                    <option selected disabled>Sila Pilih</option>
                    <option *ngFor="let data of tabung" value="{{data.id}}">
                      {{data.nama_tabung}}
                    </option>
									</select>
                  <div *ngIf="f.submitted && id_tabung.invalid" class="invalid-feedback">
                    <div *ngIf="id_tabung.errors.required">Tabung Wajib Dipilih</div>
                  </div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Kategori Bencana*</label>
									<select
                    class="form-control digits"
                    name="kelulusan.id_bencana"
                    [(ngModel)]="kelulusan.id_bencana"
                  >
                    <option selected disabled>Sila Pilih</option>
                    <option *ngFor="let data of bencana" value="{{data.id}}">
                      {{data.nama_bencana}}
                    </option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jenis Bantuan*</label>
									<select
                    class="form-control digits"
                    name="kelulusan.id_bantuan"
                    [(ngModel)]="kelulusan.id_bantuan"
                  >
                    <option selected disabled>Sila Pilih</option>
                    <option *ngFor="let data of bantuan" value="{{data.id}}">
                      {{data.nama_bantuan}}
                    </option>
									</select>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Komitmen*</label>
									<select
                    class="form-control digits"
                    name="kelulusan.id_komitmen"
                    [(ngModel)]="kelulusan.id_komitmen"
                  >
										<option [value]="1">Pilih</option>
										<option [value]="1">Perolehan Secara Pembelian Terus</option>
										<option [value]="1">Perolehan Secara Darurat</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>No. Rujukan Kelulusan</label>
                  <input
                    class="form-control"
                    type="text"
                    name="kelulusan.no_rujukan_kelulusan"
                    [(ngModel)]="kelulusan.no_rujukan_kelulusan"
                    placeholder="No. Rujukan Kelulusan"
                  />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan Surat</label>
									<input
                    class="form-control"
                    type="text"
                    name="kelulusan.rujukan_surat"
                    [(ngModel)]="kelulusan.rujukan_surat"
                    placeholder="JPM.APBN(S).600-3/8/2 (1)"
                  />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Perihal Surat</label>
									<textarea
                    class="form-control input-air-primary"
                    name="kelulusan.perihal_surat"
                    rows="3"
                    [(ngModel)]="kelulusan.perihal_surat"
                  ></textarea>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan</label>
									<textarea
                    class="form-control input-air-primary"
                    name="kelulusan.rujukan"
                    rows="3"
                    [(ngModel)]="kelulusan.rujukan"
                  ></textarea>
								</div>
							</div>
						</div>

						<div class="row custom-datepicker custom-datepicker-dropdown">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Surat</label>
									<div class="input-group">
                    <input
                      class="form-control"
                      id="letterDate"
                      type="date"
                      name="tarikh_surat"
                      [(ngModel)]="tarikhSurat"
                      min="{{ date | date: 'yyyy-MM-dd' }}"
                      onlyNumbers
                      onlyAlphabets
                    />
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Mula)</label>
									<div class="input-group">
                    <input
                      class="form-control"
                      id="startDate"
                      type="date"
                      name="tarikh_mula"
                      [(ngModel)]="tarikhMula"
                      min="{{ date | date: 'yyyy-MM-dd' }}"
                      onlyNumbers
                      onlyAlphabets
                    />
									</div>
								</div>
							</div>
						</div>

						<div class="row custom-datepicker custom-datepicker-dropdown">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Tamat)</label>
									<div class="input-group">
                    <input
                      class="form-control"
                      id="endDate"
                      type="date"
                      name="tarikh_tamat"
                      [(ngModel)]="tarikhTamat"
                      min="{{ date | date: 'yyyy-MM-dd' }}"
                      onlyNumbers
                      onlyAlphabets
                    />
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Siling Peruntukan (RM)</label>
									<input
                    class="form-control"
                    type="number"
                    name="kelulusan.jumlah_siling"
                    [(ngModel)]="kelulusan.jumlah_siling"
                  />
								</div>
							</div>
						</div>

						<button
							class="btn btn-primary pull-right"
							type="submit"
						>
							Simpan
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/tabung/senarai-kelulusan']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
