<app-breadcrumb [title]="'Senarai Bencana'" [items]="['Pengurusan Bencana']" [active_item]="['Senarai']"></app-breadcrumb>
<div class="content d-flex flex-column flex-column-fluid">
	<div class="container-fluid">
		<div class="card card-custom gutter-b">
			<div class="card-body">
				<div class="row mb-1">
          <div class="col-6 justify-content-start pl-0">
            <div class="faq-form">
              <input
                class="form-control"
                type="text"
                name="searchDisaster"
                placeholder="Carian..."
                [(ngModel)]="filterString"
                (keyup)="applyFilter($event.target.value)"
              />
              <i class="search-icon" data-feather="search"></i>
            </div>
          </div>

          <div class="col-2 justify-content-between pl-0">
            <button
              type="button"
              class="btn btn-primary"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
              title="Carian Lanjut"
              style="font-weight: 500"
            >
              <i class="fa fa-filter"></i>
            </button>
          </div>

          <div class="col-4 justify-content-end pr-0" *ngIf="_appSession.isGranted('Halaman.Bencana.Tambah')">
            <button
                class="btn btn-primary pull-right"
                [routerLink]="['/app/bencana/tambah-edit']"
              >
                <i class="fa fa-plus mr-2"></i>
                <b>Tambah</b>
              </button>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                  <form>
                    <div class="row mt-2">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Jenis Bencana</label>
                          <ng-select
                            [items]="disasters"
                            bindLabel="nama_jenis_bencana"
                            bindValue="id"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="jenisBencana"
                            [(ngModel)]="filterJenis"
                          ></ng-select>
                        </div>
                      </div>

                      <div class="col-lg-2 pr-1">
                        <div class="form-group custom-datepicker custom-datepicker-dropdown">
                          <label>Tarikh Bencana</label>
                          <div class="input-group">
                            <input
                              class="form-control"
                              placeholder="DD/MM/YYYY"
                              name="dp1"
                              [(ngModel)]="tarikhMula"
                              ngbDatepicker
                              #b="ngbDatepicker"
                              style="border: 1px solid #efefef !important;"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-light pr-2 pl-2" (click)="b.toggle()" type="button"><i
                                class="fa fa-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 pl-1">
                        <div class="form-group custom-datepicker custom-datepicker-dropdown">
                          <div class="input-group pt-4 mt-1">
                            <input
                              class="form-control"
                              placeholder="DD/MM/YYYY"
                              name="dp2"
                              [(ngModel)]="tarikhTamat"
                              ngbDatepicker
                              #c="ngbDatepicker"
                              style="border: 1px solid #efefef !important;"
                              [disabled]="tarikhMula == undefined"
                            >
                            <div class="input-group-append">
                              <button class="btn btn-light pr-2 pl-2" (click)="c.toggle()" type="button" [disabled]="tarikhMula == undefined"><i
                                class="fa fa-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Negeri</label>
                          <ng-select
                            [items]="states"
                            bindLabel="nama_negeri"
                            bindValue="id"
                            placeholder="Sila Pilih"
                            class="js-example-placeholder-multiple"
                            name="negeri_filter"
                            [(ngModel)]="filterNegeri"
                          ></ng-select>
                        </div>
                      </div>
                    </div>

                    <div class="row no-gutters justify-content-end mb-2">
                      <button
                        class="btn btn-light mr-2"
                        type="reset"
                        (click)="resetFilter()"
                      >
                      <i class="fa fa-refresh mr-2"></i>
                        <b>Reset</b>
                      </button>

                      <button
                        class="btn btn-primary pull-right"
                        type="button"
                        (click)="getDisaster()"
                      >
                      <i class="fa fa-search mr-2"></i>
                        <b>Cari</b>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

				<div class="row align-items-center">
					<div class="primeng-datatable-container">
						<p-table
							#dataTable
							styleClass="p-datatable-striped"
							(onLazyLoad)="getDisaster($event)"
							[value]="primengTableHelper.records"
							rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
							[paginator]="false"
							[lazy]="true"
              [loading]="primengTableHelper.isLoading"
							[scrollable]="true"
							ScrollWidth="100%"
              [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns"
						>
							<ng-template pTemplate="header">
								<tr>
									<th style="width: 85px" pSortableColumn="id">
										No. Bencana
										<p-sortIcon field="id"></p-sortIcon>
									</th>
									<th style="width: 100px" pSortableColumn="tarikh_bencana">
										Tarikh Bencana
										<p-sortIcon field="tarikh_bencana"></p-sortIcon>
									</th>
									<th style="width: 120px" pSortableColumn="nama_jenis_bencana">
										Bencana
										<p-sortIcon field="nama_jenis_bencana"></p-sortIcon>
									</th>
									<th style="width: 200px" pSortableColumn="bencanaNegeri">
										Negeri
										<p-sortIcon field="bencanaNegeri"></p-sortIcon>
									</th>
									<th *ngIf="_appSession.isGranted('Halaman.Bencana.Edit') || _appSession.isGranted('Halaman.Bencana.Hapus')" style="width:90px;">Tindakan</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-record="$implicit">
								<tr>
									<td style="width: 85px">
										<span class="p-column-title">id</span>
										{{record.bencana.no_rujukan_bencana}}
									</td>
									<td style="width: 100px">
										<span class="p-column-title">Tarikh Bencana</span>
										{{record.bencana.tarikh_bencana | date:'dd-MM-yyyy'}}
									</td>
									<td style="width: 120px">
										<span class="p-column-title">Jenis Bencana</span>
										{{record.bencana.nama_jenis_bencana}}
									</td>
									<td style="width: 200px; text-overflow: ellipsis;">
										<span class="p-column-title">Negeri</span>
										{{record.bencanaNegeri}}
									</td>
									<td style="width: 90px;" *ngIf="_appSession.isGranted('Halaman.Bencana.Edit') || _appSession.isGranted('Halaman.Bencana.Hapus')">
										<div ngbDropdown class="btn-group" role="group" container="body">
											<button
												type="button"
												class="btn btn-primary btn-primeng dropdown-toggle"
												id="action"
												ngbDropdownToggle
											>
												<i class="fa fa-cog"></i>
												<span class="caret"></span>
												Tindakan
											</button>
											<div ngbDropdownMenu aria-labelledby="action">
												<button
													class="dropdown-item"
													[routerLink]="['/app/bencana/tambah-edit']"
                          [queryParams]="{id: record.bencana.id}"
                          *ngIf="_appSession.isGranted('Halaman.Bencana.Edit')"
												>
													Lihat
												</button>
                        <button
													class="dropdown-item"
                          *ngIf="_appSession.isGranted('Halaman.Bencana.Hapus')"
                          (click)="deleteConfirmation(record.bencana.id)"
												>
													Padam
												</button>
											</div>
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">Tiada Data</div>
						<div class="primeng-paging-container justify-content-between">
							<p-paginator
								[rows]="primengTableHelper.defaultRecordsCountPerPage"
								#paginator
								(onPageChange)="getDisaster($event)"
								[totalRecords]="primengTableHelper.totalRecordsCount"
								[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
							></p-paginator>
							<span class="total-records-count">Jumlah: {{primengTableHelper.totalRecordsCount}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
