<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Jenis Bayaran</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Jenis Bayaran</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama Jenis Bayaran*</label>
					<input
						class="form-control"
						id="nama_jenis_bayaran"
						type="text"
						placeholder="Nama Jenis Bayaran"
						name="nama_jenis_bayaran"
						[(ngModel)]="jenis_bayaran.nama_jenis_bayaran"
						#namaJenisBayaran="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaJenisBayaran.invalid }"
						required
					/>
					<div *ngIf="f.submitted && namaJenisBayaran.invalid" class="invalid-feedback">
						<div *ngIf="namaJenisBayaran.errors.required">Nama Jenis Bayaran Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status*</label>
					<select
						class="form-control digits"
						name="status_bantuan"
						[(ngModel)]="jenis_bayaran.status_jenis_bayaran"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="2">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
