<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Dun</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Dun</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid && save()">
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label for="dun">Dun*</label>
					<input
						class="form-control"
						id="dun"
						type="text"
						placeholder="Dun"
						[(ngModel)]="dun.nama_dun"
						#namaDun="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaDun.invalid }"
						name="dun.nama_dun"
						required
					/>
					<div *ngIf="f.submitted && namaDun.invalid" class="invalid-feedback">
						<div *ngIf="namaDun.errors.required">Maklumat DUN Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Parlimen*</label>
					<ng-select
            (change)="getNegeriParlimen($event)"
						[items]="parliament"
						bindLabel="nama_parlimen"
						bindValue="id"
						placeholder="Sila Pilih"
						class="js-example-placeholder-multiple"
						name="dun.id_parlimen"
						[(ngModel)]="dun.id_parlimen"
						#parlimen="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && parlimen.invalid }"
						required
					></ng-select>
					<div *ngIf="f.submitted && parlimen.invalid" class="invalid-feedback">
						<div *ngIf="parlimen.errors.required">Parlimen Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Negeri*</label>
					<ng-select
						[items]="states"
						bindLabel="nama_negeri"
						bindValue="id"
						placeholder="Sila Pilih"
						class="js-example-placeholder-multiple"
						name="dun.id_negeri"
						[(ngModel)]="dun.id_negeri"
						#negeri="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && negeri.invalid }"
						required
            disabled
					></ng-select>
					<div *ngIf="f.submitted && negeri.invalid" class="invalid-feedback">
						<div *ngIf="negeri.errors.required">Negeri Wajib Dipilih</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label for="dun">Kod</label>
					<input
						class="form-control"
						id="kod"
						type="text"
						placeholder="Kod"
						[(ngModel)]="dun.kod_dun"
						#kodDun="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && kodDun.invalid }"
						name="kod_dun"
						minlength="0"
						maxlength="250"
						required
					/>
					<div *ngIf="f.submitted && kodDun.invalid" class="invalid-feedback">
						<div *ngIf="kodDun.errors.required">Kod DUN Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
    <div class="row">
      <div class="col-lg-6">
				<div class="form-group">
					<label for="status">Status</label>
					<select
						class="form-control digits"
						name="daerah.status_daerah"
						[(ngModel)]="dun.status_dun"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="2">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
    </div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
