<div class="container-fluid">
	<div class="row">
		<div
			class="col-xl-7"
			[ngStyle]="{'background-image': 'url(assets/images/login/2.jpg)',
                                     'background-size': 'cover',
                                     'background-position': 'center center',
                                     'display': 'block'}"
		>
			<img class="bg-img-cover bg-center d-none" src="assets/images/login/2.jpg" alt="looginpage" />
		</div>
		<div class="col-xl-5 p-0">
			<div class="login-card">
				<div>
					<div class="login-main">
						<h4>Terlupa katalaluan</h4>
						<p>Katalaluan baru akan dihantar ke alamat e-mel anda.</p>
						<form class="theme-form">
							<div class="form-group">
								<label class="col-form-label">Email:</label>
								<input class="form-control" type="email" required="" />
							</div>
							<br />
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit" [routerLink]="['/login']">
									Hantar
								</button>
								<button class="btn btn-light btn-block" [routerLink]="['/login']">Kembali</button>
							</div>
							<br />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
