<div class="modal-header">
  <h5 class="modal-title">Tambah Maklumat Pengumuman</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form theme-form">

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Nama Pengumum</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-form-label">Tarikh</label>
          <input class="form-control" type="date">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-form-label">Catatan</label>
          <textarea class="form-control" type="textarea"></textarea>
        </div>
      </div>
    </div>

    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Simpan</button>
</div>
