<app-breadcrumb [title]="'Belanja Secara Kuasa Kebenaran Berbelanja Kumpulan Wang Amanah Bantuan Bencana Negara (KWABBN)'" [items]="['Pengurusan Tabung','Pembayaran']" [active_item]="['SKB']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-end">
            <button class="btn btn-primary mr-3" type="button"><i
              class="fa fa-plus mr-2"></i>Tambah</button>
          </div>
          &nbsp;
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="filter-ngx form-control" placeholder='Carian...' />
            </div>
          </div>
          &nbsp;
          <div class="custom-datatable">
            <ngx-datatable class="bootstrap"
                           [rows]="rows" [sortType]="SortType.multi"
                           [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10">

              <ngx-datatable-column name="Tindakan" prop="action" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span>
                    <a class="col-sm-6 col-md-4 col-xl-3" [queryParams]="{id: 1}"><i class="fa fa-edit"></i></a>
                    <a class="col-sm-6 col-md-4 col-xl-3"><i class="fa fa-trash"></i></a>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="No Rujukan Kelulusan" prop="approvalRef" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="No Rujukan SKB" prop="skbRef" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Pegawai" prop="officer" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Agensi" prop="agency" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Kategori Tabung" prop="fundCategory" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tarikh Mula" prop="startDate" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tarikh Tamat" prop="endDate" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Siling Peruntukan" prop="ceilingAllocate" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Baki Peruntukan" prop="balAllocate" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Jumlah Belanja" prop="totalExp" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount">
                  <div style="padding: 5px 5px">
                      Jumlah: {{ rowCount }}
                  </div>
                </ng-template>
              </ngx-datatable-footer>

            </ngx-datatable>
            <div class="row justify-content-end">
              <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
