<div class="modal-header">
	<h5 class="modal-title">Peruntukan Diambil</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Sila Semak Jumlah Yang Di Ambil Sebelum Menghantar Permohonan Untuk Pindahan Peruntukan </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Jumlah Siling Peruntukan Semasa: </label>
                <a style="font-weight: bold;"> RM {{baki_jumlah_siling}}.00</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Jumlah Peruntukan Diambil (RM)</label>
                <input
                    class="form-control"
                    id="jumlah"
                    type="text"
                    name="jumlahPeruntukan"
                    placeholder="Jumlah Peruntukan"
                    [(ngModel)]="peruntukan.jumlah"
                />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Jumlah Siling Peruntukan Baru: </label>
                <a style="font-weight: bold;"> RM {{peruntukan.jumlah ? baki_jumlah_siling - peruntukan.jumlah : 0}}.00</a>
            </div>
        </div>
    </div>
  </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
        <button type="submit" class="btn btn-primary" >Simpan</button>
    </div>
</form>
