<div class="card">
	<div class="card-header card-no-border">
		<div class="header-top">
			<h5 class="m-0">Tetapan Kementerian</h5>
		</div>
	</div>
	<div class="card-body pt-3 pr-4">
    <div class="row pr-0 mb-2">
      <div class="col justify-content-start pl-0">
        <div class="faq-form">
          <input
            class="form-control"
            type="text"
            name="searchKementerian"
            placeholder="Carian..."
            [(ngModel)]="filterString"
            (keyup)="applyFilter($event.target.value)"
          />
          <i class="icon-search search-icon" style="font-size: large; font-weight: bold;"></i>
        </div>
      </div>

      <div class="col-2 justify-content-between pl-0">
        <button
          type="button"
          class="btn btn-primary"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
          title="Carian Lanjut"
          style="font-weight: 500"
        >
          <i class="fa fa-filter"></i>
        </button>
      </div>

      <div class="col pr-0">
        <div class="justify-content-end pull-right">
          <button (click)="addMinistryModal()" type="button" class="btn btn-primary">
            <i class="fa fa-plus mr-2"></i>
            <b>Tambah</b>
          </button>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div id="collapseExample" [ngbCollapse]="!isCollapsed">
              <form>
                <div class="row mt-2">

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Status</label>
                      <ng-select
                        [items]="status"
                        bindLabel="nama_status"
                        bindValue="id"
                        placeholder="Sila Pilih"
                        class="js-example-placeholder-multiple"
                        name="status_kementerian"
                        [(ngModel)]="filterStatus"
                      ></ng-select>
                    </div>
                  </div>

                </div>

                <div class="row no-gutters justify-content-end mb-2">
                  <button
                    class="btn btn-light mr-2"
                    type="reset"
                    (click)="resetFilter()"
                  >
                  <i class="fa fa-refresh mr-2"></i>
                    <b>Reset</b>
                  </button>

                  <button
                    class="btn btn-primary pull-right"
                    type="button"
                    (click)="getKementerian()"
                  >
                  <i class="fa fa-search mr-2"></i>
                    <b>Cari</b>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center pr-3">
      <div class="primeng-datatable-container">
        <p-table
          #dataTable
          styleClass="p-datatable-striped"
          [resizableColumns]="true"
          (onLazyLoad)="getKementerian($event)"
          [value]="primengTableHelper.records"
          rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
          [paginator]="false"
          [lazy]="true"
          [loading]="primengTableHelper.isLoading"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 180px" pSortableColumn="nama_kementerian">
                Nama Kementerian
                <p-sortIcon field="nama_kementerian"></p-sortIcon>
              </th>
              <th style="width: 100px" pSortableColumn="kod_kementerian">
                Kod
                <p-sortIcon field="kod_kementerian"></p-sortIcon>
              </th>
              <th style="width: 130px" pSortableColumn="status">
                Status
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th style="width: 130px">Tindakan</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record="$implicit">
            <tr>
              <td style="width: 180px">
                <span class="p-column-title">Nama Kementerian</span>
                {{record.nama_kementerian | titlecase}}
              </td>
              <td style="width: 100px">
                <span class="p-column-title">Kod</span>
                {{record.kod_kementerian}}
              </td>
              <td style="width: 130px">
                <span class="p-column-title">Status</span>
                {{record.status_kementerian == 1? "Aktif":"Tidak Aktif"}}
              </td>
              <td style="width: 130px">
                <div ngbDropdown class="btn-group" role="group" container="body">
                  <button
                    type="button"
                    class="btn btn-primary btn-primeng dropdown-toggle"
                    id="action"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                    Tindakan
                  </button>
                  <div ngbDropdownMenu aria-labelledby="action">
                    <button class="dropdown-item" (click)="editMinistryModal(record.id)">
                      Lihat
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">Tiada Data</div>
        <div class="primeng-paging-container justify-content-between">
          <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginator
            (onPageChange)="getKementerian($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
          ></p-paginator>
          <span class="total-records-count">Jumlah: {{ primengTableHelper.totalRecordsCount}}</span>
        </div>
      </div>
    </div>
	</div>
</div>
