<app-breadcrumb [title]="'Pengurusan Pengguna'" [active_item]="['Pengurusan Pengguna']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-end">
            <button class="btn btn-primary mr-3" type="button" [routerLink]="['/main/add-user']"><i
              class="fa fa-plus mr-2"></i>Tambah</button>
          </div>
          &nbsp;
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="filter-ngx form-control" placeholder='Carian...' />
            </div>
          </div>
          <div class="row mt-2 ml-1">
            <div class="col-lg-12">
              <div class="row">
                <button type="button" class="btn btn-xs btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Carian Lanjut
                </button>
              </div>
              <div class="row" [ngbCollapse]="!isCollapsed">
                <div class="col-lg-12">
                  <div class="card mb-0">
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-xl-3 col-xs-2">
                            <label>Jenis Pilihan</label>
                            <select class="form-control digits">
                              <option>Nama</option>
                              <option>No Kad Pengenalan</option>
                            </select>
                          </div>
                          <div class="col-xl-9 col-xs-3">
                            <label>Data Pilihan</label>
                            <div class="form-group">
                              <input class="form-control" id="text" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-3 col-xs-6">
                            <div class="form-group">
                              <label>Agensi</label>
                              <select class="form-control digits">
                                <option>Pilih</option>
                                <option>Jabatan Kebajikan Masyarakat</option>
                                <option>Jabatan Pertahanan Awam Malaysia</option>
                                <option>Agensi Pengurusan Bencana Malaysia</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-xl-3 col-xs-6">
                            <div class="form-group">
                              <label>Peranan</label>
                              <select class="form-control digits">
                                <option>Pilih</option>
                                <option>Pengguna Biasa</option>
                                <option>Penyelia</option>
                                <option>Admin</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <button class="btn btn-outline-primary mr-3" type="button" (click)="isCollapsed = !isCollapsed"
                                  [attr.aria-expanded]="!isCollapsed">Cari</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          &nbsp;
          <div class="custom-datatable">
              <ngx-datatable class="bootstrap" [rows]="rows" [sortType]="SortType.multi"
                      [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="">

                  <ngx-datatable-column name="Tindakan" prop="action" [flexGrow]="1">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span>
                          <a class="col-sm-6 col-md-4 col-xl-3" [queryParams]="{id: 1}" [routerLink]="['/main/add-user']"><i class="fa fa-edit"></i></a>
                          <a class="col-sm-6 col-md-4 col-xl-3"><i class="fa fa-trash"></i></a>
                        </span>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="ID Pengguna" prop="userID" [flexGrow]="1">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nama Pengguna" prop="userName" [flexGrow]="1.5">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Agensi" prop="agency" [flexGrow]="2">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Peranan" prop="userRole" [flexGrow]="1">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Login Terakhir" prop="lastLog" [flexGrow]="1.5">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Jumlah Login" prop="totalLog" [flexGrow]="1">
                      <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      ngx-datatable-footer-template
                      let-rowCount="rowCount">
                      <div style="padding: 5px 5px">
                          Jumlah: {{ rowCount }}
                      </div>
                    </ng-template>
                  </ngx-datatable-footer>
              </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
