<div class="modal-header">
  <h4 class="modal-title">Tukar Kata Laluan</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col">
          <div class="form-group">
              <label for="passwordlama">Kata Laluan (Lama)</label>
              <input class="form-control" id="passwordlama" type="password" placeholder="Kata Laluan (Lama)">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="form-group">
              <label for="passwordbaru">Kata Laluan (Baru)</label>
              <input class="form-control" id="passwordbaru" type="password" placeholder="Kata Laluan (Baru)">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="form-group">
              <label for="ulangpassword">Ulang Kata Laluan</label>
              <input class="form-control" id="ulangpassword" type="password" placeholder="Ulang Kata Laluan">
          </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Kembali</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Simpan</button>
</div>
