<app-breadcrumb
	[title]="'Kemaskini Maklumat Mangsa'"
	[items]="['Mangsa', 'Profil Mangsa']"
	[active_item]="'Kemaskini Mangsa'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<ul ngbNav #nav="ngbNav" [(activeId)]="tabId" class="nav-tabs">
						<li [ngbNavItem]="1">
							<a ngbNavLink>Maklumat Mangsa</a>
							<ng-template ngbNavContent>
								<app-maklumat-mangsa [idMangsa]="id"></app-maklumat-mangsa>
							</ng-template>
						</li>
						<li [ngbNavItem]="2" *ngIf="_appSession.isGranted('Halaman.Mangsa.Air')">
							<a ngbNavLink>Isi Rumah</a>
							<ng-template ngbNavContent>
								<app-ahli-rumah-mangsa [idMangsa]="id" [nama]="nama" [no_kp]="no_kp"></app-ahli-rumah-mangsa>
							</ng-template>
						</li>
						<li [ngbNavItem]="3" *ngIf="_appSession.isGranted('Halaman.Mangsa.Bencana')">
							<a ngbNavLink>Maklumat Bencana</a>
							<ng-template ngbNavContent>
								<app-mangsa-bencana [idMangsa]="id" [nama]="nama" [no_kp]="no_kp" [id_negeri]="id_negeri"></app-mangsa-bencana>
							</ng-template>
						</li>
						<li [ngbNavItem]="4" *ngIf="_appSession.isGranted('Halaman.Mangsa.BWI') || _appSession.isGranted('Halaman.Mangsa.BantuanRumah') || _appSession.isGranted('Halaman.Mangsa.BantuanPinjaman')
            || _appSession.isGranted('Halaman.Mangsa.BantuanPertanian') || _appSession.isGranted('Halaman.Mangsa.BantuanAntarabangsa') || _appSession.isGranted('Halaman.Mangsa.BantuanLain')">
							<a ngbNavLink>Bantuan Mangsa</a>
							<ng-template ngbNavContent>
								<app-bantuan-mangsa [idMangsa]="id" [nama]="nama" [no_kp]="no_kp"></app-bantuan-mangsa>
							</ng-template>
						</li>
					</ul>
					<div [ngbNavOutlet]="nav" class="mt-2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
