<app-breadcrumb
	[title]="'Edit Maklumat Mangsa'"
	[items]="['Mangsa', 'Profil Mangsa']"
	[active_item]="'Edit Mangsa'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Maklumat Mangsa</a>
              <ng-template ngbNavContent>
                <app-maklumat-mangsa></app-maklumat-mangsa>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Isi Rumah</a>
              <ng-template ngbNavContent>
                <app-ahli-rumah-mangsa></app-ahli-rumah-mangsa>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Maklumat Bencana</a>
              <ng-template ngbNavContent>
                <app-mangsa-bencana></app-mangsa-bencana>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink>Bantuan Mangsa</a>
              <ng-template ngbNavContent>
                <app-bantuan-mangsa></app-bantuan-mangsa>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>

				</div>
			</div>
		</div>
	</div>
</div>
