<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Belanja Bulanan SKB</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Belanja Bulanan SKB</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save(bulanan.id, bulanan.tahun, bulanan.bulan, bulan_id, bulanan.jumlah)" novalidate>
	<div class="modal-body">
		<div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Bulan*</label>
          <ng-select
            [items]="months"
            bindLabel="bulan"
            bindValue="bulan"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="bulan_belanja"
            [(ngModel)]="bulanan.bulan"
            (ngModelChange)="getIdBulan()"
            #bulanBelanja="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && bulanBelanja.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && bulanBelanja.invalid" class="invalid-feedback">
            <div *ngIf="bulanBelanja.errors.required">Bulan Wajib Dipilih</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Tahun*</label>
          <ng-select
            [items]="arrayYear"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="tahun_belanja"
            [(ngModel)]="bulanan.tahun"
            #tahunBelanja="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && tahunBelanja.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && tahunBelanja.invalid" class="invalid-feedback">
            <div *ngIf="tahunBelanja.errors.required">Tahun Wajib Dipilih</div>
          </div>
        </div>
      </div>
    </div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Jumlah Belanja (RM)*</label>
					<input
						class="form-control"
            type="text"
						placeholder="Jumlah Belanja"
						name="jumlah_belanja"
						[(ngModel)]="bulanan.jumlah"
						#jumlahBelanja="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && jumlahBelanja.invalid }"
						required
            currencyMask
            [options]="{ prefix: 'RM ', align: 'left' }"
					/>
					<div *ngIf="f.submitted && jumlahBelanja.invalid" class="invalid-feedback">
						<div *ngIf="jumlahBelanja.errors.required">Jumlah Belanja Wajib Diisi</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
