<app-breadcrumb
	[title]="'Kemaskini Kelulusan (KWABBN)'"
	[items]="['Pengurusan Tabung']"
	[active_item]="'Kelulusan'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form>
						<h6>Maklumat Kelulusan</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tabung*</label>
									<select class="form-control digits">
										<option>Pilih</option>
										<option>Covid-19</option>
										<option>KWABBN</option>
									</select>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Kategori Bencana*</label>
									<select class="form-control digits">
										<option>Pilih</option>
										<option>Banjir</option>
										<option>Ribut</option>
										<option>Tanah Runtuh</option>
										<option>Covid-19</option>
										<option>Pelbagai</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jenis Bantuan*</label>
									<select class="form-control digits">
										<option>Pilih</option>
									</select>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Komitmen*</label>
									<select class="form-control digits">
										<option>Pilih</option>
										<option>Perolehan Secara Pembelian Terus</option>
										<option>Perolehan Secara Darurat</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan Bencana</label>
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Rujukan Bencana" />
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" (click)="approvalAddModal()">
												<i class="fa fa-search text-white"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan Surat</label>
									<input class="form-control" type="text" placeholder="JPM.APBN(S).600-3/8/2 (1)" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Perihal Surat</label>
									<textarea class="form-control input-air-primary" rows="3"></textarea>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Rujukan</label>
									<textarea class="form-control input-air-primary" rows="3"></textarea>
								</div>
							</div>
						</div>

						<div class="row custom-datepicker custom-datepicker-dropdown">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Surat</label>
									<div class="input-group">
										<input
											class="form-control"
											placeholder="yyyy-mm-dd"
											name="dp1"
											[displayMonths]="displayMonths"
											[navigation]="navigation"
											[outsideDays]="outsideDays"
											[showWeekNumbers]="showWeekNumbers"
											ngbDatepicker
											#k1="ngbDatepicker"
										/>
										<div class="input-group-append">
											<button class="btn calendar" (click)="k1.toggle()" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Mula)</label>
									<div class="input-group">
										<input
											class="form-control"
											placeholder="yyyy-mm-dd"
											name="dp2"
											[displayMonths]="displayMonths"
											[navigation]="navigation"
											[outsideDays]="outsideDays"
											[showWeekNumbers]="showWeekNumbers"
											ngbDatepicker
											#k2="ngbDatepicker"
										/>
										<div class="input-group-append">
											<button class="btn calendar" (click)="k2.toggle()" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Tarikh Kelulusan (Tamat)</label>
									<div class="input-group">
										<input
											class="form-control"
											placeholder="yyyy-mm-dd"
											name="dp2"
											[displayMonths]="displayMonths"
											[navigation]="navigation"
											[outsideDays]="outsideDays"
											[showWeekNumbers]="showWeekNumbers"
											ngbDatepicker
											#k2="ngbDatepicker"
										/>
										<div class="input-group-append">
											<button class="btn calendar" (click)="k2.toggle()" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Siling Peruntukan</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text">RM</span></div>
										<input class="form-control" type="number" />
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Baki Peruntukan</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text">RM</span></div>
										<input class="form-control" type="number" />
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Tahun Terdahulu</label>
									<input class="form-control" type="text" value="2019" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Belanja Tahun Terdahulu</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text">RM</span></div>
										<input class="form-control" type="number" />
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
									<label>Tahun Terbaru</label>
									<input class="form-control" type="text" value="2020" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Jumlah Belanja</label>
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text">RM</span></div>
										<input class="form-control" type="number" />
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-lg-6">
								<h6>Perbelanjaan SKB Semasa</h6>
							</div>
							<div class="col-lg-6">
								<h6>Perbelanjaan Secara Terus Semasa</h6>
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="row align-items-center mr-2">
									<!--<Primeng-TurboTable-Start>-->
									<div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
										<p-table
											#dataTable
											styleClass="p-datatable-striped"
											sortMode="multiple"
											[resizableColumns]="true"
											(onLazyLoad)="getApplication($event)"
											[value]="primengTableHelper.records"
											rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
											[paginator]="false"
											[lazy]="true"
											[scrollable]="true"
											ScrollWidth="100%"
											[responsive]="primengTableHelper.isResponsive"
											[resizableColumns]="primengTableHelper.resizableColumns"
										>
											<ng-template pTemplate="header">
												<tr>
													<th style="width: 150px" pSortableColumn="tarih_bencana">
														Tabung
														<p-sortIcon field="tarih_bencana"></p-sortIcon>
													</th>
													<th style="width: 150px" pSortableColumn="tarih_bencana">
														Jumlah
														<p-sortIcon field="tarih_bencana"></p-sortIcon>
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-record="$implicit">
												<tr>
													<td style="width: 150px">
														<span class="p-column-title">Tabung</span>
														{{record.saving}}
													</td>
													<td style="width: 150px">
														<span class="p-column-title">Jumlah</span>
														{{record.total}}
													</td>
												</tr>
											</ng-template>
										</p-table>
										<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
											No Data
										</div>
										<div class="primeng-paging-container justify-content-between">
											<p-paginator
												[rows]="primengTableHelper.defaultRecordsCountPerPage"
												#paginator
												(onPageChange)="getApplication($event)"
												[totalRecords]="primengTableHelper.totalRecordsCount"
												[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
											></p-paginator>
											<span class="total-records-count">
												Jumlah: {{ primengTableHelper.totalRecordsCount}}
											</span>
										</div>
									</div>
									<!--<Primeng-TurboTable-End>-->
								</div>
							</div>

							<div class="col-lg-6">
								<div class="row align-items-center ml-2">
									<!--<Primeng-TurboTable-Start>-->
									<div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
										<p-table
											#dataTable
											styleClass="p-datatable-striped"
											sortMode="multiple"
											[resizableColumns]="true"
											(onLazyLoad)="getApplication($event)"
											[value]="primengTableHelper.records"
											rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
											[paginator]="false"
											[lazy]="true"
											[scrollable]="true"
											ScrollWidth="100%"
											[responsive]="primengTableHelper.isResponsive"
											[resizableColumns]="primengTableHelper.resizableColumns"
										>
											<ng-template pTemplate="header">
												<tr>
													<th style="width: 150px" pSortableColumn="tarih_bencana">
														Tabung
														<p-sortIcon field="tarih_bencana"></p-sortIcon>
													</th>
													<th style="width: 150px" pSortableColumn="tarih_bencana">
														Jumlah
														<p-sortIcon field="tarih_bencana"></p-sortIcon>
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-record="$implicit">
												<tr>
													<td style="width: 150px">
														<span class="p-column-title">Tabung</span>
														{{record.saving}}
													</td>
													<td style="width: 150px">
														<span class="p-column-title">Jumlah</span>
														{{record.total}}
													</td>
												</tr>
											</ng-template>
										</p-table>
										<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
											No Data
										</div>
										<div class="primeng-paging-container justify-content-between">
											<p-paginator
												[rows]="primengTableHelper.defaultRecordsCountPerPage"
												#paginator
												(onPageChange)="getApplication($event)"
												[totalRecords]="primengTableHelper.totalRecordsCount"
												[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
											></p-paginator>
											<span class="total-records-count">
												Jumlah: {{ primengTableHelper.totalRecordsCount}}
											</span>
										</div>
									</div>
									<!--<Primeng-TurboTable-End>-->
								</div>
							</div>
						</div>

						<button
							class="btn btn-primary pull-right"
							[routerLink]="['/app/tabung/senarai-kelulusan']"
							type="button"
						>
							Lihat
						</button>
						<button
							class="btn btn-light pull-right mr-1"
							[routerLink]="['/app/tabung/senarai-kelulusan']"
							type="button"
						>
							Kembali
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
