<div class="modal-header">
	<h5 class="modal-title" *ngIf="name === 'add'">Tambah Pemilik Projek</h5>
	<h5 class="modal-title" *ngIf="name === 'edit'">Kemaskini Pemilik Projek</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Nama*</label>
					<input
						class="form-control"
						id="pemilik"
						type="text"
						placeholder="Nama"
						[(ngModel)]="pemilik.nama_pemilik"
						#namaPemilik="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && namaPemilik.invalid }"
						name="nama_pemilik"
						required
					/>
					<div *ngIf="f.submitted && namaPemilik.invalid" class="invalid-feedback">
						<div *ngIf="namaPemilik.errors.required">Nama Pelaksana Wajib Diisi</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label>Status*</label>
					<select
						class="form-control digits"
						name="status_pemilik"
						[(ngModel)]="pemilik.status_pemilik"
						#status="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && status.invalid }"
						required
					>
						<option selected disabled [value]="undefined">Sila Pilih</option>
						<option [value]="1">Aktif</option>
						<option [value]="2">Tidak Aktif</option>
					</select>
					<div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
						<div *ngIf="status.errors.required">Status Wajib Dipilih</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="activeModal.close(false)">Tutup</button>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</div>
</form>
