<app-breadcrumb
	[title]="'Laporan Belanja Secara Bayaran Waran'"
	[items]="['Laporan']"
	[active_item]="'Waran'"
></app-breadcrumb>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row mb-1">
            <div class="col-lg-6 col-sm-10 justify-content-start pl-0">
              <div class="faq-form">
                <input
                  class="form-control"
                  type="text"
                  name="searchReportWaran"
                  placeholder="Carian..."
                  (keyup)="applyFilter($event.target.value)"
                />
                <i class="search-icon" data-feather="search"></i>
              </div>
            </div>

            <div class="col-lg-2 col-sm-2 justify-content-between pl-0">
              <button
                type="button"
                class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample"
                ngbTooltip="Carian Lanjut"
                style="font-weight: 500"
              >
                <i class="fa fa-filter"></i>
              </button>
            </div>

            <div class="col-lg-4 col-sm-12 justify-content-end p-0">
              <button type="button" (click)="exportToExcel()" class="btn btn-outline-success pull-right">
                <i class="fa fa-file-excel-o fa-lg mr-2"></i>
                <b>Excel</b>
              </button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                    <form>
                      <div class="row mt-2">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Kategori Tabung</label>
                            <ng-select
                              [items]="kategoriBayaran"
                              bindLabel="nama_kategori_bayaran"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="kategori_bayaran"
                              [(ngModel)]="filterKategori"
                            ></ng-select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Agensi</label>
                            <ng-select
                              [items]="agensi"
                              bindLabel="nama_agensi"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="nama_agensi_waran"
                              [(ngModel)]="filterAgensi"
                            ></ng-select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group">
                            <label>Status</label>
                            <ng-select
                              [items]="statusWaran"
                              bindLabel="status"
                              bindValue="id"
                              placeholder="Sila Pilih"
                              class="js-example-placeholder-multiple"
                              name="status_waran"
                              [(ngModel)]="filterStatus"
                            ></ng-select>
                          </div>
                        </div>
                      </div>

                      <div class="row justify-content-end mb-3 pr-2">
                        <button
                          class="btn btn-light mr-2"
                          type="button"
                          (click)="resetFilter()"
                        >
                        <i class="fa fa-refresh mr-2"></i>
                          <b>Reset</b>
                        </button>

                        <button
                          class="btn btn-primary pull-right mr-2"
                          type="button"
                          (click)="getWaranReport()"
                        >
                        <i class="fa fa-search mr-2"></i>
                          <b>Cari</b>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

					<div class="row align-items-center">
						<div class="primeng-datatable-container">
							<p-table
								#dataTable
								styleClass="p-datatable-striped"
								[resizableColumns]="true"
								(onLazyLoad)="getWaranReport($event)"
								[value]="primengTableHelper.records"
								rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
								[paginator]="false"
								[lazy]="true"
                [loading]="primengTableHelper.isLoading"
								[scrollable]="true"
								ScrollWidth="100%"
								[responsive]="primengTableHelper.isResponsive"
								[resizableColumns]="primengTableHelper.resizableColumns"
							>
								<ng-template pTemplate="header">
									<tr>
										<th style="width: 190px" pSortableColumn="no_rujukan_waran">
											No. Rujukan Waran
											<p-sortIcon field="no_rujukan_waran"></p-sortIcon>
										</th>
										<th style="width: 150px" pSortableColumn="no_rujukan_kelulusan">
											No. Kelulusan
											<p-sortIcon field="no_rujukan_kelulusan"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="tarikh_mula">
											Tarikh Mula
											<p-sortIcon field="tarikh_mula"></p-sortIcon>
										</th>
										<th style="width: 140px" pSortableColumn="tarikh_tamat">
											Tarikh Tamat
											<p-sortIcon field="tarikh_tamat"></p-sortIcon>
										</th>
										<th style="width: 100px" pSortableColumn="nama_waran_status">
											Status
											<p-sortIcon field="nama_waran_status"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="perihal">
											Perihal
											<p-sortIcon field="perihal"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_pegawai">
											Pegawai
											<p-sortIcon field="nama_pegawai"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_agensi">
											Agensi
											<p-sortIcon field="nama_agensi"></p-sortIcon>
										</th>
										<th style="width: 170px" pSortableColumn="jumlah_siling_peruntukan">
											Siling Peruntukan
											<p-sortIcon field="jumlah_siling_peruntukan"></p-sortIcon>
										</th>
										<th style="width: 170px" pSortableColumn="jumlah_baki_peruntukan">
											Baki Peruntukan
											<p-sortIcon field="jumlah_baki_peruntukan"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="nama_kategori_bayaran">
											Tabung
											<p-sortIcon field="nama_kategori_bayaran"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_januari">
											Januari
											<p-sortIcon field="jumlah_januari"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_februari">
											Februari
											<p-sortIcon field="jumlah_februari"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_mac">
											Mac
											<p-sortIcon field="jumlah_mac"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_april">
											April
											<p-sortIcon field="jumlah_april"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_mei">
											Mei
											<p-sortIcon field="jumlah_mei"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_jun">
											Jun
											<p-sortIcon field="jumlah_jun"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_julai">
											Julai
											<p-sortIcon field="jumlah_julai"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_ogos">
											Ogos
											<p-sortIcon field="jumlah_ogos"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_september">
											September
											<p-sortIcon field="jumlah_september"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_oktober">
											Oktober
											<p-sortIcon field="jumlah_oktober"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_november">
											November
											<p-sortIcon field="jumlah_november"></p-sortIcon>
										</th>
										<th style="width: 130px" pSortableColumn="jumlah_disember">
											Disember
											<p-sortIcon field="jumlah_disember"></p-sortIcon>
										</th>
										<th style="width: 160px" pSortableColumn="jumlah_keseluruhan">
											Jumlah Belanja
											<p-sortIcon field="jumlah_keseluruhan"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-record="$implicit">
									<tr>
										<td style="width: 190px">
											<span class="p-column-title">No. Rujukan Waran</span>
											{{record.no_rujukan_waran}}
										</td>
										<td style="width: 150px">
											<span class="p-column-title">No. Kelulusan</span>
											{{record.no_rujukan_kelulusan}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Tarikh Mula</span>
											{{record.tarikh_mula | date:'dd-MM-yyyy'}}
										</td>
										<td style="width: 140px">
											<span class="p-column-title">Tarikh Tamat</span>
											{{record.tarikh_tamat  | date:'dd-MM-yyyy'}}
										</td>
										<td style="width: 100px">
											<span class="p-column-title">Status</span>
											{{record.nama_waran_status}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Perihal</span>
											{{record.perihal}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Pegawai</span>
											{{record.nama_pegawai}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Agensi</span>
											{{record.nama_agensi}}
										</td>
										<td style="width: 170px">
											<span class="p-column-title">Siling Peruntukan</span>
                      <label *ngIf="record.jumlah_siling_peruntukan">RM {{record.jumlah_siling_peruntukan | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_siling_peruntukan">RM 0.00</label>
										</td>
										<td style="width: 170px">
											<span class="p-column-title">Baki Peruntukan</span>
                      <label *ngIf="record.jumlah_baki_peruntukan">RM {{record.jumlah_baki_peruntukan | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_baki_peruntukan">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Tabung</span>
											{{record.nama_kategori_bayaran}}
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Januari</span>
											<label *ngIf="record.jumlah_januari">RM {{record.jumlah_januari | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_januari">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Februari</span>
                      <label *ngIf="record.jumlah_februari">RM {{record.jumlah_februari | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_februari">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Mac</span>
                      <label *ngIf="record.jumlah_mac">RM {{record.jumlah_mac | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_mac">RM 0.00</label>
										<td style="width: 130px">
											<span class="p-column-title">April</span>
                      <label *ngIf="record.jumlah_april">RM {{record.jumlah_april | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_april">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Mei</span>
                      <label *ngIf="record.jumlah_mei">RM {{record.jumlah_mei | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_mei">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Jun</span>
                      <label *ngIf="record.jumlah_jun">RM {{record.jumlah_jun | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_jun">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Julai</span>
                      <label *ngIf="record.jumlah_julai">RM {{record.jumlah_julai | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_julai">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Ogos</span>
                      <label *ngIf="record.jumlah_ogos">RM {{record.jumlah_ogos | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_ogos">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">September</span>
                      <label *ngIf="record.jumlah_september">RM {{record.jumlah_september | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_september">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Oktober</span>
                      <label *ngIf="record.jumlah_oktober">RM {{record.jumlah_oktober | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_oktober">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">November</span>
                      <label *ngIf="record.jumlah_november">RM {{record.jumlah_november | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_november">RM 0.00</label>
										</td>
										<td style="width: 130px">
											<span class="p-column-title">Disember</span>
                      <label *ngIf="record.jumlah_disember">RM {{record.jumlah_disember | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_disember">RM 0.00</label>
										</td>
										<td style="width: 160px">
											<span class="p-column-title">Jumlah Belanja</span>
                      <label *ngIf="record.jumlah_keseluruhan">RM {{record.jumlah_keseluruhan | number: '1.2-2'}}</label>
                      <label *ngIf="!record.jumlah_keseluruhan">RM 0.00</label>
										</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">No Data</div>
							<div class="primeng-paging-container justify-content-between">
								<p-paginator
									[rows]="primengTableHelper.defaultRecordsCountPerPage"
									#paginator
									(onPageChange)="getWaranReport($event)"
									[totalRecords]="primengTableHelper.totalRecordsCount"
									[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
								></p-paginator>
								<span class="total-records-count">
									Jumlah: {{ primengTableHelper.totalRecordsCount}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
