<div class="modal-header">
	<h4 class="modal-title" *ngIf="name === 'add'">Tambah Bantuan Lain</h4>
  <h4 class="modal-title" *ngIf="name === 'edit'">Kemaskini Bantuan Lain</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
  <div class="modal-body">
		<div class="row">
			<div class="col-lg-6">
        <div class="form-group">
          <label>Bencana*</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="Bencana"
              name="bencana"
              [(ngModel)]="bantuanLain.nama_bencana"
              #namaBencana="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && namaBencana.invalid }"
              required
              readonly
            />
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="pilihBencana()" type="button">
                <i class="fa fa-search text-white"></i>
              </button>
            </div>
            <div *ngIf="f.submitted && namaBencana.invalid" class="invalid-feedback">
              <div *ngIf="namaBencana.errors.required">Bencana Wajib Dipilih</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
        <label>Tarikh Bencana</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="DD/MM/YYYY"
            name="dp3"
            [(ngModel)]="modelBencana"
            ngbDatepicker
            [footerTemplate]="footerTemplate"
            #d3="ngbDatepicker"
            style="border: 1px solid #efefef !important;"
            readonly
          >
        </div>
      </div>
		</div>

		<div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Nama Bantuan*</label>
          <input
            class="form-control"
            id="nama_bantuan"
            type="text"
            name="bantuanLain.nama_bantuan"
            [(ngModel)]="bantuanLain.nama_bantuan"
            placeholder="Nama Bantuan"
            #namaBantuan="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && namaBantuan.invalid }"
            required
          />
          <div *ngIf="f.submitted && namaBantuan.invalid" class="invalid-feedback">
            <div *ngIf="namaBantuan.errors.required">Nama Bantuan Wajib Diisi</div>
          </div>
        </div>
      </div>

			<div class="col-lg-6">
        <div class="form-group">
          <label>Sumber Dana*</label>
          <ng-select
            [items]="sumberDana"
            bindLabel="nama_sumber_dana"
            bindValue="id"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="bantuanLain.id_sumber_dana"
            [(ngModel)]="bantuanLain.id_sumber_dana"
            #namaSumberDana="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && namaSumberDana.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && namaSumberDana.invalid" class="invalid-feedback">
            <div *ngIf="namaSumberDana.errors.required">Sumber Dana Wajib Dipilih</div>
          </div>
        </div>
      </div>
		</div>

		<div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Nyatakan Jika Sumber Dana Lain</label>
          <input
            class="form-control"
            type="text"
            name="sumber_dana_lain"
            [(ngModel)]="bantuanLain.sumber_dana_lain"
            placeholder="Sumber Dana Lain-lain"
          />
        </div>
      </div>

			<div class="col-lg-6">
        <div class="form-group">
          <label>Agensi Pemberi Bantuan*</label>
          <ng-select
            [items]="agensi"
            bindLabel="nama_agensi"
            bindValue="id"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="id_agensi"
            [(ngModel)]="bantuanLain.id_agensi_bantuan"
            #namaAgensi="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && namaAgensi.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && namaAgensi.invalid" class="invalid-feedback">
            <div *ngIf="namaAgensi.errors.required">Nama Agensi Wajib Dipilih</div>
          </div>
        </div>
      </div>
		</div>

		<div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Kos Bantuan (RM)*</label>
          <input
            class="form-control"
            id="kosBantuan"
            type="text"
            name="bantuanLain.kos_bantuan"
            [(ngModel)]="bantuanLain.kos_bantuan"
            placeholder="Kos Bantuan"
            #kosBantuan="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && kosBantuan.invalid }"
            required
            currencyMask
            [options]="{ prefix: 'RM ', align: 'left' }"
          />
          <div *ngIf="f.submitted && kosBantuan.invalid" class="invalid-feedback">
            <div *ngIf="kosBantuan.errors.required">Kos Bantuan Wajib Diisi</div>
          </div>
        </div>
      </div>

			<div class="form-group col-lg-6 custom-datepicker custom-datepicker-dropdown">
        <label>Tarikh Bantuan*</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="DD/MM/YYYY"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            [footerTemplate]="footerTemplate"
            #d="ngbDatepicker"
            style="border: 1px solid #efefef !important;"
						#tarikhBantuan="ngModel"
						[ngClass]="{ 'is-invalid': f.submitted && tarikhBantuan.invalid }"
						required
          >
          <div class="input-group-append">
            <button class="btn btn-light" (click)="d.toggle()" type="button"><i
              class="fa fa-calendar"></i></button>
          </div>
					<div *ngIf="f.submitted && tarikhBantuan.invalid" class="invalid-feedback">
						<div *ngIf="tarikhBantuan.errors.required">Tarikh Bantuan Wajib Dipilih</div>
					</div>
        </div>
      </div>
      <ng-template #footerTemplate>
        <hr class="my-0">
        <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Hari Ini</button>
        <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Tutup</button>
      </ng-template>
		</div>

		<div class="row" *ngIf="name === 'edit'">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Status*</label>
          <ng-select
            [items]="status"
            bindLabel="nama_status"
            bindValue="id"
            placeholder="Sila Pilih"
            class="js-example-placeholder-multiple"
            name="id_status"
            [(ngModel)]="bantuanLain.status_mangsa_bantuan"
            #namaStatus="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && namaStatus.invalid }"
            required
          ></ng-select>
          <div *ngIf="f.submitted && namaStatus.invalid" class="invalid-feedback">
            <div *ngIf="namaStatus.errors.required">Status Wajib Dipilih</div>
          </div>
        </div>
      </div>
		</div>

    <div class="row">
			<div class="col">
				<div class="form-group">
					<label>Catatan</label>
					<textarea
            class="form-control"
            id="catatan"
            name="bantuanLain.catatan"
            [(ngModel)]="bantuanLain.catatan"
            rows="3">
          </textarea>
				</div>
			</div>
		</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Tutup</button>
    <button type="submit" class="btn btn-primary">Simpan</button>
  </div>
</form>
