<div class="container-fluid">
	<div class="row">
		<div class="col-xl-12 p-0">
			<div class="login-card">
				<div class="col-sm-10 col-xl-10">
					<div class="card">
						<div class="card-header">
							<h5>Pendaftaran Pengguna Baharu</h5>
						</div>
            <form class="form theme-form" name="form" #f="ngForm" focusInvalidInput (ngSubmit)="f.form.valid && save()" novalidate>
              <div class="card-body">
                <h6>Maklumat Pengguna</h6>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Nama Pemohon*</label>
                      <input
                        class="form-control"
                        id="namaPemohon"
                        type="text"
                        name="nama"
                        [(ngModel)]="register.nama"
                        placeholder="Nama Pemohon"
                        #namaPemohon="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && namaPemohon.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && namaPemohon.invalid" class="invalid-feedback">
                        <div *ngIf="namaPemohon.errors.required">Nama Pemohon Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>No. Kad Pengenalan*</label>
                      <input
                        class="form-control"
                        id="noKadPengenalan"
                        type="text"
                        name="no_kp"
                        [(ngModel)]="register.no_kp"
                        placeholder="No. Kad Pengenalan"
                        #noKp="ngModel"
                        [class.is-invalid]="((noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid && noKp.errors?.valueInvalid) || f.submitted && noKp.invalid"
                        maxlength="12"
                        onlyNumbers
                        kpValidator
                        required
                      />
                      <div *ngIf="f.submitted && noKp.invalid" class="invalid-feedback">
                        <div *ngIf="noKp.errors.required">No. Kad Pengenalan Wajib Diisi</div>
                      </div>
                      <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.valueInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                        No. Kad Pengenalan Kurang Daripada 12
                      </div>
                      <div class="mt-1" *ngIf="(noKp.touched || noKp.dirty) && noKp.errors?.stateCodeInvalid" style="color: #dc3545; font-size: 80%; size: 80%;">
                        Kod Negeri Tidak Sah
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>
                        Emel*
												<i
													class="fa fa-info-circle ml-2"
													placement="right"
													ngbTooltip="Emel ini akan digunakan untuk Log Masuk di e-Pasca Bencana"
													style="cursor: pointer; color: var(--theme-deafult);"
												></i>
                      </label>
                      <input
                        class="form-control"
                        id="emelPemohon"
                        type="text"
                        name="emel"
                        [(ngModel)]="register.emel"
                        placeholder="Emel"
                        #emelPemohon="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && emelPemohon.invalid }"
                        [pattern]="emailPattern"
                        required
                      />
                      <div *ngIf="f.submitted && emelPemohon.invalid" class="invalid-feedback">
                        <div *ngIf="emelPemohon.errors.required">Emel Wajib Diisi</div>
                        <div *ngIf="emelPemohon.errors.pattern">Format Emel Tidak Sesuai</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Telefon Bimbit*</label>
                      <input
                        class="form-control"
                        id="telefonBimbit"
                        type="text"
                        name="telefon_bimbit"
                        [(ngModel)]="register.telefon_bimbit"
                        placeholder="Telefon Bimbit"
                        #telefonBimbit="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && telefonBimbit.invalid }"
                        minlength="9"
                        maxlength="12"
                        onlyNumbers
                        required
                      />
                      <div *ngIf="f.submitted && telefonBimbit.invalid" class="invalid-feedback">
                        <div *ngIf="telefonBimbit.errors.required">Telefon Bimbit Wajib Diisi</div>
                        <div *ngIf="telefonBimbit.errors.minlength">No. Telefon (Bimbit) Mesti Melebihi 9 Digit</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Jawatan*</label>
                      <input
                        class="form-control"
                        id="jawatanPemohon"
                        type="text"
                        name="jawatan"
                        [(ngModel)]="register.jawatan"
                        placeholder="Jawatan"
                        #jawatanPemohon="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && jawatanPemohon.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && jawatanPemohon.invalid" class="invalid-feedback">
                        <div *ngIf="jawatanPemohon.errors.required">Jawatan Wajib Diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />

                <h6>Maklumat Agensi</h6>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Nama Agensi*</label>
                      <ng-select
                        [items]="agency"
                        bindLabel="nama_agensi"
                        placeholder="Sila Pilih"
                        class="js-example-placeholder-multiple"
                        name="namaAgensi"
                        (change)="setAgensi()"
                        [(ngModel)]="agensi"
                        #namaAgensi="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && namaAgensi.invalid }"
                        required
                      ></ng-select>
                      <div
                        *ngIf="f.submitted && namaAgensi.invalid"
                        class="invalid-feedback"
                      >
                        <div *ngIf="namaAgensi.errors.required">
                          Nama Agensi Wajib Dipilih
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Nama Kementerian*</label>
                      <select
                        class="form-control"
                        name="id_kementerian"
                        [(ngModel)]="register.id_kementerian"
                        #kementerian="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && kementerian.invalid }"
                        required
                        disabled
                      >
                        <option selected disabled [value]="undefined">Sila Pilih</option>
                        <option *ngFor="let ministry of ministries" value="{{ministry.id}}">
                          {{ministry.nama_kementerian}}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && kementerian.invalid" class="invalid-feedback">
                        <div *ngIf="kementerian.errors.required">Kementerian Wajib Dipilih</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>No. Telefon Pejabat*</label>
                      <input
                        class="form-control"
                        id="noTelefonPejabat"
                        type="text"
                        name="telefon_pejabat"
                        [(ngModel)]="register.telefon_pejabat"
                        placeholder="No. Telefon Pejabat"
                        #noTelefonPejabat="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && noTelefonPejabat.invalid }"
                        minlength="9"
                        maxlength="12"
                        onlyNumbers
                        required
                      />
                      <div *ngIf="f.submitted && noTelefonPejabat.invalid" class="invalid-feedback">
                        <div *ngIf="noTelefonPejabat.errors.required">No. Telefon Pejabat Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Fax</label>
                      <input
                        class="form-control"
                        id="noFax"
                        type="text"
                        name="fax"
                        [(ngModel)]="register.fax"
                        placeholder="Fax"
                        minlength="8"
                        maxlength="15"
                        onlyNumbers
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Alamat 1*</label>
                      <input
                        class="form-control"
                        id="alamat1Agensi"
                        type="text"
                        name="alamat1"
                        [(ngModel)]="register.alamat1"
                        placeholder="Alamat 1"
                        #alamat1Agensi="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && alamat1Agensi.invalid }"
                        required
                      />
                      <div *ngIf="f.submitted && alamat1Agensi.invalid" class="invalid-feedback">
                        <div *ngIf="alamat1Agensi.errors.required">Alamat 1 Agensi Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Alamat 2</label>
                      <input
                        class="form-control"
                        id="alamat2Agensi"
                        type="text"
                        name="alamat2"
                        [(ngModel)]="register.alamat2"
                        placeholder="Alamat 2"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Poskod*</label>
                      <input
                        class="form-control"
                        id="poskodAgensi"
                        type="text"
                        name="poskod"
                        [(ngModel)]="register.poskod"
                        placeholder="Poskod"
                        #poskodAgensi="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && poskodAgensi.invalid }"
                        minlength="5"
                        maxlength="5"
                        onlyNumbers
                        required
                      />
                      <div *ngIf="f.submitted && poskodAgensi.invalid" class="invalid-feedback">
                        <div *ngIf="poskodAgensi.errors.required">Poskod Wajib Diisi</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Daerah*</label>
                      <ng-select
                        [items]="districts"
                        bindLabel="nama_daerah"
                        placeholder="Sila Pilih"
                        class="js-example-placeholder-multiple"
                        name="daerahAgensi"
                        (change)="setDaerah()"
                        [(ngModel)]="daerah"
                        #namaDaerah="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && namaDaerah.invalid }"
                        required
                      ></ng-select>
                      <div *ngIf="f.submitted && namaDaerah.invalid" class="invalid-feedback">
                        <div *ngIf="namaDaerah.errors.required">Daerah Wajib Diisi</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Negeri*</label>
                      <select
                        class="form-control"
                        name="id_negeri"
                        [(ngModel)]="register.id_negeri"
                        #negeri="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && negeri.invalid }"
                        required
                        disabled
                      >
                        <option selected disabled [value]="undefined">Sila Pilih</option>
                        <option *ngFor="let state of states" value="{{state.id}}">
                          {{state.nama_negeri}}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && negeri.invalid" class="invalid-feedback">
                        <div *ngIf="negeri.errors.required">Negeri Wajib Diisi</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters justify-content-end mt-3">
                  <button
                    class="btn btn-light mr-2"
                    [routerLink]="'/akaun/log-masuk'"
                  >
                    Kembali
                  </button>
                  <button class="btn btn-light mr-2" (click)="reset()" type="button">
                    Reset
                  </button>
                  <button class="btn btn-primary pull-right" type="submit">
                    Hantar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
