.image-center{
  flex-direction:row;
  justify-content:center;
  align-items:center;
};

ngx-dropzone{
  height: 50px;
  width: 200px
};

img{
  width: 100%;
};

.form-control[readonly] {
  background-color: white;
  font-size: 14px;
}

::ng-deep .ng-select.ng-select-disabled > .ng-select-container {
  background-color: #ffffff;
}
