<form class="form theme-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && uploadImage()">
  <div class="row">
    <div class="col-lg-4">
      <form [formGroup]="secondFormGroup">
        <div class="card shadow shadow-showcase" *ngIf="getMangsa.mangsa.gambar">
          <div class="product-box">
            <div class="product-img image-center">
              <img class="img-fluid" [src]="getMangsa.mangsa.gambar" alt="profile-image" />
              <div class="product-hover">
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Kemaskini Gambar</ngx-dropzone-label>
                </ngx-dropzone>
              </div>
              <div *ngFor="let f of files" [file]="f">
                <label>{{ f.name }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow shadow-showcase" *ngIf="!getMangsa.mangsa.gambar">
          <div class="product-box">
            <div class="product-img image-center">
              <img class="img-fluid" src="/assets/images/other-images/default-image.jpg" alt="profile-image" />
              <div class="product-hover">
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Kemaskini Gambar</ngx-dropzone-label>
                </ngx-dropzone>
              </div>
              <div *ngFor="let f of files" [file]="f">
                <label>{{ f.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Nama*</label>
            <input
              class="form-control"
              id="namaMangsa"
              type="text"
              name="nama"
              [(ngModel)]="getMangsa.mangsa.nama"
              placeholder="Nama"
              #namaMangsa="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && namaMangsa.invalid }"
              required
            />
            <div *ngIf="f.submitted && namaMangsa.invalid" class="invalid-feedback">
              <div *ngIf="namaMangsa.errors.required">Nama Mangsa Wajib Diisi</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>No Kad Pengenalan*</label>
            <input
              class="form-control"
              id="noKP"
              type="text"
              name="no_kp"
              [(ngModel)]="getMangsa.mangsa.no_kp"
              placeholder="No Kad Pengenalan"
              #noKP="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && noKP.invalid }"
              oninput="this.value=this.value.replace(/\D+/g, '');"
              minlength="12"
              maxlength="12"
              required
            />
            <div *ngIf="f.submitted && noKP.invalid" class="invalid-feedback">
              <div *ngIf="noKP.errors.required">No Kad Pengenalan Wajib Diisi</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>DUN*</label>
            <ng-select
              [items]="dun"
              bindLabel="nama_dun"
              placeholder="Sila Pilih"
              class="js-example-placeholder-multiple"
              name="namaDun"
              (change)="setParlimen()"
              [(ngModel)]="setDun"
              #dunMangsa="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && dunMangsa.invalid }"
              required
            ></ng-select>
            <div *ngIf="f.submitted && dunMangsa.invalid" class="invalid-feedback">
              <div *ngIf="dunMangsa.errors.required">DUN Wajib Dipilih</div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>Parlimen*</label>
            <select
              class="form-control"
              name="id_parlimen"
              [(ngModel)]="getMangsa.mangsa.id_parlimen"
              disabled
            >
              <option [ngValue]="undefined" disabled>Sila Pilih</option>
              <option *ngFor="let parliament of parliaments" value="{{parliament.id}}">
                {{parliament.nama_parlimen}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Alamat 1*</label>
        <input
          class="form-control"
          id="alamat1"
          type="text"
          name="alamat_1"
          [(ngModel)]="getMangsa.mangsa.alamat_1"
          placeholder="Alamat 1"
          #alamat1="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && alamat1.invalid }"
          required
        />
        <div *ngIf="f.submitted && alamat1.invalid" class="invalid-feedback">
          <div *ngIf="alamat1.errors.required">Alamat 1 Mangsa Wajib Diisi</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Alamat 2</label>
        <input
          class="form-control"
          id="alamat2"
          type="text"
          name="alamat_2"
          [(ngModel)]="getMangsa.mangsa.alamat_2"
          placeholder="Alamat 2"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Poskod*</label>
        <input
          class="form-control"
          id="poskodMangsa"
          type="text"
          name="poskod"
          [(ngModel)]="getMangsa.mangsa.poskod"
          placeholder="Poskod"
          #postcode="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && postcode.invalid }"
          oninput="this.value=this.value.replace(/\D+/g, '');"
          minlength="5"
          maxlength="5"
          required
        />
        <div *ngIf="f.submitted && postcode.invalid" class="invalid-feedback">
          <div *ngIf="postcode.errors.required">Poskod Wajib Diisi</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Daerah*</label>
        <ng-select
          [items]="districts"
          bindLabel="nama_daerah"
          placeholder="Sila Pilih"
          class="js-example-placeholder-multiple"
          name="namaDaerah"
          (change)="setNegeri()"
          [(ngModel)]="setDaerah"
          #daerah="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && daerah.invalid }"
          required
        ></ng-select>
        <div *ngIf="f.submitted && daerah.invalid" class="invalid-feedback">
          <div *ngIf="daerah.errors.required">Daerah Wajib Dipilih</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Negeri*</label>
        <select
          class="form-control"
          name="id_negeri"
          [(ngModel)]="getMangsa.mangsa.id_negeri"
          disabled
        >
          <option [ngValue]="undefined" disabled>Sila Pilih</option>
          <option *ngFor="let state of states" value="{{state.id}}">
            {{state.nama_negeri}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>No Telefon*</label>
        <input
          class="form-control"
          id="noTel"
          type="text"
          name="telefon"
          [(ngModel)]="getMangsa.mangsa.telefon"
          placeholder="No Telefon"
          #noTel="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && noTel.invalid }"
          oninput="this.value=this.value.replace(/\D+/g, '');"
          minlength="9"
          maxlength="15"
          required
        />
        <div *ngIf="f.submitted && noTel.invalid" class="invalid-feedback">
          <div *ngIf="noTel.errors.required">No Telefon Wajib Diisi</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group mb-3">
        <label>Catatan</label>
        <textarea
          class="form-control"
          rows="3"
          name="catatan"
          [(ngModel)]="getMangsa.mangsa.catatan"
          placeholder="Catatan..."
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row justify-content-end mr-1">
    <button type="button" class="btn btn-light pull-right mr-2" [routerLink]="['/app/mangsa/senarai-pengurusan-mangsa']">
      Kembali
    </button>
    <button class="btn btn-primary pull-right" type="submit">
      Simpan
    </button>
  </div>
</form>
